<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Role</h3>
</div>
<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Role:</td>
                <td><?php echo $this->row->role; ?></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-role').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>