
<?php if (count($this->paginator)) { ?>
    Total <?php echo $this->paginator->getTotalItemCount(); ?>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="75">Cód.
                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'id', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a> 
                    <a class="ordenador" title="ordem decrescente"  href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'id', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>                               
                </th>                              
                <th>Nome
                    <a title="ordem crescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'nome', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a title="ordem decrescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'nome', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                <!--<th>Razao Social</th>-->                                                                                        
    <!--                                <th>CPF/CNPJ
                    <a title="ordem crescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cpf_cnpj', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a title="ordem decrescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cpf_cnpj', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                </th>                                                                                        -->
    <!--                                <th>Profissão</th>                                                                                        
                <th>Cargo</th>                                                                                        -->
                <th>Data Cadastro
                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_cadastro', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_cadastro', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                </th>                                                                                        
    <!--                                <th>Cadastrado por
                    <a title="ordem crescente" class="ordenador" href="<?php // echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cadastrado_por', 'order' => 'ASC')), NULL, true);                ?>">&#x25BC</a>
                    <a title="ordem decrescente" class="ordenador" href="<?php // echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cadastrado_por', 'order' => 'DESC')), NULL, true);                ?>">&#x25B2;</a>
                </th>                                                                                        -->
                <th>Data Edição
                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_edicao', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_edicao', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                </th>                                                                                        
                <th>Editado por
                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'editado_por', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'editado_por', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                </th>                                                                                        
    <!--                                <th>Tipo
                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'tipo', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'tipo', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                </th>-->
                <!--<th>Status</th>-->
                <th width="100" class="tc">Ações</th>
            </tr>

        </thead>
        <tbody id="corpo-tabela">
            <?php foreach ($this->paginator as $row) { ?>
                <tr>
                    <td><?php echo $row->id; ?></td>
                    <td><?php echo $row->nome; ?></td>                                
                    <!--<td><?php // echo $row->razao_social;                                                                           ?></td>-->                                
                    <!--<td><?php // echo $row->cpf_cnpj;                   ?></td>-->                                
                    <!--<td><?php // echo $row->profissao;                                                                            ?></td>-->                                
                    <!--<td><?php // echo $row->cargo;                                                                            ?></td>-->                                
                    <td>
                        <?php
                        $date_cad = date_create($row->data_cadastro);
                        echo date_format($date_cad, 'd-m-Y');
                        ?>
                    </td>     

                                                                                                                <!--                                    <td>
                    <?php // echo $row->cadastrado_por; ?>
                                                                                                                                                    </td>                                -->
                    <td>
                        <?php
                        $date_edi = date_create($row->data_edicao);
                        echo date_format($date_edi, 'd-m-Y');
                        ?>
                    </td>  
                    <td>
                        <?php echo $this->getUsuarioNome($row->editado_por); ?>
                    </td>  
        <!--                                    <td>
                    <?php
//                                        switch ($row->tipo) {
//                                            case 'pf':
//                                                echo '<span class="label label-important">Pesso Física</span>';
//                                                break;
//                                            case 'pj':
//                                                echo '<span class="label label-inverse">Pessoa Jurídica</span>';
//                                                break;
//                                            default:
//                                                break;
//                                        }
                    ?>
                    </td>                                -->
                    <!--<td><?php // echo $row->editado_por;                                                                           ?></td>-->                                
        <!--                                    <td>
                    <?php
//                                        switch ($row->status) {
//                                            case 'ativo':
//                                                echo '<span class="label label-success">Ativo</span>';
//                                                break;
//                                            case 'inativo':
//                                                echo '<span class="label label-warning">Invativo</span>';
//                                                break;
//                                            case 'deletado':
//                                                echo '<span class="label label-important">Deletado</span>';
//                                                break;
//                                            default:
//                                                break;
//                                        }
                    ?>
                    </td>-->
                    <td>
                        <div class="btn-group">

                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row['id']), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-pessoa-juridica"><span class="icon-eye-open"></span></a>                                           
                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row['id']), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a>
                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row['id']), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ban' : 'ok'); ?>-circle"></span></a>
                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row['id']), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                        </div>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
<?php } else { ?>
    <div class="alert alert-info">
        <p>Nenhum registro encontrado.</p>
    </div>
<?php } ?>
<?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination_pessoa.phtml', array('search_params' => $this->search_params)); ?>
            