<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Cortar Imagem <?php echo $this->controlador; ?></h3>
</div>
<?php
$dimensoesOriginal = Model_Media::getDimensions($this->id);
?>
<div class="modal-body">
   
    <table class="table table-striped table-condensed">

        <tbody>            
            <tr>               
                <td>
                    <img src="<?php echo Model_Media::getThumbnail($this->id, $this->controlador, 'big'); ?>" id="cropbox-view" />                   
                </td>

                <td>
                    <div style="overflow-x:hidden; overflow-y:hidden; width:<?php echo $this->dimensions['width']; ?>px; height:<?php echo $this->dimensions['height'] ?>px;">
                        <img style="max-width: none;" src="<?php echo Model_Media::getThumbnail($this->id, $this->controlador, 'big'); ?>" id="preview" width="<?php echo $dimensoesOriginal["width"]; ?>" height="<?php echo $dimensoesOriginal["height"]; ?>"/>                        
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'crop-image'), NULL, true); ?>" method="post" id="frm-cropimage">
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="x2" name="x2" />
        <input type="hidden" id="y2" name="y2" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />
        <input type="hidden" name="id" value="<?php echo $this->id; ?>">
        <input type="hidden" name="slug" value="<?php echo $this->slug; ?>">
        <input type="hidden" name="controlador" value="<?php echo $this->controlador; ?>">
        <br>
        <input type="submit" value="Salvar" class="btn btn-primary" style="float:left"/>
        <div id="result" style="float:left; margin-left: 20px; "></div>
    </form>


</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-produto').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>
<script type="text/javascript">
    $(document).ready(function() {
            
        // Get accurate measurements from that.
        var sizeX = <?php echo $dimensoesOriginal["width"]; ?>;
        var sizeY =  <?php echo $dimensoesOriginal["height"]; ?>;

        var aspectRatioX = <?php echo $this->dimensions['width'] ?>;
        var aspectRatioY = <?php echo $this->dimensions['height'] ?>;
        var ratio = aspectRatioX / aspectRatioY;
        
        $('#cropbox-view').Jcrop({
            onChange: showPreview,
            onSelect: showPreview,
            aspectRatio: ratio,
            onRelease: hidePreview,
            boxWidth: 300,
            trueSize: [sizeX,sizeY]
        });
       
        
        var $preview = $('#preview');
        // Our simple event handler, called from onChange and onSelect
        // event handlers, as per the Jcrop invocation above
        function showPreview(coords)
        {
            if (parseInt(coords.w) > 0)
            {
                var rx = aspectRatioX / coords.w;
                var ry = aspectRatioY / coords.h;

                $preview.css({
                    width: Math.round(rx * sizeX) + 'px',
                    height: Math.round(ry * sizeY) + 'px',
                    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                    marginTop: '-' + Math.round(ry * coords.y) + 'px'
                }).show();
      
                jQuery('#x').val(coords.x);
                jQuery('#y').val(coords.y);
                jQuery('#x2').val(coords.x2);
                jQuery('#y2').val(coords.y2);
                jQuery('#w').val(coords.w);
                jQuery('#h').val(coords.h);
            }
        }

        function hidePreview()
        {
            $preview.stop().fadeOut('fast');
        }
        function checkCoords()
        {
            if (parseInt($('#w').val())) return true;
            alert('Please select a crop region then press submit.');
            return false;
        };
        $("#frm-cropimage").submit(function(event) {
            /* stop form from submitting normally */            
            event.preventDefault();
            $( "#result" ).html('<div align="center"><img src="'+base_url+'/public/assets/img/loader.gif"></div>');
            if(checkCoords()){              
                /* get some values from elements on the page: */
                var $form = $( this ),
                dados = $form.serialize(),
                url = $form.attr( 'action' );
 
                /* Send the data using post */
                $.post( url, dados , function(data){
                    if(data.tipo=='success'){               

                        $( "#result" ).empty().append('Salvo <i class="icon-ok"></i>');
                        $( "#<?php echo $this->slug; ?>" ).attr('src', data.msg) //Set the source so it begins fetching
                        .each(function() {
                            //Cache fix for browsers that don't trigger .load()
                            if(this.complete) $(this).trigger('load');
                        });
                    }else{
                        $( "#result" ).empty().append('Erro <i class="icon-remove"></i>');
                    }
                }, "json");
            }
        });

    });
</script>