<!-- A parte superior do arquivo index.html -->
<html itemscope itemtype="http://schema.org/Article">
    <head>
        <!-- INÍCIO dos pré-requisitos -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script type="text/javascript">
            (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>
        <!-- FIM dos pré-requisitos -->
    </head>
    <body>
        <!-- Adicione onde quer que seu botão de login seja exibido -->
        <div id="signinButton">
            <span class="g-signin"
                  data-scope="https://www.googleapis.com/auth/plus.login"
                  data-clientid="YOUR_CLIENT_ID"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback">
            </span>
        </div>
        <div id="result"></div>
<script type="text/javascript">
function signInCallback(authResult) {
  if (authResult['code']) {

    // Ocultar o botão de login agora que o usuário está autorizado, por exemplo:
    $('#signinButton').attr('style', 'display: none');

    // Enviar o código para o servidor
    $.ajax({
      type: 'POST',
      url: 'plus.php?storeToken',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Gerenciar ou verificar a resposta do servidor, se necessário.

        // Imprime a lista de pessoas que o usuário permitiu que o aplicativo visse
        // para o console.
        console.log(result);
        if (result['profile'] && result['people']){
          $('#results').html('Hello ' + result['profile']['displayName'] + '. You successfully made a server side call to people.get and people.list');
        } else {
          $('#results').html('Failed to make a server-side call. Check your configuration and console.');
        }
      },
      processData: false,
      data: authResult['code']
    });
  } else if (authResult['error']) {
    // Ocorreu um erro.
    // Possíveis códigos de erro:
    //  "access_denied" - o usuário negou o acesso a seu aplicativo
    //   "immediate_failed" - não foi possível fazer o login do usuário automaticamente
    // console.log('There was an error: ' + authResult['error']);
  }
}
</script>

    </body>
</html>
