body.login {
    background-image: url('../../dist/imgs/header-background-min.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.login h1 a {
    background-image: url('../../dist/imgs/logo.png');
    background-size: cover;
    width: 280px;
    height: 152px;
}

.login label {
    font-size: 12px;
    color: #555555;
}

.login input[type="text"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login input[type="password"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}
.login .button-primary {
    width: 120px;
    float:right;
    color: #fff;
    background: #121979;
    background: -moz-linear-gradient(top, #121979 0%, #0e5c9b 100%);
    background: -webkit-linear-gradient(top, #121979 0%,#0e5c9b 100%);
    background: linear-gradient(to bottom, #121979 0%,#0e5c9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121979', endColorstr='#0e5c9b',GradientType=0 );

    -webkit-border-radius: 10px;
    border: 1px solid #0e5c9b;
    text-shadow: none;
    box-shadow: none;
}

.login .button-primary:hover,.login .button-primary:active {
    background-color:#2eab2e  !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#54d154), to(#2eab2e));
    background: -webkit-linear-gradient(top, #54d154, #2eab2e);
    background: -moz-linear-gradient(top, #54d154, #2eab2e);
    background: -ms-linear-gradient(top, #54d154, #2eab2e);
    background: -o-linear-gradient(top, #54d154, #2eab2e);
    background-image: -ms-linear-gradient(top, #0b436e 0%, #2eab2e 100%);

    border: 1px solid #2eab2e;
}



.login #nav a, .login #backtoblog a {
    color: #fff;
    text-decoration: none;
}