/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 9:24:14 AM
    Author     : papaulo
*/

#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.pequeno_empresario::before{background: none repeat scroll 0 0 #09b0d9;}
#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.mei::before {background: none repeat scroll 0 0 #11749e;}
#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.produtor_rural::before {background:  none repeat scroll 0 0 #4cb848;}
#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.micro_empresario::before {background: none repeat scroll 0 0 #d51e40;}
#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.potencial_empreendedor::before {background:none repeat scroll 0 0 #924299;}
#calendar #wrapper-calendar #r-calendar #coluna2 .content .lista-eventos li.potencial_empresario::before {background: none repeat scroll 0 0 #faba13}

#newsletter .alert {
    background: none repeat scroll 0 0 #4cb848; 
    /*height: 320px;*/
	height:auto;
	padding:25px 0;
    margin-top: -10px;
    float: left;
    text-align: center;
    position: relative;
    box-shadow: 1px 4px 9px #4e6d4c;
}
.block{display: block !important}
#newsletter .alert .btn-voltar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #924299;
    border-color: -moz-use-text-color -moz-use-text-color #86388D;
    border-image: none;
    border-radius: 5px;
    border-style: none none solid;
    border-width: medium medium 2px;
    box-shadow: none;
    color: #fff;
    font-family: "today-shop";
    font-size: 1rem;
    height: 45px;
    letter-spacing: 2px;
    margin: 30px 0 0 0;
    text-shadow: none;
    text-transform: uppercase;
    width: auto;
	padding:0 5%;
}

.filtros-container {
	display:inline-block !important;
}

#wrapper-txt .tit {
line-height:4.3rem;
}
