<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <legend>Notificações</legend>
                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="email" id="email" value="0" <?php echo !$this->row->email ? 'checked' : ''; ?>>
                                    não
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="email" id="email" value="1" <?php echo $this->row->email ? 'checked' : ''; ?>>
                                    sim
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="facebook">Facebook</label>
                            <div class="controls">
                                <label class="radio inline" >
                                    <input type="radio" name="facebook" id="facebook" value="0" <?php echo !$this->row->facebook ? 'checked' : ''; ?>>
                                    não
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="facebook" id="facebook" value="1" <?php echo $this->row->facebook ? 'checked' : ''; ?>>
                                    sim
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="twitter">Twitter</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="twitter" id="twitter" value="0" <?php echo !$this->row->twitter ? 'checked' : ''; ?>>
                                    não
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="twitter" id="twitter" value="1" <?php echo $this->row->twitter ? 'checked' : ''; ?>>
                                    sim
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="gcalendar">gcalendar</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="gcalendar" id="gcalendar" value="0" <?php echo !$this->row->gcalendar ? 'checked' : ''; ?>>
                                    não
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="gcalendar" id="gcalendar" value="1" <?php echo $this->row->gcalendar ? 'checked' : ''; ?>>
                                    sim
                                </label>
                            </div>
                        </div>

                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>

                </form>
            </div>
        </div>

    </div>
</div>
