<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Notificações</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Email:</b></td>
                <td><?php echo $this->row->email ? '<span class="icon-ok"></span>' : ''; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Facebook:</b></td>
                <td><?php echo $this->row->facebook ? '<span class="icon-ok"></span>' : ''; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Twitter:</b></td>
                <td><?php echo $this->row->twitter ? '<span class="icon-ok"></span>' : ''; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Google Plus:</b></td>
                <td><?php echo $this->row->gcalendar ? '<span class="icon-ok"></span>' : ''; ?></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-notification').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>