<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="titulo">Título</label>
                            <div class="controls">
                                <input type="text" id="titulo" name="titulo" value="<?php echo $this->row->titulo; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="com">Relacionamento Com</label>
                            <div class="controls">
                                <input type="text"  id="com" name="com" value="<?php echo $this->row->com; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tipo">Tipo</label>
                            <div class="controls">
                                <input type="text"  id="tipo" name="tipo" value="<?php echo $this->row->tipo ?>">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="data_inicio">Data Nascimento</label>
                            <?php
                            $dia = '';
                            $mes = '';
                            $ano = '';
                            if (isset($this->row->data_inicio) && !empty($this->row->data_inicio))
                                list($ano, $mes, $dia) = explode("-", $this->row->data_inicio);
                            ?>
                            <div class="controls">
                                <select id="dia" name="dia" class="span1">
                                    <option value="">Dia</option>
                                    <?php
                                    for ($i = 1; $i <= 31; $i++) {
                                        $sel = '';
                                        if ($dia == $i)
                                            $sel = 'selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                                <select id="mes" name="mes" class="span1">
                                    <option value="">Mês</option>
                                    <?php
                                    for ($i = 1; $i <= 12; $i++) {
                                        $sel = '';
                                        if ($mes == $i)
                                            $sel = 'selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                                <select id="ano" name="ano" class="span1">
                                    <option value="">Ano</option>
                                    <?php
                                    for ($i = (int) date("Y"); $i >= 1900; $i--) {
                                        $sel = '';
                                        if ($ano == $i)
                                            $sel = 'selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="genero">Gênero</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="genero" id="rd-feminino" value="f" <?php echo ($this->row->genero == 'f') ? 'checked' : '' ?>>
                                    Feminino
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="genero" id="rd-masculino" value="m" <?php echo ($this->row->genero == 'm') ? 'checked' : '' ?>>
                                    Masculino
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="genero">Notificações</label>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="notification_email" name="notification_email" value="1" <?php echo $this->row->notification_email ? 'checked' : ''; ?>>
                                    email
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" id="notification_facebook" name="notification_facebook"  value="1" <?php echo $this->row->notification_facebook ? 'checked' : ''; ?>>
                                    facebook 
                                </label>  
                                <label class="checkbox inline">
                                    <input type="checkbox" id="notification_gcalendar" name="notification_gcalendar"  value="1" <?php echo $this->row->notification_gcalendar ? 'checked' : ''; ?>>
                                    google calendar 
                                </label>  
                            </div>
                        </div>

                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>

                </form>
            </div>
        </div>

    </div>
</div>
