
<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">
        <?php
        echo $this->partial('partial/messages.phtml');
        ?>
        <div class="row">
            <div class="span10">
                <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="6%">Cód.</th>                               
                                <th>Título</th>
                                <th>Relacionamento Com</th>
                                <th>Gênero</th>                                
                                <th>Tipo</th>                                
                                <th>Data Início</th>                                                               
                                <th>Notificações</th>                                                               
                                <th width="25%" class="tc">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                                <tr>
                                    <td><?php echo $row->id; ?></td>
                                    <td><?php echo $row->titulo; ?></td>
                                    <td><?php echo $row->com; ?></td>
                                    <td><?php echo $row->genero = 'f' ? 'feminino' : 'masculino'; ?></td>
                                    <td><?php echo $row->tipo; ?></td>
                                    <td><?php
                        $date = date_create($row->data_inicio);
                        echo date_format($date, 'd-m-Y');
                                ?></td>                                    
                                    <td>
                                        <?php echo $row->notification_email ? '<img src="' . $this->baseUrl() . '/public/assets/img/mail_square2.png" />' : ''; ?>
                                        <?php echo $row->notification_facebook ? '<img src="' . $this->baseUrl() . '/public/assets/img/facebook_square.png" />' : ''; ?>                                        
                                        <?php echo $row->notification_gcalendar ? '<img src="' . $this->baseUrl() . '/public/assets/img/google_square.png" />' : ''; ?>
                                    </td>                                    
                                    <td class="tc">
                                        <div class="btn-group">                                            
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'reminder', 'action' => 'index', 'relationship_id' => $row->id), NULL, true); ?>" class="btn bt-reminder" title="Lembretes"><span class="icon-bell"></span></a>                                                                                         
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row->id), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-relationship"><span class="icon-eye-open"></span></a>                                                                                         
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row->id), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row->id), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ban' : 'ok'); ?>-circle"></span></a>                                            
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row->id, 'user_id' => $row->users_id), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                <?php } ?>
            </div>
        </div>

        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>

    </div>
    <div id="view-relationship" class="modal hide fade">
    </div>
</div>
