<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Contato</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Título:</b></td>
                <td><?php echo $this->row->titulo; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Relacionamento com:</b></td>
                <td><?php echo $this->row->com; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Gênero:</b></td>
                <td><?php echo $this->row->genero == 'f' ? 'feminino' : 'masculino'; ?></td>
            </tr>
            <tr>
                <td><b>Tipo:</b></td>
                <td><?php echo $this->row->tipo; ?></td>
            </tr>          

            <tr>
                <td><b>Data de início:</b></td>
                <td>
                    <?php
                    $date = date_create($this->row->data_inicio);
                    echo date_format($date, 'd-m-Y');
                    ?>
                </td>
            </tr> 
            <tr>
                <td><b>Notificações:</b></td>
                <td>
                    <?php echo $this->row->notification_email ? '<img src="' . $this->baseUrl() . '/public/assets/img/mail_square2.png" />' : ''; ?>
                    <?php echo $this->row->notification_facebook ? '<img src="' . $this->baseUrl() . '/public/assets/img/facebook_square.png" />' : ''; ?>
                    
                    <?php echo $this->row->notification_gcalendar ? '<img src="' . $this->baseUrl() . '/public/assets/img/google_square.png" />' : ''; ?>
                </td>
            </tr>   

        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-contact').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>