<section id="settings">
    <div class="page-header">
        <h1>Configuração de Conta</h1>
    </div>

    <div class="row">
        <div class="span10 offset1">        
            <?php
            echo $this->partial('partial/messages.phtml');
            ?>
            <form class="form-horizontal well" action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" enctype="multipart/form-data">
                <div id="result">
                    <div class="row">
                        <div class="span9">
                            <div class="alert hide">
                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                <h4></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id" value="<?php echo $this->row->id; ?>" class="cod">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="first_name">Nome</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="first_name" name="first_name" value="<?php echo $this->row->first_name ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="last_name">Sobrenome</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="last_name" name="last_name" value="<?php echo $this->row->last_name ?>">
                        </div>
                    </div>   
                    <div class="control-group">
                        <label class="control-label" for="display_name">Nome de exibição</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="display_name" name="display_name" value="<?php echo $this->row->display_name ?>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">*Email:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="email" name="email"  value="<?php echo $this->row->email ?>">
                        </div>
                    </div>  
                    <div class="control-group">
                        <label class="control-label" for="password">password</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="password" name="password" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="data_nascimento">Data Nascimento</label>
                        <?php
                        $dia = '';
                        $mes = '';
                        $ano = '';
                        if (isset($this->row->data_nascimento) && !empty($this->row->data_nascimento))
                            list($ano, $mes, $dia) = explode("-", $this->row->data_nascimento);
                        ?>
                        <div class="controls">
                            <select id="dia" name="dia" class="span1">
                                <option value="">Dia</option>
                                <?php
                                for ($i = 1; $i <= 31; $i++) {
                                    $sel = '';
                                    if ($dia == $i)
                                        $sel = 'selected="selected"';
                                    ?>
                                    <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                <?php } ?>
                            </select>
                            <select id="mes" name="mes" class="span1">
                                <option value="">Mês</option>
                                <?php
                                for ($i = 1; $i <= 12; $i++) {
                                    $sel = '';
                                    if ($mes == $i)
                                        $sel = 'selected="selected"';
                                    ?>
                                    <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                <?php } ?>
                            </select>
                            <select id="ano" name="ano" class="span1">
                                <option value="">Ano</option>
                                <?php
                                for ($i = (int) date("Y") - 15; $i >= 1900; $i--) {
                                    $sel = '';
                                    if ($ano == $i)
                                        $sel = 'selected="selected"';
                                    ?>
                                    <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="genero">Gênero</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="genero" id="rd-feminino" value="f" <?php echo ($this->row->genero == 'f') ? 'checked' : '' ?>>
                                Feminino
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="genero" id="rd-masculino" value="m" <?php echo ($this->row->genero == 'm') ? 'checked' : '' ?>>
                                Masculino
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="endereco">Endereço Completo</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="endereco" name="endereco" value="<?php echo $this->row->endereco; ?>" onChange="//procuraEndereco($(this), this.value, <?php echo $this->row->id ?>);" >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="cidade">Cidade</label>
                        <div class="controls">
                            <input type="text" class="input" id="cidade" name="cidade" value="<?php echo $this->row->cidade; ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pais">País</label>
                        <div class="controls">
                            <input type="text" class="input" id="pais" name="pais" value="<?php echo $this->row->pais; ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="idioma">Idioma</label>
                        <div class="controls">
                            <select id="idioma" name="idioma" >
                                <option value="pt_BR">Português</option>
                                <option value="en">Inglês</option>                                  
                            </select>                               
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="foto">Foto</label>
                        <div class="controls">
                            <?php if ($this->row->media_id) { ?>
                                <img src="<?php echo Model_Media::getThumbnail($this->row->media_id, 'user', 'site'); ?>" id="small" class="img-circle"/>

                            <?php } else if ($this->row->foto_url) { ?>
                                <img src="<?php echo $this->row->foto_url; ?>" id="small" class="img-circle"/>
                            <?php } else { ?>
                                <img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=sem+imagem" class="img-circle"/>                                        
                            <?php } ?>     
                        </div>
                    </div>
                    <!--                    <div class="control-group">
                                            <label class="control-label" for="foto">Foto</label>
                                            <div class="controls">
                                                <div class="fluid">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail">
                    <?php // if ($this->row->foto) {   ?>
                                                                <img src="<?php // echo Model_Media::getThumbnail($this->row->foto, $this->controller, 'small');                                              ?>" id="thumbnail"/>
                    <?php // } else {   ?>
                                                                <img src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=sem+imagem" />                                        
                    <?php // }   ?> 
                                                        </div>
                    
                                                        <div class="fileupload-preview fileupload-exists thumbnail" data-provides="fileupload" data-name="foto" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    
                                                        <div>
                                                            <span class="btn btn-file">
                                                                <span class="fileupload-new" >Enviar imagem</span>
                                                                <span class="fileupload-exists">Mudar</span>
                                                                <input type="file" name="foto" id="foto"/>
                                                            </span>
                                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Suas redes vinculadas</legend>
                    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">

                        <?php foreach ($this->providers as $provider) { ?>
                            <?php if ($provider->provider == 'facebook') { ?>
                                <button type="button" class="btn btn-large btn-block btn-success">Facebook</button>
                            <?php } ?>
                            <?php if ($provider->provider == 'twitter') { ?>
                                <button type="button" class="btn btn-large btn-block btn-info">Twitter</button>
                            <?php } ?>
                            <?php if ($provider->provider == 'google+') { ?>
                                <button type="button" class="btn btn-large btn-block btn-primary">Google+</button>
                            <?php } ?>
                        <?php } ?>
                    </div>
                </fieldset>
            </form>
            <form id="upload" method="post" action="/user/settings/foto" enctype="multipart/form-data">
                <div id="drop">
                    Solte aqui

                    <a>Escolha</a>
                    <input type="file" name="foto" />
                </div>

                <ul>
                    <!-- The file uploads will be shown here -->
                </ul>

            </form>
        </div>
    </div>

</section>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=pt-BR"></script>
