<div class="content">

    <section id="account" class="page interna">

        <form class="frm-dados" name="frm-settings" id="frm-settings" action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'index'), 'user-settings', true); ?>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<?php echo $this->row->id; ?>" class="cod">

            <div class="header-page">
                <h2>Configurações da Conta</h2>	
                <button type="submit" class="btn-salvar">Salvar</button>
            </div>

            <div class="content-page">
                <blockquote>
                    <h2>Estamos quase lá...</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <?php
                    echo $this->partial('partial/messages.phtml');
                    ?>
                </blockquote>


                <!--                <fieldset class="box-imagem">
                                    <figure>
                <?php if ($this->row->media_id) { ?>
                                                                        <img src="<?php echo Model_Media::getThumbnail($this->row->media_id, 'user', 'site'); ?>" id="small" class="img-circle"/>
                <?php } else if ($this->row->foto_url) { ?>
                                                                        <img src="<?php echo $this->row->foto_url; ?>" id="small" class="img-circle"/>
                <?php } else { ?>
                                                                        <img src="http://www.placehold.it/222x222/EFEFEF/AAAAAA&amp;text=sem+imagem" class="img-circle"/>                                        
                <?php } ?> 
                                    </figure>
                                    <button type="button">enviar nova imagem</button>
                                    <div class="progress">
                                        <div class="bar"></div >
                                        <div class="percent">0%</div >
                                    </div>
                                </fieldset>-->

                <fieldset class="fields">

                    <span>
                        <label for="email">*Email:</label>
                        <i class="icon icon-mail"></i>
                        <input type="text" name="email" id="email" value="<?php echo $this->row->email; ?>" />
                    </span>

                    <span>
                        <label for="first_name">*Nome:</label>
                        <i class="icon icon-vcard"></i>
                        <input type="text" name="first_name" id="first_name" value="<?php echo $this->row->first_name; ?>" />
                    </span>
                    <span>
                        <label for="last_name">Sobrenome:</label>

                        <input type="text" name="last_name" id="last_name" value="<?php echo $this->row->last_name; ?>" />
                    </span>
                    <span>
                        <label for="display_name">Como desejar ser chamado:</label>

                        <input type="text" name="display_name" id="display_name" value="<?php echo $this->row->display_name; ?>" />
                    </span>


                    <span>
                        <label for="pais">País:</label>
                        <i class="icon icon-earth"></i>
                        <!--<input type="text" name="pais" id="pais_name" value="<?php echo $this->row->pais; ?>" />-->
                        <select name="pais" id="pais" class="customSelectPais">
                            <?php foreach ($this->paises as $abbr => $pais) { ?>
                            <option value="<?php echo $abbr; ?>" data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/flagicons/gif/<?php echo strtolower($abbr); ?>.gif" <?php echo ($abbr == $this->row->pais) ? 'selected="selected"' : ""; ?>><?php echo $this->escape($pais); ?></option>       
                            <?php } ?>
                            <!--<option value="BR" selected="selected" >Brazil</option>-->
                        </select>
                    </span>
<!--                     <span>
                        <label for="endereco">Endereço:</label>
                        <i class="icon icon-location"></i>
                        <input type="text" id="endereco" name="endereco" value="<?php echo $this->row->endereco; ?>" onChange="//procuraEndereco($(this), this.value, <?php echo $this->row->id ?>);" >
                                               <input type="text" name="endereco" id="endereco" value="<?php echo $this->row->endereco; ?>" />
                    </span>-->

                    <span>
                        <label for="location">Localização:</label>
                        <i class="icon icon-location"></i>
                        <!--<input type="text" name="cidade" id="cidade" value="<?php // echo $this->row->cidade;    ?>" size="50"/>-->
                        <input name="regiao" type="text" placeholder="Cidade, Estado, País" id="location" value="<?php echo $this->row->cidade; ?>, <?php echo $this->row->estado; ?>">
                        <input name="cidade" type="hidden">
                        <input name="estado" type="hidden">
                        <input name="pais" type="hidden">
                        <input name="lat" type="hidden">
                        <input name="lng" type="hidden">
                        <input name="location_id" type="hidden">
                    </span>

                    <span>
                        <label for="genero">Gênero:</label>
                        <select name="genero" id="genero" class="customSelectGenero">                            
                            <option value="m"<?php echo ($this->row->genero == 'm') ? ' selected="selected"' : ''; ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-mas.png" class="ico-masculino">Masculino</option>
                            <option value="f"<?php echo ($this->row->genero == 'f') ? ' selected="selected"' : ''; ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-fem.png" class="ico-feminino">Feminino</option>
                        </select>
                    </span>

<!--                    <span>
                        <label for="idioma">Idioma:</label>
                        <i class="icon icon-location"></i>
                        <input type="text" name="idioma" id="idioma" value="<?php echo $this->row->idioma; ?>" />
                         <select name="idioma" id="idioma" class="customSelectIdioma">
                            <option value="pt_BR">Português</option>
                            <option value="en">Inglês</option>
                        </select> 
                    </span>-->
                    <?php if (count($this->providers)) { ?>
                        <h3>Suas redes vinculadas</h3>
                        <?php foreach ($this->providers as $provider) { ?>
                            <?php //if ($provider->provider == 'facebook') { ?>
                            <span>
                                <label for="facebook">Facebook:</label>
                                <i class="icon icon-facebook"></i>
                                <input type="text" name="facebook" id="facebook" />
                            </span>
                            <?php //} ?>
                            <?php //if ($provider->provider == 'twitter') { ?>
                            <span>
                                <label for="twitter">Twitter:</label>
                                <i class="icon icon-twitter"></i>
                                <input type="text" name="twitter" id="twitter" />
                            </span>
                            <?php //} ?>
                            <?php //if ($provider->provider == 'google+') { ?>
                            <span>
                                <label for="googleplus">Google Plus:</label>
                                <i class="icon icon-googleplus"></i>
                                <input type="text" name="googleplus" id="googleplus" />
                            </span>
                            <?php //} ?>
                        <?php } ?>
                    <?php } ?>

                </fieldset>

            </div>

        </form>
        <style>
            #progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
            #bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
            #percent { position:absolute; display:inline-block; top:3px; left:48%; }
        </style>
        <form class="frm-dados" name="frm-settings-foto" id="frm-settings-foto" action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'foto'), 'user-settings-foto', true); ?>" method="post" enctype="multipart/form-data">
            <div class="content-page">
                <fieldset class="box-imagem">
                    <figure>
                        <?php if ($this->row->media_id) { ?>
                            <img src="<?php echo Model_Media::getThumbnail($this->row->media_id, 'user', 'site'); ?>" id="user-foto" class="img-circle"/>
                        <?php } else if ($this->row->foto_url) { ?>
                            <img src="<?php echo $this->row->foto_url; ?>" id="small" class="img-circle"/>
                        <?php } else { ?>
                            <img src="http://www.placehold.it/222x222/EFEFEF/AAAAAA&amp;text=sem+imagem" class="img-circle"/>                                        
                        <?php } ?> 
                    </figure>
                    <input type="file" name="myfile"><br>
                    <input type="submit" value="enviar nova imagem">
                    <!--<button type="button">enviar nova imagem</button>-->
                    <div id="progress" class="none">
                        <div id="bar"></div>
                        <div id="percent">0%</div >
                    </div>
                    <br/>

                    <div id="message"></div>
                </fieldset>
            </div>
        </form>
    </section>

</div>

<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>