<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Luvminder</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.less" type="text/less" media="screen" />
	<link rel="stylesheet" href="css/padrao.css" type="text/less" media="screen" />
	<link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css" type="text/less" media="screen" />
	<?php if(strpos($_SERVER['HTTP_USER_AGENT'],'iPad')): ?>
	<meta name="viewport" content="width=1248">
<?php else: ?>
	<meta name="viewport" content="width=device-width">
<?php endif; ?>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<script src="http://vjs.zencdn.net/4.2/video.js"></script>
<link href="http://vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
<script src="<?php echo $this->baseUrl(); ?>/user/js/libs/modernizr.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/user/js/libs/less.js"></script>

<script>
var base_url = '<?php echo $this->baseUrl(); ?>/user/';
</script>
</head>

<body rel="<?php echo $this->pageRel; ?>">
	<div id="wrap">
		<div id="container">
			<div class="overlay"></div>
			<header id="header" class="restrita">
				<div class="delimitador">
					<h1><a href="<?php echo $this->baseUrl(); ?>/user/index" title="Luvminder" class="logo indent"></a></h1>
					<nav>
						<ul>
							<li>Olá, Márcio</li>
							<li><a href="<?php echo $this->baseUrl(); ?>/user/settings" title="Editar Perfil" class="editar-perfil">Editar Perfil</a></li>
							<li><a href="<?php echo $this->baseUrl(); ?>/user/dates-pane" title="Minhas Datas" class="icon-calendar datas">Minhas Datas</a></li>
							<li><a href="<?php echo $this->baseUrl(); ?>/user/logout" title="Sair" class="icon-logout sair">Sair</a></li>
						</ul>
					</nav>
				</div>
			</header><!-- /header -->
			<?php echo $this->layout()->content; ?>
		</div><!-- /container -->	


	</div><!-- /wrap -->
	<footer id="footer">
		<div class="delimitador">
			<a href="javascript:void(0)" class="voltar-topo">voltar pro topo</a>
			<div class="criado">criado e oferecido por:</div>
			<img class="sopa-quali" src="<?php echo $this->baseUrl(); ?>/user/imagens/300/sopa-qualitare.png" alt="Sopa e Qualitare" />
		</div>
	</footer>
	<script data-main="<?php echo $this->baseUrl(); ?>/user/js/main" src="<?php echo $this->baseUrl(); ?>/user/js/libs/require-jquery.js"></script>
</body>
</html>