<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well">
                    <fieldset>
                        <legend>Dados Pessoais</legend>
                        <div class="control-group">
                            <label class="control-label" for="categoria">Categoria</label>
                            <div class="controls">
                                <select id="categoria_id" name="categoria_id">
                                    <option value="">Selecione uma categoria</option>
                                    <?php
                                    foreach ($this->categorias as $categoria) {
                                        
                                        ?>
                                        <option value="<?php echo $categoria->id; ?>" ><?php echo $categoria->nome; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="razao_social">Razão Social</label>
                            <div class="controls">
                                <input type="text" class="input-xxlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="razao_social" name="razao_social">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xxlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="nome" name="nome">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="cnpj">CNPJ</label>
                            <div class="controls">
                                <input type="text" class="input-medium cnpj {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="cnpj" name="cnpj">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cargo">Cargo</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="cargo" name="cargo">
                            </div>
                        </div>



                    </fieldset>
                    <fieldset>
                        <legend>Dados de Endereço</legend>

                        <div class="control-group">
                            <label class="control-label" for="cep">Cep</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-small fld_cep cep" id="cep" name="cep" size="9" type="text" value="">
                                    <button class="btn" type="button"><span class="icon-search"></span>Buscar cep</button>
                                    <button class="btn" type="button" onClick="limparCampos();">Limpar</button>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="estado">Estado</label>
                            <div class="controls">
                                <select id="uf" name="uf">
                                    <option value="">Selecione um Estado</option>
                                    <?php
                                    foreach ($this->estados as $sigla => $estado) {
                                        ?>
                                        <option value="<?php echo $sigla; ?>"><?php echo $estado; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cidade">Cidade</label>
                            <div class="controls">
                               <input type="text" placeholder=""  class="span3" id="cidade" name="cidade" value="">                                    
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="bairro">Bairro</label>
                            <div class="controls">                                                                        
                                <input type="text" placeholder=""  class="span3" id="bairro_input" name="bairro" value="">                                    
                            </div>
                        </div>                             

                        <div class="control-group">
                            <label class="control-label" for="endereco">Endereço Completo</label>
                            <div class="controls">                                   
                                <input type="text" class="span5" id="endereco" name="endereco" value="">                                    
                            </div>
                        </div>

                    </fieldset>

                    <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>