<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>



<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <legend>Dados do Cliente</legend>
                        <div class="control-group">
                            <label class="control-label" for="categoria">Categoria</label>
                            <div class="controls">
                                <select id="categoria_id" name="categoria_id">
                                    <option value="">Selecione uma categoria</option>
                                    <?php
                                    foreach ($this->categorias as $categoria) {
                                        $sel = '';
                                        if ($categoria->id == $this->row->categoria_id) {
                                            $sel = ' SELECTED="SELECTED"';
                                        }
                                        ?>
                                        <option value="<?php echo $categoria->id; ?>" <?php echo $sel; ?>><?php echo $categoria->nome; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="nome" name="nome" value="<?php echo $this->row->nome; ?>">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="cpf">CPF</label>
                            <div class="controls">
                                <input type="text" class="input-large cpf {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="cpf" name="cpf" value="<?php echo $this->row->cpf; ?>">
                            </div>
                        </div>


                    </fieldset>
                    <fieldset>
                        <legend>Dados de Endereço</legend>

                        <div class="control-group">
                            <label class="control-label" for="cep">Cep</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-small fld_cep cep" id="cep" name="cep" size="16" type="text" value="<?php echo $this->row->cep; ?>">
                                    <button class="btn" type="button" ><span class="icon-search"></span>Buscar cep</button>
                                    <button class="btn" type="button" onClick="limparCampos();">Limpar</button>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="uf">Estado</label>
                            <div class="controls">
                                <select id="uf" name="uf">
                                    <option value="">Selecione um Estado</option>
                                    <?php
                                    foreach ($this->estados as $sigla => $estado) {
                                        $sel = '';
                                        if ($sigla == $this->row->uf) {
                                            $sel = ' SELECTED="SELECTED"';
                                        }
                                        ?>
                                        <option value="<?php echo $sigla; ?>" <?php echo $sel; ?>><?php echo $estado; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cidade">Cidade</label>
                            <div class="controls">
                                <input type="text" placeholder=""  class="span3" id="cidade" name="cidade" value="<?php echo $this->row->cidade; ?>">                                    
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="bairro">Bairro</label>
                            <div class="controls">
                                <input type="text" placeholder=""  class="span3" id="bairro_input" name="bairro" value="<?php echo $this->row->bairro; ?>">                                                       

                            </div>
                        </div>                             

                        <div class="control-group">
                            <label class="control-label" for="endereco">Endereço</label>
                            <div class="controls">                            
                                <input type="text" id="endereco" name="endereco" value="<?php echo $this->row->endereco; ?>" >
                            </div>
                        </div>



                    </fieldset>

                    <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
