<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Pessoa Física</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Nome:</b></td>
                <td><?php echo $this->row->nome; ?></td>
            </tr>
           
            <tr>
                <td><b>CPF:</b></td>
                <td><?php echo $this->row->cpf; ?></td>
            </tr>
            <tr>
                <td><b>Profissão:</b></td>
                <td><?php echo $this->row->profissao; ?></td>
            </tr>
          
            <tr>
                <td><b>Endereço:</b></td>
                <td><?php echo $this->row->endereco; ?></td>
            </tr>
            <tr>
                <td><b>Bairro:</b></td>
                <td><?php echo $this->row->bairro; ?></td>
            </tr>
            <tr>
                <td><b>Cidade:</b></td>
                <td><?php echo $this->row->cidade; ?> - <?php echo $this->row->uf; ?></td>
            </tr>
            <tr>
                <td><b>CEP:</b></td>
                <td><?php echo $this->row->cep; ?></td>
            </tr>  
         
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-pessoa-fisica').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>