<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">
    <div class="span2">
        <div class="well" style="padding: 8px 0;">

            <ul class="nav nav-list">               
                <li>
                    <a title="Novo Campanha" href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new', 'advertiser' => $this->advertiser), NULL, true); ?>">Novo Campanha</a>
                </li>
            </ul>    </div>
    </div>
    <?php // echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">
        <?php
        echo $this->partial('partial/messages.phtml');
        ?>
        <div class="row">
            <div class="span10">
                <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="30">Código</th>
                                <th>Título</th>                              
                                <th>data Início</th>                              
                                <th>data Fim</th>                              
                                <th width="141" class="tc">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                                <tr>
                                    <td><?php echo $row->id; ?></td>
                                    <td><?php echo $row->titulo; ?></td>                                                                           
                                    <td>
                                        <?php
                                        $date1 = date_create($row->data_inicio);
                                        echo date_format($date1, 'd-m-Y');
                                        ?>
                                    </td>                                                                    
                                    <td>
                                        <?php
                                        $date2 = date_create($row->data_fim);
                                        echo date_format($date2, 'd-m-Y');
                                        ?>
                                    </td>                                                                                                                                                                              
                                    <td>
                                        <div class="btn-group">                                            
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row->id), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-campaign"><span class="icon-eye-open"></span></a>                                            
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row->id), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row->id), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ok' : 'ban'); ?>-circle"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row->id), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                <?php } ?>
            </div>
        </div>

        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>           

    </div>
    <div id="view-campaign" class="modal hide fade">
    </div>