<section id="index">
	<div class="content">
		<section id="introducao">
			<div class="delimitador">
				<div class="slogan"></div>
				<h2><span>Luvminder</span> é uma ferramenta que ajuda você a não passar batido nas datas de namoro, noivado ou casamento.</h2>
				<div class="se-cadastrar">
					<div class="como-cadastrar">Para se cadastrar e receber os lembretes é grátis, rápido e sem complicação.</div>
					<a href="javascript:void(0)" class="crie-conta-gratis" title="Crie uma conta">Crie uma conta, <span>é grátis!</span></a>
				</div>
				<div class="menino-video">
					<div class="lembrete-pqn"></div>
					<div class="bg-menino"></div>
					<a href="javascript:void(0)" class="play"></a>
				</div>
				<div class="lembrete">
					<div class="se-liga">Se liga aí!</div>
					<div class="data"><span>Amanhã</span> você completa dois meses de namoro.</div>
				</div>
				<div class="crie-conta">
					<div class="menino"></div>
					<a href="javascript:void(0)" title="Crie uma conta" class="botao-criar-conta">Crie uma conta, <span>é grátis!</span></a>
				</div>
				<div class="conecte-rede">
					<h3>Sem formulários, conecte uma rede:</h3>
					<ul class="redes">
						<li><a href="javascript:void(0)" title="Facebook" class="fb"></a></li>
						<li><a href="javascript:void(0)" title="Twitter" class="tw"></a></li>
						<li><a href="javascript:void(0)" title="Google Plus" class="gp"></a></li>
						<li><a href="javascript:void(0)" title="E-mail" class="em"></a></li>
					</ul>
				</div>
				<div class="loja-aplicativos">
					<h3>Em breve na sua loja de aplicativos:</h3>
					<ul>
						<li><a href="javascript:void()" title="Disponível no Google Play" target="_blank" class="google-play">1</a></li>
						<li><a href="javascript:void()" title="Disponível na App Store" target="_blank" class="app-store">2</a></li>
					</ul>
				</div>
			</div>
			<div class="delimitador video-div">
				<video id="luvminder-video" class="video-js vjs-default-skin" controls width="978" height="550" data-setup='{}'>
					<source src="<?php echo $this->baseUrl(); ?>/site/media/video_16x9.mp4" type='video/mp4' />
					<source src="<?php echo $this->baseUrl(); ?>/site/media/video_16x9.webm" type='video/webm, codecs="vp8, vorbis"' />
				</video>
				<button class="bt-fechar"></button>
			</div>
		</section>
		<section id="como-fazer">
			<div class="delimitador">
				<h2>O amor é à moda antiga. <span>O lembrete não.</span></h2>
				<div class="tudo-passos">Crie seu Luvminder em três passos simples:</div>
				<ul class="passos">
					<li>
						<h5>Passo 1</h5>
						<img src="<?php echo $this->baseUrl(); ?>/site/imagens/300/passo_1.png" alt="Passo 1" />
						<h3>Escolha uma conta</h3>
						<h4>Vincule sua conta de email do Google ou sua rede social mais usada para receber os lembretes e evitar formulários chatos.</h4>
					</li>
					<li>
						<h5>Passo 2</h5>
						<img src="<?php echo $this->baseUrl(); ?>/site/imagens/300/passo_2.png" alt="Passo 1" />
						<h3>Crie as datas</h3>
						<h4>Adicione datas e escolha com qual frequência e antecedência deseja receber os lembretes.</h4>
					</li>
					<li>
						<h5>Passo 3</h5>
						<img src="<?php echo $this->baseUrl(); ?>/site/imagens/300/passo_3.png" alt="Passo 1" />
						<h3>Não tem passo 3.</h3>
						<h4>Os lembretes vão chegar no seu e-mail e em breve no seu celular. Não tem como passar batido.</h4>
					</li>
				</ul>
			</div>
		</section>
		<section id="nao-precisa">
			<div class="delimitador">
				<h2>Não precisa uma nova conta</h2>
				<h3>Nada de preencher formulários chatos nem criar novas contas, com senhas das quais não vai lembrar. O serviço aceita sua conta do <span>Facebook</span>, <span>Twitter</span> ou <span>Google</span>.</h3>
				<a href="javascript:void(0)" title="Comece agora">Comece agora</a>
			</div>
		</section>
		<section id="depoimento">
			<div class="delimitador">
				<h3>"Lorem Ipsum. Dolor sit"</h3>
				<h4>Bill Gates - Microsoft, <span>blogueiro de tecnologia da globo.com</span></h4>
				<img src="http://placehold.it/98.gif" alt="Imagem do depoimento" />
			</div>
		</section>
	</div>
</section>
<div class="clear"></div>