<section id="forms">
    <div class="page-header">
        <h1>Configuração de Conta</h1>
    </div>

    <div class="row">
        <div class="span10 offset1">         
            <div class="well">
                Estamos quase lá...
            </div>
            <form class="form-horizontal well">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="email">*Email:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="email">                            
                        </div>
                    </div>                    
                    <div class="control-group">
                        <label class="control-label" for="name">*Nome Completo:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name">                            
                        </div>
                    </div>     
                    <div class="control-group">
                        <label class="control-label" for="pais">País:</label>
                        <div class="controls">
                            <select id="pais">
                                <option>Brasil</option>
                                <option>EUA</option>
                                <option>England</option>
                                <option>Spain</option>
                                <option>Italy</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="genero">Gênero:</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" id="masculino" value="m" name="genero">
                                masculino
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="feminino" value="f" name="genero">
                                feminino
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="cidade">Cidade:</label>
                        <div class="controls">
                            <select id="cidade">
                                <option>João Pessoa, Paraíba</option>
                                <option>Campina Grande, Paraíba</option>
                                <option>Patos, Paraíba</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="idioma">Idioma:</label>
                        <div class="controls">
                            <select id="idioma">
                                <option>Português do Brasil</option>
                                <option>English</option>
                                <option>Español</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="foto">Foto</label>
                        <div class="controls">
                            <input class="input-file" id="foto" type="file">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Suas redes vinculadas</legend>
                    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
                        <button type="button" class="btn btn-large btn-block btn-success">Facebook</button>
                        <button type="button" class="btn btn-large btn-block btn-info">Twitter</button>
                        <button type="button" class="btn btn-large btn-block btn-primary">Adicionar gplus</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</section>