<div class="principal">
	<div class="sucesso">
		<small><?php echo $this->titulo; ?></small>
		<div class="bg_conf">
			<?php if ($this->mensagem) : ?><h4><?php echo $this->mensagem; ?></h4><?php endif; ?>
			<?php if ($this->adicional) : ?><p><?php echo $this->adicional; ?></p><?php endif; ?>
		</div>
	</div>
</div><!-- /principal -->