$clndr-border : 1px solid #000;
.clndr{
	background: $yellow;
	padding: 5px;
	@include border-radius(4px);
	.clndr-controls{
		width: 100%;
		position: relative;
		margin-bottom: 5px;
		.month{
			line-height: 100%;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.2rem;
			padding: 0.25em 0;
		}
		.clndr-control-button{
			.clndr-next-button{
				position: absolute;
				top: 50%;
				right: 0;
				float: left;
				cursor: pointer;
				background-image: $sprite;
				@include text-hide();
				@include sprite($sprite, arrow-white-next, true);
				@include translate(0, -50%);
				&.inactive{
					opacity: 0.5;
					&:hover{
						cursor: default;
					}
				}
			}
			.clndr-previous-button{
				position: absolute;
				top: 50%;
				left: 0;
				cursor: pointer;
				float: left;
				background-image: $sprite;
				@include text-hide();
				@include sprite($sprite, arrow-white-prev, true);
				@include translate(0, -50%);
				&.inactive{
					opacity: 0.5;
					&:hover{
						cursor: default;
					}
				}
			}
		}
	}

	.clndr-table{
		table-layout: fixed;
		width: 100%;
		background: #fff;
		.header-days{
			height: 30px;
			background: $blue;
			.header-day{
				font-size: 1rem;
				padding: 0.5em;
				vertical-align: middle;
				text-align: center;
				color: #fff;
				&:last-child{

				}
			}
		}

		tr{
			td{
				vertical-align: top;
			}
				.day{
					width: 100%;
					height: inherit;

					&:hover { background: #eee; }

					&.today, &.my-today{
						color: #fff;
						background: lighten($blue, 5%);
						&:hover { background: darken($blue, 5%); }
						&.event{
							background: mix(#B4E09F, #9AD6E3);
						}
					}

					&.event, &.my-event{
						background: #B4E09F;
						&:hover{
							background: darken(#B4E09F, 10%);
						}
					}

					&.inactive, &.my-inactive{
						background: #ddd;
					}

					&:last-child{

					}

					.day-contents{
						box-sizing: border-box;
						padding: 0.5em;
						font-size: 1rem;
						text-align: center;
					}
				}

				.empty, .adjacent-month, .my-empty, .my-adjacent-month{
					width: 100%;
					height: inherit;
					background: #eee;

					&:hover { background: #ddd; }

					&:last-child{

					}
				}

				&:last-child{
					.day, .my-day{

					}

					.empty, .my-empty{

					}
				}
		}
	}
}
