section.checkin{
	h2{
		font-size: 1.8rem;
		font-weight: 600;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
	.info{
		p{
			font-size: 1.8rem;
			margin-bottom: 1em;
		}
	}
	form{
		float: left;
		width: 100%;
		> ul{
			> li{
				float: left;
				width: 100%;
				background: #fff;
				@include transition(0.3s ease-out);
				&.-recent{
					background: #ffefcc;
				}
			}
		}
		ul{
			padding-left: 0;
			padding-right: 0;
			&.tab{
				display: none;
				&.-active{
					visibility: visible;
					display: inline-block;
					@include opacity(1);
				}
			}
			li{
				list-style: none;
				margin-bottom: 1.5em;
				position: relative;
				&.checkbox{
					label{
						padding-left: 0;
					}
				}
			}
		}
			.tabs{
				float: left;
				width: 100%;
			}
				label{
					display: block;
					color: $blue;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.4rem;
					padding-bottom: 0.5em;
				}
				input[type="text"], input[type="email"], input[type="number"], select, textarea{
					width: 100%;
					font-size: 1.4rem;
					padding: 1em;
					background: #f5f5f5;
					border: 0;
					color: #222;
					outline: none;
					@include border-radius(4px);
					@include transition(0.15s ease-out);
					&:focus{
						background: #e5e4e4;
					}
				}
				select{
					height: 50px;
				}
				textarea{
					height: 200px;
				}
				input[type="radio"]{
					margin-right: 1em;
				}
				button.button-default{
					line-height: 100%;
					padding: 0.7em 2em;
					float: right;
					margin-right: 1em;
				}
				input[type="submit"]{
					float: right;
					padding-left: 2.5em;
					padding-right: 2.5em;
					float: right;
				}
	}
}
