section.eventos{
	.title{
		h1{
			&:before{
				top: -60%;
			}
		}
	}
	.salas{
		margin-top: 2em;
		display: flex;
		flex-flow: row wrap;
		flex: 1 33%;
		article{
			padding-bottom: 4em;
			border-right: 1px solid $blue;
			text-align: center;
			&:last-child{
				border: 0;
			}
			> h1{
				font-family: "TrashHand";
				color: $yellow;
				font-size: 3rem;
				position: relative;
				&:before{
					content: "|";
					float: left;
					position: absolute;
					top: -100%;
					left: 50%;
					font-size: 10rem;
					transform: rotate(90deg);
					margin-left: -20px;
				}
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					font-size: 1.4rem;
					line-height: 150%;
					&.head{
						font-weight: 600;
						margin-top: 0.5em;
					}
				}
			}
		}
		footer{
			float: left;
			width: 100%;
			border-top: 1px solid $blue;
			border-bottom: 1px solid $blue;
			text-align: center;
			color: $blue;
			padding: 2em 0;
			h1{
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: 600;
				margin: 0;
			}
			a{
				color: $blue;
				font-size: 1.2rem;
			}
			span.phone{
				display: block;
				font-size: 1.2rem;
			}
		}
	}
}
