section.featured{
	float: left;
	width: 100%;
	.swiper-slide{
		height: 340px;
		background-position: 50% 50%;
		background-size: 100%;
		background-repeat: no-repeat;
		a.full{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
	}
	.holder{
		position: absolute;
		width: auto;
		left: 50%;
		bottom: 20px;
		z-index: 10;
		@include translate(-50%, 0);
	}
		button.prev, button.next{
			position: absolute;
			top: 50%;
			background-image: $sprite;
			background-color: transparent;
			content: "";
			z-index: 15;
			cursor: pointer;
			border: 0;
			outline: none;
			@include translate(0, -50%);
		}
		button.prev{
			left: -15px;
			@include sprite($sprite, slide-prev, true);
		}
		button.next{
			right: -15px;
			@include sprite($sprite, slide-next, true);
		}
		.swiper-pagination{
			position: relative;
			> span{
				width: 20px;
				height: 20px;
				border-width: 7px;
				border-color: #fff;
				border-style: solid;
				background: #fff;
				font-size: 1rem;
				margin: 0em 2.5em !important;
				position: relative;
				@include transition(0.15s ease-out);
				@include opacity(1);
				&:before, &:after{
					content: "";
					width: 4px;
					height: 4px;
					position: absolute;
					top: 50%;
					background: #fff;
					@include border-radius(10px);
				}
				&:before{
					left: -25px;
					@include translate(0, -50%);
				}
				&:after{
					right: -25px;
					@include translate(0, -50%);
				}
				&:first-child:before{
					display: none;
				}
				&:last-child:after{
					display: none;
				}
				&.swiper-pagination-bullet-active{
					background: $yellow;
				}
				&:hover{
					span.bg{
						top: -50px;
						visibility: visible;
						@include opacity(1);
					}
				}
				span.bg{
					width: 44px;
					height: 34px;
					position: absolute;
					top: -75px;
					left: 50%;
					border: 3px solid #fff;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					visibility: hidden;
					@include transition(0.15s ease-out);
					@include opacity(0);
					@include border-radius(3px);
					@include translate(-50%, 0);
				}
			}
		}
}
