.inner, .read{
	> header{
		float: left;
		width: 100%;
		height: 250px;
		margin-bottom: 6em;
		font-size: 1rem;
		background-image: url(../img/delete/resort-top.jpg);
		background-position: 50% 50%;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.title{
		h1{
			font-family: "TrashHand";
			color: $yellow;
			font-size: 6rem;
			position: relative;
			max-width: 290px;
			&:before{
				content: "|";
				float: left;
				position: absolute;
				top: -100%;
				font-size: 10rem;
				-webkit-transform: rotate(90deg) !important;
				-moz-transform: rotate(90deg) !important;
				-ms-transform: rotate(90deg) !important;
				-o-transform: rotate(90deg) !important;
				transform: rotate(90deg) !important;
				left: 0.3em;
			}
		}
	}

	.gallery{
		position: relative;
		float: left;
		width: 75%;
		left: 50%;
		@include translate(-50%, 0);
		button.prev, button.next{
			content: "";
			position: absolute;
			top: 50%;
			background-image: $sprite;
			background-color: transparent;
			outline: none;
			border: 0;
			cursor: pointer;
			z-index: 100;
			@include translate(0, -50%);
		}
		button.prev{
			left: -50px;
			@include sprite($sprite, gallery-arrow-left, true);
		}
		button.next{
			right: -50px;
			@include sprite($sprite, gallery-arrow-right, true);
		}
		ul{
			position: relative;
			padding: 0;
		}
			li{
				padding: 0 0;
				list-style: none;
				img{
					width: 100%;
					height: auto;
					@include border-radius(3px);
				}
			}
		&.-desktop{

		}
		&.-mobile{
			ul{
				padding: 1em 2em;
			}
			&:before{
				left: -15px;
			}
			&:after{
				right: -15px;
			}
		}
	}
	.tabs{
		> h1{
			text-align: center;
			color: $yellow;
			font-family: "TrashHand";
			font-size: 11.5rem;
			margin: 0.2em 0;
			line-height: 100%;
		}
		article{
			> .container{
				height: 0px;
				overflow: hidden;
			}
			&.-active{
				> .container{
					height: auto;
				}
			}
			&.-active, &:hover{
				> header{
					span{
						&.-top{
							&:before{
								top: 0;
								left: 0;
							}
							&:after{
								top: 0;
								right: 0;
							}
						}
						&.-bottom{
							&:before{
								bottom: 0;
								left: 0;
							}
							&:after{
								bottom: 0;
								right: 0;
							}
						}
					}
				}
			}
			> header{
				position: relative;
				margin: 0 10px;
				height: 250px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 180px;
					height: auto;
					@include translate(-50%, -50%);
				}
				span{
					width: 100%;
					height: 50%;
					position: absolute;
					left: 0;
					&:before, &:after{
						content: "";
						background-image: $sprite;
						position: absolute;
						@include sprite($sprite, brackets, true);
					}
					&.-top{
						top: 0;
						&:before{
							top: -100px;
							left: -100px;
							@include transition(0.15s ease-out);
						}
						&:after{
							top: -100px;
							right: -100px;
							@include transition(0.15s ease-out);
							@include scaleX(-1);
						}
					}
					&.-bottom{
						bottom: 0;
						&:before{
							bottom: -100px;
							left: -100px;
							@include transition(0.15s ease-out);
							@include scaleY(-1);
						}
						&:after{
							bottom: -100px;
							right: -100px;
							@include transition(0.15s ease-out);
							@include scale3d(-1, -1, 1);
						}
					}
				}
			}
			.content{
				padding-bottom: 1em;
				> h2{
					font-family: "TrashHand";
					color: $yellow;
					font-size: 6rem;
					position: relative;
					margin: 0.7em 0 0.3em;
					&:before{
						content: "|";
						float: left;
						position: absolute;
						top: -100%;
						font-size: 10rem;
						-webkit-transform: rotate(90deg) !important;
						-moz-transform: rotate(90deg) !important;
						-ms-transform: rotate(90deg) !important;
						-o-transform: rotate(90deg) !important;
						transform: rotate(90deg) !important;
						left: 0.3em;
					}
				}
				.post{

				}
				.gallery{
					margin: 2em 0;
				}
			}
		}
	}
}
