.localizacao{
	
	.title{
		h1{
		    background: url("../img/font-localizacao.svg")no-repeat;
		    background-size: 90%;
		    background-position-y: -11px;
		    margin-top: -10px;
		    padding-bottom: 20px;
		    text-indent: -99999999999px;
		}
	}

	h1.subtitle{
		text-align: center;
		color: $yellow;
		font-family: "TrashHand";
		font-size: 11.5rem;
		margin: 0.2em 0;
		line-height: 100%;
	}

	#tabs_loc{

		ul{
			    list-style: none;
			    float: left;
			    width: 100%;
			    padding: 0;
			li {
		   		background: #fff;
			    padding: 1.5em;
			    font-size: 1.4rem;
			    text-transform: uppercase;
			    font-weight: 600;
			    border: 1px solid #ffab00;
			    color: #ffab00;
			    float: left;
			    width: 33.33%;
			    outline: none;
			    line-height: 100%;
			    -webkit-transition: 0.15s ease-out;
			    -o-transition: 0.15s ease-out;
			    transition: 0.15s ease-out;
			    cursor: pointer;

			    &.tabActiveHeader{
			    	background: #ffab00;
	    			color: #fff;
			    }
			}
		} 
	}

	.map{
		float: left;
		width: 100%;
		nav{
			button{
				background: #fff;
				padding: 1.5em;
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: 600;
				border: 1px solid $yellow;
				color: $yellow;
				float: left;
				width: 33.33%;
				border-right-width: 0;
				outline: none;
				line-height: 100%;
				@include transition(0.15s ease-out);
				&:last-child{
					border-right-width: 1px;
				}
				&.-active{
					background: $yellow;
					color: #fff;
				}
			}
		}
	}
		#google-map{
			height: 460px;
			width: 100%;
			float: left;
		}
	.paraibadisiaco{
		float: left;
		width: 100%;
		.swiper-container{
			margin-bottom: 2em;
			width: 100%;
			float: left;
			.swiper-slide{
				padding: 0;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
