html{ height: 100%; font-size: 62.5%; }
body{ width: 100%; height: 100%; font-family: Lato, Helvetica, Myriad Pro, Arial; }

/* Font face - Lato */
@include font-face("Lato", font-files("lato-light-webfont.ttf", "lato-light-webfont.woff", "lato-light-webfont.svg"), "lato-light-webfont.eot", 400, normal);
@include font-face("Lato", font-files("lato-lightitalic-webfont.ttf", "lato-lightitalic-webfont.woff", "lato-lightitalic-webfont.svg"), "lato-lightitalic-webfont.eot", 400, italic);
@include font-face("Lato", font-files("lato-regular-webfont.ttf", "lato-regular-webfont.woff", "lato-regular-webfont.svg"), "lato-regular-webfont.eot", 500, normal);
@include font-face("Lato", font-files("lato-italic-webfont.ttf", "lato-italic-webfont.woff", "lato-italic-webfont.svg"), "lato-italic-webfont.eot", 500, italic);
@include font-face("Lato", font-files("lato-bold-webfont.ttf", "lato-bold-webfont.woff", "lato-bold-webfont.svg"), "lato-bold-webfont.eot", 600, normal);
@include font-face("Lato", font-files("lato-bolditalic-webfont.ttf", "lato-bolditalic-webfont.woff", "lato-bolditalic-webfont.svg"), "lato-bolditalic-webfont.eot", 600, italic);

/* Font face - TrashHand */
@include font-face("TrashHand", font-files("trashhand-webfont.ttf", "trashhand-webfont.woff", "trashhand-webfont.svg"), "trashhand-webfont.eot", 500, normal);

a{
	color: $blue;
	&:focus, &:hover{
		color: $green;
		text-decoration: none;
	}
}

.smooth{
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
}

em.error{
	position: absolute;
	top: 0;
	right: 15px;
	background: $red;
	color: #fff;
	font-size: 80%;
	font-style: normal;
	text-transform: lowercase;
	padding: 2px 5px 4px;
	z-index: 100;
	font-style: italic;
	@include border-radius(4px);
}

span.overlay-all{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	z-index: 210;
	display: none;
	@include opacity(0.4);
}

.button-default{
	background: $yellow;
	color: #fff;
	text-transform: uppercase;
	padding: 1em 1.5em;
	font-size: 1.8rem;
	display: inline-block;
	border: 0;
	@include transition(0.15s ease-out);
	@include border-radius(4px);
	&:hover{
		background: $dark-yellow;
		color: #fff;
	}
}

nav.social{
	text-align: center;
	a{
		display: inline-block;
		background-image: $sprite;
		@include text-hide();
		&.facebook{
			@include sprite($sprite, facebook, true);
		}
		&.twitter{
			@include sprite($sprite, twitter, true);
		}
		&.instagram{
			@include sprite($sprite, instagram, true);
		}
	}
}

@media print,
		(-o-min-device-pixel-ratio: 5/4),
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 1.25dppx) {

	$sprite-path: sprite-path($sprite);
	$sprite-height: image-height($sprite-path);
	$sprite-width: image-width($sprite-path);

	background-image: $sprite-retina;
	background-size: $sprite-width $sprite-height;
}
