header.top{
	float: left;
	width: 100%;
	background: #fff;
	position: fixed;
	z-index: 150;
	top: 0;
	h1.logo, h2.mantra{
		margin: 0;
		text-align: center;
		img{
			height: auto;
			max-width: 160px;
		}
	}
	h1.logo{
		background: $yellow;
		height: 6em;
		font-size: 1rem;
		padding: 0;
		img{
			width: 75%;
			margin: 1em 0;
		}
	}
	h2.mantra{
		img{
			width: 90%;
		}
	}
	.btn-menu{
		font-size: 1.4rem;
		text-transform: uppercase;
		color: $blue;
		font-weight: 600;
		padding: 1.45em 0;
		border: 1px solid #f5f5f5;
		background: #fff;
		border-top: 0;
		border-bottom: 0;
		outline: none;
		position: absolute;
		left: 50%;
		@include translate(-50%, 0);
		&:hover{
			span.text{
				top: 5px;
			}
			span.hamburguer, span.arrow{
				margin-top: 5px;
			}
		}
		span.text{
			float: left;
			padding: 0 2.7em;
			letter-spacing: 0.25em;
			position: relative;
			top: 0;
			@include transition(0.15s linear);
		}
		span.hamburguer{
			background-image: $sprite;
			position: absolute;
			top: 50%;
			right: 4em;
			@include translate(0, -50%);
			@include sprite($sprite, menu-hamburguer, true);
			@include transition(0.15s linear);
		}
		span.arrow{
			background-image: $sprite;
			position: absolute;
			top: 50%;
			right: 2.7em;
			@include translate(0, -50%);
			@include sprite($sprite, arrow-down, true);
			@include transition(0.15s linear);
		}
	}
	.holder-menu{
		width: 100%;
		height: auto;
		float: left;
		background: $blue;
		z-index: 150;
		text-align: center;
		padding-bottom: 1em;
		visibility: hidden;
		position: fixed;
		top: 60px;
		left: -100%;
		@include opacity(0);
		@include transition(0.15s ease-out);
		a{
			color: #fff;
		}
		&.-active{
			left: 0%;
			visibility: visible;
			@include opacity(1);
		}
	}
		nav.main-menu{
			padding: 1em 0 0;
			a{
				text-transform: uppercase;
				display: block;
				font-size: 1.8rem;
				padding: 0.5em 0;
			}
		}
		nav.social{

		}
		a.private{
			display: inline-block;
			background: $yellow;
			color: #fff;
			padding: 1em 1.5em;
			margin: 2.5em 0;
			text-transform: uppercase;
			font-size: 1rem;
			@include transition(0.15s ease-out);
			@include border-radius(3px);
			&:hover{
				background-color: $dark-yellow;
			}
			.glyphicon{
				font-size: 1.5rem;
				margin-right: 5px;
			}
		}
	h2.mantra{
		float: right;
		img{
			margin: 0.8em 0;
		}
	}
	nav.lang{
		width: 55px;
		float: right;
		span.current{
			position: relative;
			float: left;
			margin: 17px 0;
			cursor: pointer;
			&:after{
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				right: -15px;
				background-image: $sprite;
				@include translate(0, -50%);
				@include sprite($sprite, arrow-down, true);
			}
		}
		&:hover{
			.langs{
				bottom: -10px;
				visibility: visible;
				@include opacity(1);
			}
		}
		.langs{
			background: #fff;
			position: absolute;
			bottom: 0;
			border: 1px solid #ccc;
			visibility: hidden;
			@include opacity(0);
			@include border-radius(4px);
			@include transition(0.15s ease-out);
			> a{
				float: left;
			}
		}
			.pt-br, .en-us{
				background-image: $sprite;
				display: inline-block;
				@include text-hide();
				&.pt-br{
					@include sprite($sprite, flag-brazil, true);
				}
				&.en-us{
					@include sprite($sprite, flag-us, true);
				}
			}
	}
}

form.reserva{
	&.-top{
		float: left;
		width: 100%;
		background: $blue;
		.container > ul{
			margin: 0;
			padding: 0;
			> li{
				list-style: none;
				margin: 1.25em 0;
				&:first-child{
					margin: 0;
					padding: 0;
				}
				&.dates{
					padding-right: 0;
					padding-left: 0;
					> div{
						> span{
							position: absolute;
							background-color: $yellow;
							top: 0;
							left: 0;
							height: 100%;
							width: 35px;
							@include border-radius(4px 0 0 4px);
							&:before{
								content: "";
								background-image: $sprite;
								top: 50%;
								left: 50%;
								position: absolute;
								@include translate(-50%, -50%);
								@include sprite($sprite, calendar, true);
							}
						}
						input{
							padding: 1em 1em 1em 3em;
						}
						.calendar{
							position: absolute;
							width: 100%;
							height: auto;
							padding-top: 10px;
							padding-right: 15px;
							left: 0;
							top: 0%;
							visibility: hidden;
							z-index: 40;
							@include transition(0.15s ease-out);
							@include opacity(0);
							&.-active{
								visibility: visible;
								top: 100%;
								@include opacity(1);
							}
						}
					}
				}
				&.people{
					padding-right: 0;
					> div{
						padding: 0;
					}
					.holder{
						position: relative;
						float: left;
					}
					label{
						float: left;
						margin: 0.7em 0.5em 0.7em 0;
						color: #fff;
						font-size: 1.2rem;
						text-transform: uppercase;
					}
					button.up, button.down{
						position: absolute;
						float: left;
						height: 50%;
						width: 15px;
						right: -20px;
						text-align: center;
						outline: none;
						background-color: transparent;
						border: 0;
						span{
							position: absolute;
							display: inline-block;
							background-image: $sprite;
							left: 50%;
							@include text-hide();
							@include translate(-50%, 0);
						}
						&.up{
							top: 0;
							span{
								bottom: 2px;
								@include sprite($sprite, arrow-up, true);
							}
						}
						&.down{
							bottom: 0;
							span{
								top: 2px;
								@include sprite($sprite, arrow-down, true);
							}
						}
					}
				}
				&.submit{
					padding: 0;
					margin: 1em 0;
					text-align: center;
				}
				&.plus{
					padding: 0;
					margin: 0;
					> div{
						height: 5em;
						position: relative;
						&:first-child{
							padding: 0 3.5px 0 0;
						}
						&:last-child{
							padding: 0 0 0 3.5px;
						}
					}
						a{
							position: relative;
							height: 100%;
							background: $yellow;
							width: 100%;
							display: block;
							padding-top: 40px;
							text-align: center;
							color: #fff;
							text-transform: uppercase;
							font-size: 1rem;
							line-height: 100%;
							@include transition(0.15s ease-out);
							&:before{
								content: "";
								background-image: $sprite;
								position: absolute;
								float: left;
								left: 50%;
								top: 0;
								@include translate(-50%, 0);
							}
							&:hover{
								background-color: $dark-yellow;
							}
							&.check-in{
								&:before{
									@include sprite($sprite, web-check-in, true);
								}
							}
							&.tour-agent{
								&:before{
									@include sprite($sprite, web-tour-agent, true);
								}
								&.-active{
									.login{
										top: 100%;
										visibility: visible;
										@include opacity(1);
									}
								}
								.login{
									position: absolute;
									top: 0;
									right: 0;
									width: 200px;
									padding-top: 15px;
									cursor: default;
									visibility: hidden;
									@include transition(0.25s ease-out);
									@include opacity(0);
								}
									ul{
										padding: 10px;
										float: left;
										width: 100%;
										background: $blue;
										color: #fff;
										margin: 0;
										position: relative;
										@include border-radius(4px);
										&:before{
											content: "";
											position: absolute;
											width: 0;
											height: 0;
											right: 30px;
											bottom: 100%;
											border-color: transparent;
											border-bottom-color: $blue;
											border-left-width: 10px;
											border-right-width: 10px;
											border-bottom-width: 10px;
											border-style: solid;
										}
										li{
											position: relative;
											list-style: none;
											float: left;
											width: 100%;
											margin-bottom: 10px;
											&:last-child{
												margin-bottom: 0;
											}
										}
									}
											.holder{
												position: relative;
											}
												label{
													background-color: $yellow;
													position: absolute;
													top: 0;
													left: 0;
													width: 30px;
													height: 100%;
													@include border-radius(4px 0 0 4px);
													span.glyphicon{
														position: absolute;
														top: 50%;
														left: 50%;
														float: left;
														font-size: 1.5rem;
														@include translate(-50%, -50%);
													}
												}
												input[type="text"], input[type="password"]{
													width: 100%;
													padding-left: 3em;
													font-size: 1.2rem;
													color: $black;
												}
												input[type="submit"]{
													float: right;
													width: 50%;
												}
							}
						}
				}
			}
		}
				h3{
					margin: 1em 0;
					text-align: center;
					color: #fff;
					text-transform: uppercase;
					line-height: 100%;
					font-size: 1.8rem;
					span{
						color: $yellow;
						display: block;
						font-family: "TrashHand";
					}
				}

				em.error{
					top: -25%;
				}

				input[type="text"], input[type="password"]{
					border: 0;
					padding: 1em;
					width: 100%;
					font-size: 1rem;
					outline: none;
					color: $blue;
					@include border-radius(4px);
					/* placeholder */
					&::-webkit-input-placeholder {
						color: $blue;
						text-transform: uppercase;
					}
					&:-moz-placeholder {
						color: $blue;
						text-transform: uppercase;
					}
					&::-moz-placeholder {
						color: $blue;
						text-transform: uppercase;
					}
					&:-ms-input-placeholder {
						color: $blue;
						text-transform: uppercase;
					}
				}

				input[type="number"], .mask{
					border: 0;
					padding: 0.7em 0.5em;
					width: 30px;
					font-size: 1.2rem;
					position: relative;
					text-align: center;
					background: #fff;
					color: $blue;
					@include border-radius(4px);
					/* Remove Spin Buttons */
					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.mask{
					overflow: hidden;
					height: 34px;
					span{
						position: absolute;
						top: 50%;
						left: 50%;
						@include translate(-50%, -50%);
					}
				}

				button.search{
					background-color: $yellow;
					color: #fff;
					padding: 0.8em;
					border: 0;
					font-size: 1.6rem;
					display: inline-block;
					margin-right: 10px;
					@include border-radius(4px);
					@include transition(0.15s ease-out);
					&:hover{
						background-color: $dark-yellow;
					}
				}

				input[type="submit"]{
					background-color: $yellow;
					color: #fff;
					text-transform: uppercase;
					padding: 0.8em 1.5em;
					border: 0;
					font-size: 1.2rem;
					float: left;
					font-weight: 600;
					@include border-radius(4px);
					@include transition(0.15s ease-out);
					&:hover{
						background-color: $dark-yellow;
					}
				}
	}
}
