$font-size: 16;
$icon-font-path: "../fonts/bootstrap/";
$text-color: #393939;
$grid-gutter-width: 20px !default;

// Colors
$yellow: #ffab00;
$dark-yellow: #ff8400;

$blue: #11aaab;

$green: #419e49;

$black: #252222;

$gray: #666767;
$dark-gray: #312e2d;
$light-gray: #cccccc;

$red: #B02C42;

// Sprite mappers
$sprite: sprite-map("sprite/icons/*.png", $layout: "smart");
$sprite-retina: sprite-map("sprite/icons-2x/*.png", $layout: "smart");
