/*Geral */

.tit {
    font-size: 4.42857143rem;
    color:@branco;
    .today;
    text-align: center;
    letter-spacing: 2px;
    
}

a {text-decoration: none;}
.txt {
    font-size: 2.4rem;
    color:@branco;
    .today;
    text-align: center;
    margin: 10px 0 0;
    padding:0 80px;
    letter-spacing: 2px;
}

header {
    height: 97px;
    background: @branco;
    padding:10px 0;
    position:relative;
    
    .container, img {
        display: -webkit-box;    
      display: -moz-box;        
      display: -ms-flexbox;      
      display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &img:nth-child(2) {
            float:right;
        }
    }

    
    #menu {  
        ul {
            margin-bottom:0;
            li {
                display: inline-block;
                padding:15px 0 0;
                a {
                    .today;
                    color:@carbono;
                    font-size:1rem;
                    text-decoration: none;
                    padding: 0 15px;
                    display: inline-block;
                    letter-spacing: 1px;
                }
                
                a:hover {
                    color:@azul-medio;
                }
            }
        }
    }
    
  .menu-m {
        display: none;
        
    }//menu-m
    
}//header

  

#calendar {
    background:@azul; 
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    position: relative;
    
    #wrapper-txt {
        background:url(../img/bg_top.jpg);
        background-size: cover;
        background-position: top center;
        min-height: 650px;
        .container {
            padding-top:60px;
        }
    }
    
    #cena-1 {
        width:50%;
        position:absolute;
        bottom:-10px;
    } 
    
    #cena-2 {
        width:50%;
        position:absolute;
        bottom:-10px;
        right: 0 !important;
       
    }
    
    #wrapper-calendar {
        background: url(../img/bg_top_azul.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        min-height: 535px;
        
        #r-calendar {
            height: 750px;
            margin-top: 80px;
            position: absolute;
            top: -430px;
            
            
td.mei_active {
    &:before {
        border-left: 13px solid #11749e!important;
    }
}
td.produtor_rural_active {
    &:before {
        border-left: 13px solid #4cb848!important;
    }
}
td.micro_empresario_active {
    &:before {
        border-left: 13px solid #d51e40!important;
    }
}
td.potencial_empreendedor_active {
    &:before {
        border-left: 13px solid #924299!important;
    }
}
td.pequeno_empresario_active {
    &:before {
        border-left: 13px solid #09b0d9!important;
    }
}
td.potencial_empresario_active {
    &:before {
        border-left: 13px solid #faba13!important;
    }
}

#coluna1 {
	float: left;
	margin-left:0;
	height: 100%;
    .datepicker {
        width: 100%;
        height: 471px;
        background: #fff;
        margin-bottom: 10px;
        .ui-datepicker-header {
            position: relative;
            height: 57px;
            background: #4cb848;
            .ui-datepicker-prev, .ui-datepicker-next {
                position: absolute;
                top: 50%;
                margin-top: -12.5px;
                width: 46px;
                height: 23px;
                background-size: 46px 23px!important;
                background: url(../img/icone-seta.svg);
                cursor: pointer;
                &.ui-datepicker-prev {
                    transform: rotate(180deg);
                    left: 24px;
                }
                &.ui-datepicker-next {
                    right: 24px;
                    &:before {

                    }
                }
            }
            .ui-datepicker-title {
                text-align: center;
                font: 25px/55px 'today-shop-bold';
                color: #fff;
            }
        }
        .ui-datepicker-calendar {
            width: 100%;
            thead {
                tr {
                    th {
                        width: 100% / 7;
                        border: 1px solid #e5edf2;
                        padding: 24px 0;
                        font: 18px 'today-shop-bold';
                        color: #004b81;
                        &:first-child {
                            border-left: 0;
                        }
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        position: relative;
                        width: 100% / 7;
                        border: 1px solid #e5edf2;
                        padding: 24px 0;
                        font: 18px 'today-shop-bold';
                        text-align: center;
                        &.active, &.inactive {
                            &:hover {
                                background: #1278a3;
                                color: #fff;
                                a, span {
                                    color: #fff!important;
                                }
                            }
                        }
                        &:before {
                            width: 0; 
                            height: 0; 
                            border-top: 13px solid transparent;
                            border-bottom: 13px solid transparent;
                            border-left: 13px solid transparent;
                            position: absolute;
                            left: -2px;
                            top: -8px;
                            transform: rotate(225deg);
                        }
                        // &.ui-datepicker-current-day {
                        //     background: #1278a3;
                        //     a {
                        //         color: #fff!important;
                        //     }
                        // }
                        &.ui-state-disabled {
                            color: gray;
                        }
                        &:not(.ui-state-disabled) { 
                            cursor: pointer;
                            color: #004b81;
                            a {
                                color: #004b81;
                            }
                        }
                        &.ui-datepicker-current-day {
                            background: #1278a3;
                            color: #fff;
                            a {
                                color: #fff;
                            }
                        }
                        &:first-child {
                            border-left: 0;
                        }
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
    .filtros-container {
        height: 269px;
        background: #fff;
        padding: 0 40px;
        .titulo-filtro {
            font: 25px 'today-shop-bold';
            color: #00497d;
            display: inline-block;
            margin-top: 29px;
            margin-bottom: 35px;
        }
        .filtros {
            .clearfix;
            fieldset {
                float: left;
                width: 202px;
                margin-bottom: 18px;
                &:nth-child(odd) {
                    margin-right: 36px;
                }
                &.mei {
                    label:before {
                        background: #11749e;
                    }
                }
                &.produtor_rural {
                    label:before {
                        background: #4cb848;
                    }
                }
                &.micro_empresario {
                    label:before {
                        background: #d51e40;
                    }
                }
                &.potencial_empreendedor {
                    label:before {
                        background: #924299;
                    }
                }
                &.pequeno_empresario {
                    label:before {
                        background: #09b0d9;
                    }
                }
                &.potencial_empresario {
                    label:before {
                        background: #faba13;
                    }
                }
                label {
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    padding-left: 34px;
                    font: 18px 'today-shop';
                    color: #004b81;
                    line-height: 22px;
                }
                input[type="radio"] {
                    display: none;
                }
                label:before {
                    content: "";
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-radius: 50%;
                }
                .radio label:before {
                    border-radius: 8px;
                }
                input[type=radio]:checked + label:before {
                    content: "\2022";
                    color: #ffffff;
                    font-size: 40px;
                    text-align: center;
                    line-height: 34px;
                }
            }
        }
    }
}

#coluna2 {
	float: left;
	height: 100%;
    background: #fff;
    margin-right:0;
	.header-principal {
		background: #09b0d9;
		height: 60px;
		text-align: center;
        margin-bottom: 19px;
        .titulo-data {
            font: 25px/60px 'today-shop-bold';
            color: #fff;
        }
	}
    .bem-vindo-texto {
        font: 20px/30px 'today-shop';
        color: #09b0d9;
        text-align: justify;
        padding: 0 30px;
        margin-bottom: 32px;
    }
    .content {
        height: 537px;
        overflow: auto;
        .data-nao-encontrada {
            display: none;
            margin: 130px auto 0 auto;
            width: 308px;
            img {
                display: block;
                margin: 0 auto 38px auto;
            }
            h3 {
                font: 26px/30px 'today-shop-bold';
                color: #09B0D8;
                text-align: center;
            }
        }
        .lista-eventos {
            padding: 0 30px 36px 30px;
            li {
                margin-bottom: 26px;
                &:before {
                    float: left;
                    width: 15px;
                    height: 15px;
                    background: #1278a3;
                    border-radius: 50%;
                    margin-right: 10px;
                    margin-top: 2px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .nome-evento {
                    font: 16px/19px 'today-shop-bold';
                    color: #004b81;
                    margin-left: 25px;
                    cursor: pointer;
                    &:hover {
                        opacity: .8;
                    }
                }
                .conteudo-accordion {
                    .clearfix;
                    margin-left: 28px;
                    padding-top: 7px;
                    .descricao-evento {
                        font: 17px/24px 'today-shop';
                        color: #09b0d9;
                        margin-bottom: 18px;
                    }
                    footer {
                        margin-bottom: 25px;
                        .clearfix;
                        .data-evento {
                            font: 17px/40px 'today-shop-bold';
                            color: #09b0d9;
                            float: left;
                            &:before {
                                float: left;
                                background: url(../img/icone-calendario.svg);
                                width: 29px;
                                height: 32px;
                                background-size: 29px 32px;
                                margin-right: 14px;
                            }
                        }
                        .hora-evento {
                            font: 17px/31px 'today-shop-bold';
                            color: #09b0d9;
                            float: right;
                            &:before {
                                float: left;
                                background: url(../img/icone-relogio.svg);
                                width: 30px;
                                height: 30px;
                                background-size: 30px 30px;
                                margin-right: 14px;
                            }
                        }
                    }
                    .ir-para-a-loja {
                        float: left;
                        background: #924299;
                        padding: 24px;
                        border-radius: 9px;
                        font: 14px 'today-shop-bold';
                        text-transform: uppercase;
                        color: #fff;
                        &:after {
                            display: inline-block;
                            width: 22px;
                            height: 11px;
                            background: url(../img/icone-seta.svg);
                            background-size: 22px 11px;
                            margin-left: 14px;
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 959px) {

    #coluna1 {
        margin-right: 0;
        margin-bottom: 10px;
        .datepicker {
            height: auto;
            .ui-datepicker-calendar {
                thead {
                    tr {
                        th {
                            padding: 2.7% 0;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding: 2.7% 0;
                        }
                    }
                }
            }
        }
        .filtros-container {
            height:auto;
            .filtros {
                fieldset {
                    &:nth-child(odd) {
                        margin-right: 41%;
                    }
                }
            }
        }
    }
    #coluna2 {
        .bem-vindo-texto {
            text-align: center;
        }
        .content {
            height: 423px;
            .lista-eventos {
                li {
                    .conteudo-accordion {
                        footer {
                            .data-evento {
                                margin-right: 50px;
                            }
                            .hora-evento {
                                float: left;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #coluna1 {
        .datepicker {
            .ui-datepicker-calendar {
                thead {
                    tr {
                        th {
                            font-size: 16px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .filtros-container {
            height: auto;
            .titulo-filtro {
                font-size: 20px;
            }
            .filtros {
                fieldset {
                    label {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    #coluna2 {
        .header-principal {
            height: 48px;
            .titulo-data {
                font-size: 20px;
                line-height: 48px;
            }
        }
        .bem-vindo-texto {
            font-size: 16px;
            text-align: justify;
        }
        .content {
            .lista-eventos {
                li {
                    margin-bottom: 20px;
                }
            }
        }
    }


}
        } 
    }
    
} 

#newsletter {
    background: @verde;
    height: 1100px;
    padding-top: 100px;
    z-index: 1;
    position: relative;    
    
    .icon-news {
        margin: 0 auto 35px;
        text-align: center;
        display: block;
        
        img {
            display: inline-block;
        }
        
    }

    
    .txt {
        font-size: 2.28571429rem; 
        strong {
                color:@branco;
            }
    }
     .txt-2{
        text-align: left;
        font-size: 1.79rem; 
        padding:30px 0;
        color:@branco;
        .today;
        letter-spacing: 2px;

            strong {
                color:@branco;
            }
      
    }//txt-2
    .alert {
        display: none;
        .txt {
            font-size: 30px;
        }
        
        .icon-alert {
            margin: 20px auto;
            display: block;
            
        }
        
        
    }
    
    #form-news {
        margin:0 auto;
        display:block;
        width: 100%;
        position: absolute;

        
        label.error {
                position: absolute;
                right:30%;
                top: -20px;
                background:@branco;
                height: 40px;
                padding: 3px 10px 0px 30px;
                .today;
                color:@vermelho !important;
                display: inline-block;
                border-radius: 5px;
                border-radius: 5px;
                letter-spacing: 2px;
                font-size: 1rem !important;
                
                &:before  {
                    background: url(../img/icon_error.svg);
                    display: inline-block;
                    height: 24px;
                    width: 7px;
                    .alinhar-vertical;
                    left: -10px;
                    
                }
                
                &:after{
                top: 100%;
                right: 10%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255,255,255,0);
                border-top-color: @branco;
                border-width: 8px;
                margin-left: -8px;
                }
            }//error
        .ul-check {
            
            .error {
                right:0%;
                top:-60px;
            }
            
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
            }
            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 40px;
            cursor: pointer;
            font-size:20px;                
            line-height:18px;
            .today;
            letter-spacing: 1.5px;
            color:@branco;
            }

            /* checkbox aspect */
            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left:0; top: -8px;
            width: 28px;
            height:28px;
            border: 1px solid #aaa;
            background: @branco;
            border:2px solid #45ae41;
            box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.3);
            border-radius: 5px;




            }
            /* checked mark aspect */
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after{
            content:url(../img/check.svg);
            position: absolute;
            top: -5px;
            left: 2px;
            }
            /* checked mark aspect changes */
            [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
            }
            [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
            }
            /* disabled checkbox */
            [type="checkbox"]:disabled:not(:checked) + label:before,
            [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
            }
            [type="checkbox"]:disabled:checked + label:after {
            color: #999;
            }
            [type="checkbox"]:disabled + label {
            color: #aaa;
            }



        }//ul-check   
        
        .ul-txt {
            margin-top:60px;
            
            li {position: relative;}
                            
            input[type=email] {
                width:90% !important;
                float:left;
            }
            
            input[type=text], input[type=email] {
                width: 100%;
                height: 45px;
                margin: 15px 0 30px;
                box-shadow: none;
                border-radius: 5px;
                border:none;
                .today-bold;
                letter-spacing: 1px;
                font-size: 1rem;
                color: @cinza;
                padding: 12px 17px 9px;
                position: initial !important;
            }
           .btn-news {
                width: 15%;
                background:@roxo;
                height: 45px;
                margin: 15px 0 30px;
                box-shadow: none;
                border-radius: 5px;
                border: none;
                .today;
                .upper;
                color:@branco;
                text-shadow: none;
                letter-spacing: 2px;
                font-size: 1rem;
                padding: 12px 17px 9px 0;
                position: absolute;
                right: 0;
               border-bottom: 2px solid #86388d;
                
                   .envie {
                        
                   }
               
               &:hover {
                   background:#a454ab;
               }
               
               &:active {
                   background:#7c3683;
               }

            }
            .envie::after {
                width:20px;
                height: 20px;
                content: url(../img/icon_enviar.svg);
                display: inline-block;
                .alinhar-vertical;
                position: absolute;
                margin-left: 10px;
            } 
            
            label {
                font-size: 1.35714286rem;
                .today;
                letter-spacing: 2px;
                color:@branco;
            }

        }//ul-txt
    }//form
    
    #news-footer {
        position: absolute;
        bottom:-5px;
        width: 100%;
        
        #cena-3 {
            width:30%;
            display: inline-block;
            img {
                width: 80%;
                float: right;    
            }

        }
        #cena-4 {
            width: 35%;
            display: inline-block;
            position: relative;
            bottom: 30px;

            img {
                width: 100%;
                margin: 0 auto;
                display: block;
            }

            #enfeite {
                width: 90%;
                margin: 0 auto;
                height: 26px;
            }

        }
        #cena-5 {
            width:30%;    
            display: inline-block;
            img {
                width: 80%;
                float: left;    
            }
        }
    }
    
    
       
}//news


#footer-s {
    height: 136px;
    background: @branco;
    padding:35px 0;
    z-index: 1;
    position: relative;  
    
    .container, img {
         display: -webkit-box;    
      display: -moz-box;        
      display: -ms-flexbox;      
      display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &img:nth-child(2) {
            float:right;
        }
    }
}

// #Media Queries
// ==================================================

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
  
       #calendar {
      
          #cena-1 {
            svg {
            left: -170px;
            }
          }
          
          #cena-2 {
            svg {
            float: right;
            width: 75%;
            }
          }
      } //calendar
  
  } 
    @media only screen and (max-width: 1024px) {
  
       #calendar {
      
          #cena-1 {
            svg {
            left: -170px;
            }
          }
          
          #cena-2 {
            svg {
            float: right;
            width: 75%;
            }
          }
      } //calendar
  
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
      
      #calendar {
      
          #cena-1 {
            svg {
            left: -170px;
            }
          }
          
          #cena-2 {
            svg {
            float: right;
            width: 75%;
            }
          }
      } //calendar
  
      #newsletter {
          
          .txt-2 {
          padding: 30px 15px;
          }
          
          #form-news{
              padding: 0 10px;
              
              
              [type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
                  margin-top:15px;
              }
              
              .ul-txt {
                  
                  .btn-news {
                      padding: 12px 20px 9px 0;
                  }
                  .envie::after {
                  
                  margin-left: 5px;
                  }
              }
          
              
              
          }//form
      
      }
      
  
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
  
       
      #cena-1, #cena-2, #cena-3, #cena-4, #cena-5 {
          display: none !important;
      } 
      
      .tit {
          font-size: 30px;
          margin: 0;
      }
      
      .txt, #newsletter .txt, #newsletter .txt-2 {
        font-size: 16px;
        padding: 0 20px;
          
          &.txt-2 { 
              margin-top:30px;
          }
      }
      
      header {
          height: 75px;
          padding: 0;
          
          .three.columns, #menu {display:none;}
          
          .five.columns {
              width:60% !important;
              
              img {width:100%;}
          }
          
          .container, img {
        
              display: block;
          }
          
          .menu-m {
              display: block;
              .itens-menu {
                width: 100%;
                height: 55px;
                display:none;
                text-align: center;
                z-index: 1;
                position: absolute;
                ul {
                    width: 100%;
                    margin: 0;
                    
                
                }
                li {
                    float:left; 
                    width:50%;
                    height: 55px;
                    
                    &:nth-child(1) {
                        background: @verde;
                        a {
                            position: relative;
                            top: 20%;
                            -ms-transform: translateY(-20%);
                            -webkit-transform: translateY(-20%);
                            transform: translateY(-20%);
                        }
                    }
                    &:nth-child(2) {
                        background: @azul;
                    }

                a {
                        .today;
                        letter-spacing: 1px;
                        color:@branco;
                        font-size: 1rem;
                        text-decoration: none;
                        position: relative;
                            top: 35%;
                            -ms-transform: translateY(-35%);
                            -webkit-transform: translateY(-35%);
                            transform: translateY(-35%);
                    
                    }//a
                }//li
            }//itens-menu
            .btn-menu {
                width: 30%;
                height: 75px;
                float: right;
                position: absolute;
                right: 0;
                top: 0px;
                
                p {
                    .today;
                    .upper;
                    .bold;
                    color:@azul;
                    text-align: center;
                    font-size: 12px;
                    font-weight: lighter;
                    margin:0;
                }
                
            }

            .icon-menu {
                text-align: center;
                margin: 10px auto 0 auto;
                display: block;
                cursor: pointer;
                width: 60%;

                &:after {
                    content:url(../img/icon_menu_abrir.svg);
                    display: block;
                    margin: 10px 0;
                }
            }
            

            .btn-menu-fechar {
                &:after {
                    content:url(../img/icon_menu_fechar.svg);
                    display: block;
                    margin: 10px 0;
                }
                

            }
        
          }//menu-m
      }
      #calendar {
        #wrapper-txt {
            background-position: 65% center;
            min-height: 250px;
            
            .container {
                padding-top:50px;
            }
        }//wrapper-txt
          
        #wrapper-calendar {
            background:@azul;
            min-height: 1100px;
            
            .container {
                width: 100%;
            }

            #r-calendar {
                width: 100%;
                height: auto;
                margin:0;
                position: absolute;
                top: 0px;
                
                .nine.columns, .seven.columns {
                    width:100%;
                } 
                

                
            } //r-calendar
        }//wrapper-calendar

          
      }//calendar
      #newsletter {
          
        #form-news {
          .ul-check {
            li {
                margin: 0;
            }
            
             
               [type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
                  margin-top:15px;
              }
              .error {
                  top: -10px;
                  font-weight: lighter;
                  text-align: center;
              }
              
          }//ul-check
            
            .ul-txt {
                
                label {
                    font-weight: lighter;
                }
                input[type=email] {
                    width:100% !important;
                    float:left;
                    margin-bottom: 20px;
                }
                
                .btn-news {
                    position: relative;
                    width: 40%;
                    float: right;
                    margin: 0;
                }
            }
            
            label.error {
                letter-spacing: 1px !important;
                font-size: 12px !important;
                right: 0 !important;
                line-height: 14px;
                top: -26px;
                height: 50px;
                width: 65%;
                text-align: center;
                padding: 0 10px 0 30px;
                
                &:before {
                    left:-20px;
                }
            }
        }//form
      } //newsletter
      
      footer {
          height: 60px;
          padding:0;
          
          .container {
              padding: 0px 20px 0;
                margin: 0;
                width: 100%;
            img {

                width:100%;
            }
              
            
          }
          
          .five.columns, .eleven.columns {
                width: 50% !important;
              
              &.eleven.columns {
                  img {
                      float: right;
                        width: 40%;
                  }
              } 
            }
      } 
  
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
  
      
      #cena-1, #cena-2, #cena-3, #cena-4, #cena-5 {
          display: none !important;
      } 
      
      .tit {
          font-size: 30px;
          margin: 0;
      }
      
      .txt, #newsletter .txt, #newsletter .txt-2 {
        font-size: 16px;
        padding: 0 20px;
          
          &.txt-2 { 
              margin-top:30px;
          }
      }
      
      header {
          height: 75px;
          padding: 0;
          
          .three.columns, #menu {display:none;}
          
          .five.columns {
              width:60% !important;
              
              img {width:100%;}
          }
          
          .container, img {
        
              display: block;
          }
          
          .menu-m {
              display: block;
              .itens-menu {
                width: 100%;
                height: 55px;
                display:none;
                text-align: center;
                z-index: 1;
                position: absolute;
                ul {
                    width: 100%;
                    margin: 0;
                    
                
                }
                li {
                    float:left; 
                    width:50%;
                    height: 55px;
                    
                    &:nth-child(1) {
                        background: @verde;
                        a {
                            position: relative;
                            top: 20%;
                            -ms-transform: translateY(-20%);
                            -webkit-transform: translateY(-20%);
                            transform: translateY(-20%);
                        }
                    }
                    &:nth-child(2) {
                        background: @azul;
                    }

                a {
                        .today;
                        letter-spacing: 1px;
                        color:@branco;
                        font-size: 1rem;
                        text-decoration: none;
                        position: relative;
                            top: 35%;
                            -ms-transform: translateY(-35%);
                            -webkit-transform: translateY(-35%);
                            transform: translateY(-35%);
                    
                    }//a
                }//li
            }//itens-menu
            .btn-menu {
                width: 30%;
                height: 75px;
                float: right;
                position: absolute;
                right: 0;
                top: 0px;
                
                p {
                    .today;
                    .upper;
                    .bold;
                    color:@azul;
                    text-align: center;
                    font-size: 12px;
                    font-weight: lighter;
                    margin:0;
                }
                
            }

            .icon-menu {
                text-align: center;
                margin: 10px auto 0 auto;
                display: block;
                cursor: pointer;
                width: 60%;

                &:after {
                    content:url(../img/icon_menu_abrir.svg);
                    display: block;
                    margin: 10px 0;
                }
            }
            

            .btn-menu-fechar {
                &:after {
                    content:url(../img/icon_menu_fechar.svg);
                    display: block;
                    margin: 10px 0;
                }
                

            }
        
          }//menu-m
      }
      #calendar {
        #wrapper-txt {
            background-position: 65% center;
            min-height: 250px;
            
            .container {
                padding-top:50px;
            }
        }//wrapper-txt
          
        #wrapper-calendar {
            background:@azul;
            min-height: 1100px;
            
            .container {
                width: 100%;
            }

            #r-calendar {
                width: 100%;
                height: auto;
                margin:0;
                position: absolute;
                top: 0px;
                
                
                
                .nine.columns, .seven.columns {
                    width:100%;
                } 
            } 
        }

          
      }//calendar
      #newsletter {
          
        #form-news {
          .ul-check {
            li {
                margin: 0;
            }
            
            [type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
                  margin-top:15px;
              }
              
              .error {
                  top: -10px;
                  font-weight: lighter;
                  text-align: center;
              }
              
          }//ul-check
            
            .ul-txt {
                
                label {
                    font-weight: lighter;
                }
                input[type=email] {
                    width:100% !important;
                    float:left;
                    margin-bottom: 20px;
                }
                
                .btn-news {
                    position: relative;
                    width: 40%;
                    float: right;
                    margin: 0;
                }
            }
            
            label.error {
                letter-spacing: 1px !important;
                font-size: 12px !important;
                right: 0 !important;
                line-height: 14px;
                top: -26px;
                height: 50px;
                width: 65%;
                text-align: center;
                padding: 0 10px 0 30px;
                
                &:before {
                    left:-20px;
                }
            }
        }//form
      } //newsletter
      
      footer {
          height: 60px;
          padding:0;
          
          .container {
              padding: 0px 20px 0;
                margin: 0;
                width: 100%;
            img {

                width:100%;
            }
              
            
          }
          
          .five.columns, .eleven.columns {
                width: 50% !important;
              
              &.eleven.columns {
                  img {
                      float: right;
                        width: 40%;
                  }
              } 
            }
      } 
  }//media-query



