<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="display_name">Nome de exibição</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="display_name" name="display_name">
                            </div>
                        </div>
                        <div clas
                             <div class="control-group">
                                <label class="control-label" for="first_name">Nome</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="first_name" name="first_name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="last_name">Sobrenome</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="last_name" name="last_name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">E-mail</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-envelope"></i></span>
                                        <input type="text" class="input-xlarge {validate:{required:true, email:true, messages:{required:'Campo Obrigatório', email:'Entre com um e-mail válido.'}}}" id="email" name="email" onChange="validateDadosAdmin($(this), 'email', this.value);">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="password">password</label>
                                <div class="controls">
                                    <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="password" name="password" onChange="validateDadosAdmin($(this), 'login', this.value);">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="data_nascimento">Data Nascimento</label>

                                <div class="controls">
                                    <select id="dia" name="dia" class="span1">
                                        <option value="">Dia</option>
                                        <?php
                                        for ($i = 1; $i <= 31; $i++) {
                                            ?>
                                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                        <?php } ?>
                                    </select>
                                    <select id="mes" name="mes" class="span1">
                                        <option value="">Mês</option>
                                        <?php
                                        for ($i = 1; $i <= 12; $i++) {
                                            ?>
                                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                        <?php } ?>
                                    </select>
                                    <select id="ano" name="ano" class="span1">
                                        <option value="">Ano</option>
                                        <?php
                                        for ($i = (int) date("Y") - 15; $i >= 1900; $i--) {
                                            ?>
                                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="genero">Gênero</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="genero" id="rd-feminino" value="f">
                                        Feminino
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="genero" id="rd-masculino" value="m">
                                        Masculino
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="idioma">Idioma</label>
                                <div class="controls">
                                    <select id="idioma" name="idioma" >
                                        <option value="pt_BR">Português</option>
                                        <option value="en">Inglês</option>                                  
                                    </select>                               
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="pais">País</label>
                                <div class="controls">
                                    <input type="text" class="input" id="pais" name="pais">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="estado">Estado</label>
                                <div class="controls">
                                    <input type="text" class="input" id="estado" name="estado">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="cidade">Cidade</label>
                                <div class="controls">
                                    <input type="text" class="input" id="cidade" name="cidade">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="endereco">Endereço Completo</label>
                                <div class="controls">
                                    <input type="text" class="input" id="endereco" name="endereco" value="" onChange="procuraEndereco($(this), this.value, <?php echo $this->row->id ?>);" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="regiao">Região</label>
                                <div class="controls">
                                    <input type="text" class="input" id="regiao" name="regiao">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="foto">Foto</label>
                                <div class="controls">
                                    <div class="fluid">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail">

                                                <img src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=sem+imagem" />                                        

                                            </div>

                                            <div class="fileupload-preview fileupload-exists thumbnail" data-provides="fileupload" data-name="logo" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                                            <div>
                                                <span class="btn btn-file">
                                                    <span class="fileupload-new" >Enviar imagem</span>
                                                    <span class="fileupload-exists">Mudar</span>
                                                    <input type="file" name="logo" id="logo"/>
                                                </span>
                                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
