<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Luvr</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Nome de exibição:</b></td>
                <td><?php echo $this->row->display_name; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Nome:</b></td>
                <td><?php echo $this->row->first_name; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Sobrenome:</b></td>
                <td><?php echo $this->row->last_name; ?></td>
            </tr>
           
            <tr>
                <td><b>E-mail:</b></td>
                <td><?php echo $this->row->email; ?></td>
            </tr>          
            <tr>
                <td><b>Data de Nascimento:</b></td>
                <td><?php echo $this->row->data_nascimento; ?></td>
            </tr>
            <tr>
                <td><b>Gênero:</b></td>
                <td><?php echo $this->row->genero; ?></td>
            </tr>
            <tr>
                <td><b>Idioma:</b></td>
                <td><?php echo $this->row->idioma; ?></td>
            </tr>
              <tr>
                <td><b>País:</b></td>
                <td><?php echo $this->row->pais; ?></td>
            </tr>
              <tr>
                <td><b>Estado:</b></td>
                <td><?php echo $this->row->estado; ?></td>
            </tr>
            <tr>
                <td><b>Cidade:</b></td>
                <td><?php echo $this->row->cidade; ?></td>
            </tr>          
            <tr>
                <td><b>Região:</b></td>
                <td><?php echo $this->row->regiao; ?></td>
            </tr>
            <?php if ($this->row->media_id) { ?>
                <tr>              
                    <td colspan="2" style="text-align: center;">
                        <img src="<?php echo Model_Media::getThumbnail($this->row->media_id, 'user', 'site'); ?>" id="small" class="img-circle"/>
                    </td>                   
                </tr>
            <?php } else if ($this->row->foto_url) { ?>
                <tr>              
                    <td colspan="2" style="text-align: center;">
                        <img src="<?php echo $this->row->foto_url; ?>" id="small" class="img-circle"/>
                    </td>                   
                </tr>
            <?php } else { ?>
                <tr>              
                    <td colspan="2" style="text-align: center;">
                        <img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=sem+imagem" class="img-circle"/>      
                    </td>                   
                </tr>
            <?php } ?>    

        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-user').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>