<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name" name="name" value="<?php echo $this->row->name; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_parent">Resource Pai</label>
                            <div class="controls">
                                <select id="id_parent" name="id_parent">
                                    <option value="null">Selecione uma resource</option>
                                    <?php foreach ($this->resourcesPai as $resource) : ?>
                                        <option value="<?php echo $resource->id ?>" <?=$resource->id==$this->row->id_parent?'selected':'';?>  ><?php echo $resource->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>