<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <?php
        echo $this->partial('partial/messages.phtml');
        ?>
        <div class="row">
            <div class="span10">
                <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="30">Código</th>
                                <th>Nome</th>
                                <th>Resource Pai</th>
                                
                                <th width="141" class="tc">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                                <tr>
                                    <td><?php echo $row->id; ?></td>
                                    <td><?php echo $row->name; ?></td>
                                    <td><?php echo $row->parent; ?></td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row->id), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-resource"><span class="icon-eye-open"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row->id), NULL, true); ?>" class="btn bt-edit" title="Editar" ><span class="icon-pencil"></span></a>
                                                                                        
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row->id), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                <?php } ?>
            </div>
        </div>

        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>           

    </div>
    <div id="view-resource" class="modal hide fade">
    </div>
</div>