<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<script type="text/javascript">
    function getControllers(resource) {
        jQuery.ajax({
            url: '<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "controllers"), NULL, true); ?>',
            type: 'POST',
            data: {resource:resource},
            success: function(data, textStatus, xhr) {
                $('.cmb_controllers').attr('disabled', false).html(data);
                console.log(data);
            }
        });                   	  
    }
    function getActions(module,controller) {
        jQuery.ajax({
            url: '<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "actions"), NULL, true); ?>',
            type: 'POST',
            data: {module:module,controller:controller},
            success: function(data, textStatus, xhr) {
                $('.cmb_actions').attr('disabled', false).html(data);
                console.log(data);
            }
        });                   	  
    }
</script>
<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">

                    <fieldset> 
                        <div class="control-group">
                            <label class="control-label" for="id_parent">Resource Pai</label>
                            <div class="controls">
                                <select id="id_parent" name="id_parent" onChange="getControllers(this.value);">
                                    <option value="null">Selecione uma resource</option>
                                    <?php foreach ($this->resourcesPai as $resource) : ?>
                                        <option value="<?php echo $resource->name ?>" <?= $resource->id_resource == $this->id_parent ? 'selected' : ''; ?>  ><?php echo $resource->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="controller">Controllers</label>
                            <div class="controls">
                                <select id="controller" name="controller" class="cmb_controllers {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" disabled="disabled" onChange="getActions(this.value,getElementById('controller').value);">
                                    <option value="">Selecione um Controller</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="actions">Actions</label>
                            <div class="controls">
                                <select id="actions" name="actions" class="cmb_actions {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" disabled="disabled" >
                                    <option value="">Selecione um Actions</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name" >Resource</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name" name="name">
                            </div>
                        </div>



                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>