<div class="principal">
    <div class="sucesso">
        <small>Página não encontrada</small>
        <div class="bg_conf">
            <h4>A página solicitada não foi encontrada</h4>
            <p>Tente novamente</p>
        </div>
    </div>
</div><!-- /principal -->