<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">
    <?php // echo $this->partial('partial/sub-navigation.phtml'); ?>
    <div class="span2">
        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="active">
                    <a href="http://oswaldo/admin/pessoa" title="Listar Pessoas"><i class="icon-list"></i>Listar Pessoas</a>
                </li>
                <li>
                    <a href="http://oswaldo/admin/pessoa/new" title="Nova Pessoa"><i class="icon-plus"></i>Nova Pessoa</a>
                </li>

                <li>
                    <a href="#" id="btn-show-filters"><i class="icon-cog"></i>Filtros</a></li>
                </li>
                <li>
                    <a href="#" id="btn-show-campos-export"><i class="icon-download-alt"></i>Download</a></li>
                </li>
            </ul>
        </div>
    </div>

    <div class="span10">
        <?php
        echo $this->partial('partial/messages.phtml');
        ?>
        <div class="row">
            <div class="span10">

                <form class="form <?php echo isset($this->tipo) || isset($this->categoria) ? "" : "hide"; ?>" action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index'), NULL, true); ?>" id="frm-filters">
                    <?php if (isset($this->by) && !empty($this->order)) { ?>
                        <input type="hidden" name="by" value="<?php echo $this->by; ?>">
                    <? } ?>
                    <?php if (isset($this->order) && !empty($this->order)) { ?>
                        <input type="hidden" name="order" value="<?php echo $this->order; ?>">
                    <? } ?>
                    <div class="form-actions">
                        <div id="filters">
                            <div class="span3">
                                Filtrar Por:
                                <label class="radio">
                                    <input type="radio" name="tipo" id="rd-pf" value="pf" <?php echo $this->tipo == 'pf' ? 'checked' : '' ?>>
                                    Pessoa Física
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipo" id="rd-pj" value="pj" <?php echo $this->tipo == 'pj' ? 'checked' : '' ?>>
                                    Pessoa Jurídica
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipo" id="rd-nada" value="" <?php echo $this->tipo == '' ? 'checked' : '' ?>>
                                    Todos
                                </label>
                            </div>
                            <div class="span3">
                                <label>Categoria:</label>
                                <select id="categoria" name="categoria">
                                    <option value="">Selecione uma categoria</option>
                                    <?php
                                    foreach ($this->categorias as $categoria) {
                                        $sel = '';
                                        if ($categoria->id == $this->categoria) {
                                            $sel = "selected";
                                        }
                                        ?>
                                        <option value="<?php echo $categoria->id; ?>" <?php echo $sel; ?>><?php echo $categoria->nome; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="span3">
                                <label>Nome:</label>
                                <input type="text" name="nome" id="search-nome" class="input-small" autocomplete="off">
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                                <button type="reset" class="btn">Cancelar</button>
                            </div>               
                        </div>
                    </div>
                </form>
                <form class="form hide" action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'export-xls'), NULL, true); ?>" id="frm-export" method="POST">
                    <input type="hidden" name="tipo" value="<?php echo $this->tipo; ?>">
                    <input type="hidden" name="categoria" value="<?php echo $this->categoria; ?>">
                    <div class="form-actions">
                        <div id="campos-export">
                            <div class="">
                                Selecionar Campos:<br>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cod" value="id" name="campos[]"> Cod
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-nome" value="nome" name="campos[]"> Nome
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-razao-social" value="razao_social" name="campos[]"> Razão Social
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cpf-cnpj" value="cpf_cnpj" name="campos[]"> CPF/CNPJ
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk" value="cargo" name="campos[]"> Cargo
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-profissao" value="profissao" name="campos[]"> Profissão
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cadastrado-por" value="cadastrado_por" name="campos[]"> Cadastrado por
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cadastrado-em" value="data_cadastro" name="campos[]"> Cadastrado em
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-estado-por" value="editado_por" name="campos[]"> Editado por
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-editado-em" value="data_edicao" name="campos[]"> Editado em
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-endereco" value="endereco" name="campos[]"> Endereço
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-bairro" value="bairro" name="campos[]"> Bairro
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cidade" value="cidade" name="campos[]"> Cidade
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-uf" value="uf" name="campos[]"> Uf
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-cep" value="cep" name="campos[]"> CEP
                                    </label>
                                </div>
                                <div class="span3">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="chk-categoria" value="categoria_id" name="campos[]"> Categoria
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-info">Exportar para excel</button>
                            </div>               
                        </div>
                    </div>
                </form>
            </div>
            <div class="span10" id="tabela-principal">
                <?php if (count($this->paginator)) { ?>
                    <h4>Número de cadastros: <?php echo $this->paginator->getTotalItemCount(); ?></h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="75">Cód.
                                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'id', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a> 
                                    <a class="ordenador" title="ordem decrescente"  href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'id', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>                               
                                </th>                              
                                <th>Nome
                                    <a title="ordem crescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'nome', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a title="ordem decrescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'nome', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                <!--<th>Razao Social</th>-->                                                                                        
    <!--                                <th>CPF/CNPJ
                                    <a title="ordem crescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cpf_cnpj', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a title="ordem decrescente" class="ordenador" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cpf_cnpj', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                </th>                                                                                        -->
        <!--                                <th>Profissão</th>                                                                                        
                                <th>Cargo</th>                                                                                        -->
                                <th>Data Cadastro
                                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_cadastro', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_cadastro', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                </th>                                                                                        
    <!--                                <th>Cadastrado por
                                    <a title="ordem crescente" class="ordenador" href="<?php // echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cadastrado_por', 'order' => 'ASC')), NULL, true);               ?>">&#x25BC</a>
                                    <a title="ordem decrescente" class="ordenador" href="<?php // echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'cadastrado_por', 'order' => 'DESC')), NULL, true);               ?>">&#x25B2;</a>
                                </th>                                                                                        -->
                                <th>Data Edição
                                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_edicao', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'data_edicao', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                </th>                                                                                        
                                <th>Editado por
                                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'editado_por', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'editado_por', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                </th>                                                                                        
    <!--                                <th>Tipo
                                    <a class="ordenador" title="ordem crescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'tipo', 'order' => 'ASC')), NULL, true); ?>">&#x25BC</a>
                                    <a class="ordenador" title="ordem decrescente" href="<?php echo $this->url(array_merge($this->search_params, array('module' => 'admin', 'controller' => $this->controller, 'action' => 'index', 'by' => 'tipo', 'order' => 'DESC')), NULL, true); ?>">&#x25B2;</a>
                                </th>-->
                                <!--<th>Status</th>-->
                                <th width="100" class="tc">Ações</th>
                            </tr>

                        </thead>
                        <tbody id="corpo-tabela">
                            <?php foreach ($this->paginator as $row) { ?>
                                <tr>
                                    <td><?php echo $row->id; ?></td>
                                    <td><?php echo $row->nome; ?></td>                                
                                    <!--<td><?php // echo $row->razao_social;                                                                          ?></td>-->                                
                                    <!--<td><?php // echo $row->cpf_cnpj;                  ?></td>-->                                
                                    <!--<td><?php // echo $row->profissao;                                                                           ?></td>-->                                
                                    <!--<td><?php // echo $row->cargo;                                                                           ?></td>-->                                
                                    <td>
                                        <?php
                                        $date_cad = date_create($row->data_cadastro);
                                        echo date_format($date_cad, 'd-m-Y');
                                        ?>
                                    </td>     

                                                                                                        <!--                                    <td>
                                    <?php // echo $row->cadastrado_por; ?>
                                                                                                                                            </td>                                -->
                                    <td>
                                        <?php
                                        $date_edi = date_create($row->data_edicao);
                                        echo date_format($date_edi, 'd-m-Y');
                                        ?>
                                    </td>  
                                    <td>
                                        <?php echo $this->getUsuarioNome($row->editado_por); ?>
                                    </td>  
        <!--                                    <td>
                                    <?php
//                                        switch ($row->tipo) {
//                                            case 'pf':
//                                                echo '<span class="label label-important">Pesso Física</span>';
//                                                break;
//                                            case 'pj':
//                                                echo '<span class="label label-inverse">Pessoa Jurídica</span>';
//                                                break;
//                                            default:
//                                                break;
//                                        }
                                    ?>
                                    </td>                                -->
                                    <!--<td><?php // echo $row->editado_por;                                                                          ?></td>-->                                
        <!--                                    <td>
                                    <?php
//                                        switch ($row->status) {
//                                            case 'ativo':
//                                                echo '<span class="label label-success">Ativo</span>';
//                                                break;
//                                            case 'inativo':
//                                                echo '<span class="label label-warning">Invativo</span>';
//                                                break;
//                                            case 'deletado':
//                                                echo '<span class="label label-important">Deletado</span>';
//                                                break;
//                                            default:
//                                                break;
//                                        }
                                    ?>
                                    </td>-->
                                    <td>
                                        <div class="btn-group">

                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row['id']), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-pessoa-juridica"><span class="icon-eye-open"></span></a>                                           
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row['id']), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row['id']), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ban' : 'ok'); ?>-circle"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row['id']), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                <?php } ?>
                <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination_pessoa.phtml', array('search_params' => $this->search_params)); ?>
            </div>
        </div>



    </div>
    <div id="view-pessoa-juridica" class="modal hide fade">
    </div>
</div>

<script>
    $("#btn-show-filters").click(function(){
        $("#frm-filters").toggle();
        return false;
    })
    $("#btn-show-campos-export").click(function(){
        $("#frm-export").toggle();
        return false;
    })
    jQuery('#search-nome').keyup(function(){
        console.log('digitou');
        getNomes();
    })
    
    
    function getNomes() {
        var nome = jQuery('#search-nome').val();
        jQuery.ajax({
            url: '<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "index"), NULL, true); ?>',
            type: 'POST',
            data: {nome:nome},
            success: function(data, textStatus, xhr) {

                $('#tabela-principal').html(data);

            }
        });                   	  
    }
</script>