<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Pessoa <?php
if ($this->row->tipo == 'pj') {
    echo "Jurídica";
} elseif ($this->row->tipo == 'pf') {
    echo "Física";
}
?></h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td style=" font-weight: bold;">Nome:</b></td>
                <td><?php echo $this->row->nome; ?></td>
            </tr>

            <?php if ($this->row->tipo == 'pj') { ?>
                <tr>
                    <td style=" font-weight: bold;">Razão Social:</b></td>
                    <td><?php echo $this->row->razao_social; ?></td>
                </tr>

            <?php } ?>
            <tr>
                <td><b>CPF/CNPJ:</b></td>
                <td><?php echo $this->row->cpf_cnpj; ?></td>
            </tr>
            <?php if ($this->row->tipo == 'pf') { ?>
                <tr>
                    <td style=" font-weight: bold;">Profissão:</b></td>
                    <td><?php echo $this->row->profissao; ?></td>
                </tr>           
            <?php } ?>
            <?php if ($this->row->tipo == 'pj') { ?>
                <tr>
                    <td><b>Cargo:</b></td>
                    <td><?php echo $this->row->cargo; ?></td>
                </tr>
            <?php } ?>
            <tr>
                <td><b>Endereço:</b></td>
                <td><?php echo $this->row->endereco; ?></td>
            </tr>
            <tr>
                <td><b>Bairro:</b></td>
                <td><?php echo $this->row->bairro; ?></td>
            </tr>
            <tr>
                <td><b>Cidade:</b></td>
                <td><?php echo $this->row->cidade; ?> - <?php echo $this->row->uf; ?></td>
            </tr>
            <tr>
                <td><b>CEP:</b></td>
                <td><?php echo $this->row->cep; ?></td>
            </tr>  

        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-pessoa-juridica').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>