<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Luvminders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
        <link href="../../site/css/united/bootstrap.css" rel="stylesheet">
        <link href="../../site/css/datepicker.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="../../site/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="../../site/css/bootstrap-fileupload.min.css" rel="stylesheet">
        <link href="../../site/css/miniupload.css" rel="stylesheet" />
        <link href="../../site/css/calendar.min.css" rel="stylesheet" />
        <script type="text/javascript">
            var base_url = "<?php echo $this->baseUrl(); ?>/user/";
        </script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand<?php
                            if ($this->pageTitle == 'Index') {
                                echo ' active';
                            }
                            ?>" href="index">LuvMinder</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">                         
                            <li<?php
                            if ($this->pageTitle == 'Settings') {
                                echo ' class="active"';
                            }
                            ?>><a href="settings"><i class="icon-cog icon-white"></i>Olá <?php echo $this->userSession->first_name; ?></a></li>
                            <li<?php
                            if ($this->pageTitle == 'Relacionamento') {
                                echo ' class="active"';
                            }
                            ?>><a href="dates-pane"><i class="icon-calendar icon-white"></i>Painel de Datas</a></li>
                            <li><a href="logout">Sair</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <?php echo $this->layout()->content; ?>
        </div> 
        <!-- /container -->




        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="../../assets/js/jquery.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/mylibs/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../js/mylibs/messages_pt_BR.js"></script>
        <script type="text/javascript" src="../js/mylibs/bootstrap-fileupload.min.js"></script>
        <script type="text/javascript" src="../js/mylibs/jquery.knob.js"></script>

        <!-- caldendar-->
        <script type="text/javascript" src="../js/mylibs/component/calendar/underscore-min.js"></script>
        <script type="text/javascript" src="../js/mylibs/component/calendar/pt-BR.js"></script>
        <script type="text/javascript" src="../js/mylibs/calendar.js"></script>
        <script type="text/javascript" src="../js/mylibs/component/calendar/app.js"></script>

        <!-- jQuery File Upload Dependencies -->
        <script type="text/javascript" src="../js/mylibs/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../js/mylibs/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="../js/mylibs/jquery.fileupload.js"></script>


<!--<script src="../js/mylibs/bootstrap-datepicker.js"></script>-->
<!--<script type="text/javascript" src="../js/mylibs/bootstrap-datepicker.pt-BR.js" charset="UTF-8"></script>-->
        <script type="text/javascript" src="../assets/js/user-application.js"></script>


    </body>
</html>
