<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Luvminder</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/video/video-js.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/luvminder/ddslick.css" rel="stylesheet" type="text/css">
        <!--<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/luvminder/css/avgrund.css" type="text/css">-->
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/luvminder/css/notification/notification.css" type="text/css">

        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/luvminder/css/style.less" type="text/less" media="screen" />

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/luvminder/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">
        <!--<link href="<?php echo $this->baseUrl(); ?>/luvminder/css/jqueryuifalt/jquery-ui.css" rel="stylesheet" type="text/css">-->

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/prettyCheckable.css" rel="stylesheet" type="text/css">

        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/modernizr.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/less.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/video.js"></script>
        <script>
            videojs.options.flash.swf = "<?php echo $this->baseUrl(); ?>/luvminder/js/video-js.swf";
            var base_url = '<?php echo $this->baseUrl(); ?>/user/';
        </script>

    </head>

    <body rel="<?php echo $this->pageRel; ?>">      
        <div id="wrap">
            <div id="container">
                <header>
                    <div class="header-content">
                        <h1><a href="" title="">Luvminder</a></h1>
                        <?php if (!$this->userSession) : ?>
                            <div class="box-login">
                                <a href="#create-account" title="" class="open-popout">Criar conta</a>
                                <button href="#login" type="button" class="open-popout">Entrar</button>
                            </div>
                        <?php else : ?>
                            <style>
                                #user-display-name{
                                    position:relative;
                                    white-space: nowrap;                                                                   
                                }
                                #user-display-name:after {
                                    position: absolute;
                                    bottom: 0;  

                                    height: 100%;
                                    width: 100%;
                                    content: "";
                                    background: linear-gradient(to left,
                                        rgba(255,255,255, 1) 5%, 
                                        rgba(255,255,255, 0) 40%
                                        );
                                    pointer-events: none;
                                }
                            </style>
                            <div class="box-logged">
                                <ul>
                                    <li class="btn-account"><a id="user-display-name" href="settings" title="Configurações"<?php echo ($this->pageTitle == 'Settings') ? ' class="ativo"' : ''; ?>><span  style=''>Olá, <?php echo $this->showUserName($this->userSession); ?></span></a></li>
                                    <li class="btn-painel"><a href="dates-pane" title="Painel de Datas"<?php echo ($this->pageTitle == 'Relacionamento') ? ' class="ativo"' : ''; ?>>Painel de Datas</a></li>
                                    <li class="btn-logout"><a href="logout" title="Sair">Sair</a></li>
                                </ul>
                            </div>
                        <?php endif; ?>
                    </div>
                </header><!-- /header -->

                <?php echo $this->layout()->content; ?>

            </div><!-- /container -->
            <?php /* 	
              <div class="depoimentos">

              <div class="centraliza">

              <div class="depoimento">
              <h2>"Lorem Ipsum. Dolor Sit."</h2>
              <p><strong>Bill gates - Microsoft</strong>, blogueiro de tecnologia da globo.com</p>

              <figure>
              <img src="imagens/apagar/foto-bill.jpg" alt="" />
              </figure>
              </div>

              </div>

              </div>
             */ ?>

        </div><!-- /wrap -->
        <footer>

            <div class="centraliza">
                <a href="#wrap" id="roll" title="voltar pro topo" class="btn-back-top">voltar pro topo</a>
                <div class="assinatura">
                    <h2>criado e oferecido por:</h2>
                    <ul>
                        <li class="logo-sopa-club"><a href="" title="Sopa Club">Sopa Club</a></li>
                        <li>+</li>
                        <li class="logo-qualitare"><a href="" title="Qualitare - Agência de Internet">Qualitare - Agência de Internet</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!--        <div id="login" class="modal-enter">
                    <div class="header">
                        <h2>Entrar</h2>
                    </div>
                    <div class="content">
        
                        <div class="opcoes-acesso">
        
                            <div class="opcao-redes">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin:</p>
                                <ul>
                                    <li class="btn-entrar-facebook">
                                        <a href="login/authenticatewith/facebook" title="Logar com Facebook"><span class="icon-facebook"></span> Logar com Facebook</a>
                                    </li>
                                    <li class="btn-entrar-twitter">
                                        <a href="login/authenticatewith/twitter" title="Logar com Twitter"><span class="icon-twitter"></span> Logar com Twitter</a>
                                    </li>
                                    <li class="btn-entrar-googleplus">
                                        <a href="login/authenticatewith/google" title="Logar com Google+"><span class="icon-googleplus"></span> Logar com Google+</a>
                                    </li>
                                </ul>
                            </div>
        
                            <div class="opcao-form">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin:</p>
                                <form action="login" method="POST">
                                    <fieldset>
                                        <span class="field">
                                            <label for="fld-login" class="ico-login"></label>
                                            <input type="text" name="email" id="fld-login" placeholder="E-mail" />
                                        </span>
                                        <span class="field">
                                            <label for="fld-senha" class="ico-password"></label>
                                            <input type="password" name="senha" id="fld-senha" placeholder="Senha" />
                                        </span>
                                        <span class="btns">
                                            <button type="submit">Fazer Login</button>
                                        </span>
                                    </fieldset>
                                </form>
                            </div>
        
                        </div>
        
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        
                    </div>
                </div>
        
                <div id="create-account" class="modal-enter">
                    <div class="header">
                        <h2>Criar Conta</h2>
                    </div>
                    <div class="content">
        
                        <div class="opcoes-acesso">
        
                            <div class="opcao-redes">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin:</p>
                                <ul>
                                    <li class="btn-entrar-facebook">
                                        <a href="login/authenticatewith/facebook" title="Logar com Facebook"><span class="icon-facebook"></span> Logar com Facebook</a>
                                    </li>
                                    <li class="btn-entrar-twitter">
                                        <a href="login/authenticatewith/twitter" title="Logar com Twitter"><span class="icon-twitter"></span> Logar com Twitter</a>
                                    </li>
                                    <li class="btn-entrar-googleplus">
                                        <a href="login/authenticatewith/google" title="Logar com Google+"><span class="icon-googleplus"></span> Logar com Google+</a>
                                    </li>
                                </ul>
                            </div>
        
                            <div class="opcao-form">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin:</p>
                                <form action="signin" method="POST">
                                    <fieldset>
                                        <span class="field">
                                            <label for="fld-email" class="ico-login"></label>
                                            <input type="text" name="email" id="fld-email" placeholder="E-mail" />
                                        </span>
                                        <span class="field">
                                            <label for="fld-senha" class="ico-password"></label>
                                            <input type="text" name="password" id="fld-senha" placeholder="Senha" />
                                        </span>
                                        <span class="btns">
                                            <button type="submit">Criar Conta</button>
                                        </span>
                                    </fieldset>
                                </form>
                            </div>
        
                        </div>
        
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        
                    </div>
                </div>-->


        <div class="notification sticky hide">
            <p>Erro!</p>
            <a class="close" href="javascript: void(0);">
                <img src="../luvminder/css/notification/images/icon-close.png" />
            </a>
        </div>
    </body>
    <script data-main="<?php echo $this->baseUrl(); ?>/luvminder/js/main" src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/require-jquery.js"></script>
</html>