<div class="page-header">

    <div class="pull-right form-inline">
        <div class="btn-group">
            <button class="btn btn-primary" data-calendar-nav="prev"><< Anterior</button>
            <button class="btn" data-calendar-nav="today">Hoje</button>
            <button class="btn btn-primary" data-calendar-nav="next">Próximo >></button>
        </div>
        <div class="btn-group">
            <button class="btn btn-warning" data-calendar-view="year">Ano</button>
            <button class="btn btn-warning active" data-calendar-view="month">Mês</button>
            <button class="btn btn-warning" data-calendar-view="week">Semana</button>
            <button class="btn btn-warning" data-calendar-view="day">Dia</button>
        </div>
    </div>
    <h3></h3>
</div>

<div class="row">
    <div class="span9">
        <div id="calendar"></div>
    </div>
    <div class="span3">
        <h4>Lembretes</h4>
        <ul id="eventlist" class="nav nav-list"></ul>
    </div>
</div>
