<div class="principal">
    <section class="maisprocurados">
        <h2><span>Deliverys</span> mais procurados</h2>
        <ul>
            <?php
            $i = 1;
            foreach ($this->maisbuscados as $buscas):
                ?>
                <li><span><?php echo $i; ?></span> <div><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'buscas', "termo" => $buscas->termo), "buscas", true); ?>"><?php echo$buscas->termo; ?></a></div></li>

                <?php
                $i++;
            endforeach;
            ?>
        </ul>
    </section><!-- /maisprocurados -->
    <section class="maisrapidos">
        <h2>Os mais <span>rápidos</span></h2> 
        <ul>
            <?php
            $i = 1;
            foreach ($this->maispedidos as $rapidos):                
                ?>
                <li><span><?php echo $i; ?></span> <div><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'empresa', 'slug' => $rapidos["slug"]), "empresa", true); ?>"><?php echo $rapidos["nome"]; ?><small class="bairro"><?php echo $rapidos["bairro"]; ?></small></a></div></li>
                <?php
                $i++;
            endforeach;
            ?>
        </ul>
    </section><!-- /maisrapidos -->

    <section class="destaque-do-dia">
        <h2>Destaque do dia</h2>
        <div class="destaque-do-dia-content">
            <a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'empresa', 'slug' => $this->destaquedodia->Estabelecimentos_slug), "empresa", true); ?>">
                <?php
                $destaqueDoDiaImagem = Model_Media::getThumbnail($this->destaquedodia->imagem, "produto", 'destaque-do-dia');
                if ($destaqueDoDiaImagem) {
                    ?>
                    <img src="<?php echo $destaqueDoDiaImagem; ?>" alt="<?php echo $this->destaquedodia->titulo; ?>"/>
                <?php } else { ?>
                    <img src="http://placehold.it/257x226" />                                     
                <?php } ?>           
                <div class="info-destaque-do-dia">
                    <h3><?php echo $this->destaquedodia->titulo; ?></h3>
                    <h4><?php echo $this->destaquedodia->Estabelecimentos_nome_fantasia; ?></h4>
                    <span class="preco">R$ <?php echo $this->destaquedodia->valor_por; ?></span>
                </div>
            </a>
        </div>
    </section>

    <section class="parceiros">
        <h2>Parceiros</h2>
        <div class="scroll_par">

            <!-- "previous page" action -->
            <a class="prev browse sprite"></a>

            <!-- root element for scrollable -->
            <div class="scrollable" id="scrollable">

                <!-- root element for the items -->
                <div class="items">
                    <div class="item">
                        <?php
                        for ($i = 0; $i < count($this->parceiros); $i++) :
                            if (($i % 6) == 5) :;
                                ?>
                            </div>
                            <div class="item">
                            <?php endif; ?>
                            <a href="<?php echo $this->parceiros[$i]->link ? $this->parceiros[$i]->link : 'javascript:void(0);'; ?>" title="<?php echo $this->parceiros[$i]->parceiro; ?>" <?php echo $this->parceiros[$i]->link ? 'target="_blank"' : "" ?>> 
                                <img src="<?php echo Model_Media::getThumbnail($this->parceiros[$i]->logo, 'parceiro', 'home'); ?>" alt="<?php echo $this->parceiros[$i]->parceiro; ?>">
                            </a>                          
                        <?php endfor; ?>
                    </div>

                </div><!-- /items -->

            </div>

            <!-- "next page" action -->
            <a class="next browse sprite"></a>

        </div><!-- /scroll_par -->
    </section><!-- /parceiros -->
    <div class="clear"></div>
</div>