	<div class="content">
		
		<section id="home" class="page">
			
			<div class="video-home">
				
				<div class="centraliza">
					
					<div class="video-player">
						<video id="video" class="video-js vjs-default-skin" controls preload="none" width="100%" height="100%" data-setup="{}">
					      <source src="<?php echo $this->baseUrl(); ?>/luvminder/media/video_16x9.mp4" type='video/mp4' />
					      	<source src="<?php echo $this->baseUrl(); ?>/luvminder/media/video_16x9.webm" type='video/webm' />
					      <!-- <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' /> -->
					      <!-- <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
					    </video>
					</div>

					<div class="video-header animate-up">
						<h2 class="faixa">
							A Melhor Inveção depois do cupido
						</h2>
						
						<div class="about-luvminder">
							<strong>Luvminder</strong> é uma ferramenta que ajuda você a não passar batido nas datas de namoro, noivado ou casamento
						</div>
					</div>
					
					<div class="balao-container">
						
						<div class="balao-assista-video animate-right">
							
						</div>
					
						<div class="balao arrow_box animate-right">
							<h2>Se liga, aí!</h2>
							<p><strong>Amanhã</strong> você completa dois meses de namoro.</p>
						</div>
						
						<div class="app-stores animate-right">
							<p>Em breve na sua loja de aplicativos:</p>
							<ul>
								<li class="btn-google-play"><a href="" title="Google play">Google play</a></li>
								<li class="btn-app-store"><a href="" title="App Store">App Store</a></li>
							</ul>
						</div>
						
					</div>
					
					<div class="video-play animate-hide">
						<button type="button">Assista</button>
					</div>
					
					<div class="crie-conta">
						
						<div class="chamada-cadastro animate-left">
							Para se cadastrar e receber os lembretes é grátis, rápido e sem complicação
						</div>
						
						<a href="#create-account" title="" class="bt-cria-conta-gratis animate-left open-popout">Crie uma conta, <span>é grátis</span></a>
						
						<p class="animate-left">Sem formulários, conecte uma rede:</p>
						
						<ul class="redes-sociais animate-left">
							<li><a href="" title="Facebook" class="icon-facebook"><span>Facebook</span></a></li>
							<li><a href="" title="Twitter" class="icon-twitter"><span>Twitter</span></a></li>
							<li><a href="" title="Google Plus" class="icon-google-plus"><span>Google Plus</span></a></li>
							<li class="last"><a href="" title="E-mail" class="icon-mail"><span>E-mail</span></a></li>
						</ul>
						
						<div class="app-stores animate-left">
							<p>Em breve na sua loja de aplicativos:</p>
							<ul>
								<li class="btn-google-play"><a href="" title="Google play">Google play</a></li>
								<li class="btn-app-store"><a href="" title="App Store">App Store</a></li>
							</ul>
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<div class="etapas">
				
				<div class="centraliza">
				
					<div class="header">
						<h2>O amor é à moda antiga. <span>O lembrete, não.</span></h2>
						<p>Crie seu Luvminder em três passos simples:</p>
					</div>
					
					<div class="passos">
						
						<div class="passo">
							<figure><img src="<?php echo $this->baseUrl(); ?>/luvminder/imagens/passo_1.png" alt="Passo 1" /></figure>
							<h3>Escolha uma conta</h3>
							<p>Vincule sua conta de email do Google ou sua rede social mais usada para receber os lembretes e evitar formulários chatos.</p>
						</div>
						
						<div class="passo">
							<figure><img src="<?php echo $this->baseUrl(); ?>/luvminder/imagens/passo_2.png" alt="Passo 2"></figure>
							<h3>Crie as datas</h3>
							<p>Adicione datas e escolha com qual frequência e antecedência deseja receber os lembretes.</p>
						</div>
						
						<div class="passo">
							<figure><img src="<?php echo $this->baseUrl(); ?>/luvminder/imagens/passo_3.png" alt="Passo 3"></figure>
							<h3>Não tem passo 3</h3>
							<p>Os lembretes chegam no seu e-mail e <i>em breve</i> no seu celular. Não tem como passar batido.</p>
						</div>
						
					</div>
					
					<div class="comece-agora">
						<h2>Não precisa de uma nova conta</h2>
						<p>Nada de preencher formulários chatos nem criar novas contas, com senhas das quais não vai lembrar. O serviço aceita sua conta do <span>Facebook</span>, <span>Twitter</span> ou <span>Google</span>. </p>
						<a href="#create-account" title="Comece agora" class="btn-comece-agora open-popout">Comece agora</a>
					</div>
					
				</div>
				
			</div>
			
		</section>
		
	</div>