<section id="reminder">
    <div class="page-header">
        <h1>Painel de Datas</h1>
    </div>

    <div class="row">
        <div class="span10 offset1">         
            <div class="well">
                <h4>Adicionar uma nova data importante</h4>
            </div>
            <form class="form-horizontal well">
                <fieldset>
                    <div class="control-group">                       
                        <div class="controls">
                            <input type="text" class="span4" id="titulo" name="titulo" placeholder="Título">                            
                        </div>
                    </div>                    
                    <div class="control-group">
                        <label class="control-label" for="name">Relacionamento com:</label>
                        <div class="control-group">                           
                            <div class="controls controls-row">
                                <select id="genero" name="genero" class="span1">
                                    <option value="f">F</option>                              
                                    <option value="m">M</option>                                
                                </select>
                                <input type="text" class="span3" id="com" name="com" placeholder="Qual o nome da parceira?">                            
                            </div>
                        </div>    
                    </div>    

                    <div class="control-group">
                        <label class="control-label" for="tipo">Tipo:</label>
                        <div class="controls">
                            <select id="tipo" name="tipo" class="span2">
                                <option>Esquema</option>
                                <option>Pega</option>
                                <option>Namoro</option>
                                <option>Noivado</option>
                                <option>Casamento</option>
                                <option>Bodas</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="data_inicio">Data Início:</label>
                        <div class="controls">
                            <input type="text" class="input-small" id="data_inicio" name="data_inicio">                            
                        </div>
                    </div>     

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Lembretes</legend>

                    <div class="control-group">
                        <label class="control-label" for="intervalo">Intervalo:</label>
                        <div class="controls controls-row">
                            <select id="intervalo" name="intervalo" class="span1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <select id="repeticao" name="repeticao" class="span1">
                                <option value="d">dia</option>
                                <option value="s">semana</option>
                                <option value="m">mês</option>
                                <option value="a">ano</option>
                            </select>

                            <select id="a_d" name="a_d" class="span1">
                                <option value="a">antes</option>
                                <option value="d">depois</option>
                            </select>
                            <button type="button"class="btn" style="margin-left: 10px"><i class="icon-trash"></i> </button>
                        </div>
                    </div>
                    <div class="control-group"> <div class="controls"><a href="#">+ adicionar mais lembretes</a></div></div>

                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox">Onde deseja receber os lembretes?</label>
                        <div class="controls">
                            <label class="checkbox inline">
                                <input type="checkbox" id="notification_email" value="e">
                                email
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" id="notification_facebook" value="f">
                                facebook
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" id="notification_twitter" value="t">
                                twitter
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" id="notification_gplus" value="g">
                                Google Plus
                            </label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</section>