<section id="signin">
    <div class="page-header">
        <h1>Criar Conta</h1>
    </div>

    <div class="row">
        <div class="span10 offset1">         

            <?php echo $this->partial('partial/messages.phtml', array("mensagens" => $this->mensagens)); ?>
            <form class="form-horizontal well" action="signin" name="signin" id="signin" method="POST">
                <fieldset>

                    <div class="control-group offset1">
                        <label class="control-label" for="first_name">*Nome:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="first_name" name="first_name">                            
                        </div>
                    </div>                    
                    <div class="control-group offset1">
                        <label class="control-label" for="last_name">*Sobre Nome:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="last_name" name="last_name">                            
                        </div>
                    </div>                    
                    <div class="control-group offset1">
                        <label class="control-label" for="email">*Email:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="email" name="email">                            
                        </div>
                    </div>                    
                    <div class="control-group offset1">
                        <label class="control-label" for="password">*Senha:</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="password" name="password">                            
                        </div>
                    </div>                       

                    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
                        <a href="login/authenticatewith/facebook" class="btn btn-large btn-block btn-success">Facebook</a>
                        <a href="login/authenticatewith/twitter" class="btn btn-large btn-block btn-info">Twitter</a>
                        <a href="login/authenticatewith/google" class="btn btn-large btn-block btn-primary">Google Plus</a>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</section>