
/*----------------------------
	The Chart
-----------------------------*/

/*
#placeholder {
	width: 580px;
	border: 1px solid #CDCDCD;
	padding: 20px;
	border-radius: 3px;
	background-color: white;
	margin-bottom: 15px;
	position: relative;
	box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}

#content {
	margin: 0px auto;
	padding: 45px;
	position: relative;
	width: 570px;
}
*/
#chart{
	width: 100%;
	height: 370px;
        margin: 0;
}

.ex-tooltip{
	position: absolute;
	background: #EEE;
	border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 1px 3px black;
	box-shadow: 0 1px 3px black;
	border-collapse: separate;
	display: none;
}
