<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="intervalo">Frequência</label>
                            <div class="controls">
                                <input type="text" id="intervalo" name="intervalo" value="<?php echo $this->row->intervalo; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="repeticao">Repetição</label>
                            <div class="controls">
                                <select id="repeticao" name="repeticao">
                                    <option value="d" <?php echo $this->row->repeticao == 'd' ? 'selected' : ""; ?>>dia</option>
                                    <option value="s" <?php echo $this->row->repeticao == 's' ? 'selected' : ""; ?>>semana</option>
                                    <option value="m" <?php echo $this->row->repeticao == 'm' ? 'selected' : ""; ?>>mês</option>
                                    <option value="a" <?php echo $this->row->repeticao == 'a' ? 'selected' : ""; ?>>ano</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="a_d">Antes/Depois</label>
                            <div class="controls">
                                <select id="a_d" name="a_d">
                                    <option value="a" <?php echo $this->row->a_d == 'a' ? 'selected' : ""; ?>>antes</option>
                                    <option value="d" <?php echo $this->row->a_d == 'd' ? 'selected' : ""; ?>>depois</option>
                                </select>
                            </div>
                        </div>


                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>

                </form>
            </div>
        </div>

    </div>
</div>
