<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mande-me Delivery - <?php echo $this->title; ?></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet/less" type="text/css" href="<?php echo $this->baseUrl(); ?>/site/css/style.less"  media="screen" />        
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/site/css/jquery.mCustomScrollbar.css"  media="screen" />                
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/site/css/bootstrap-fileupload.min.css"  media="screen" />                
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/site/css/jquery-ui.css" />
        <script type="text/javascript"> var base_url = '<?php echo $this->baseUrl(); ?>';</script>
        <script src="<?php echo $this->baseUrl(); ?>/site/js/libs/less.js"></script>
        <?php echo $this->headLink() ?>


    </head>
    <body rel="<?php echo $this->pageRel ?>" <?php if ($this->userSession) { ?>class="logado"<?php } ?>>

        <div id="wrap">
            <div id="container">
                <header>
                    <div class="escolha_cidade" style="width: 230px;">
                        <small>Escolha sua cidade</small>
                        <select name="escolha_cidade" id="escolha-cidade">
                            <option value="">João Pessoa</option>
                            <option value="">Campina Grande</option>
                        </select>
                    </div>
                    <h1><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'home'), 'home', true); ?>" title="Mande-me Delivery" class="logo indent">Mande-me Delivery</a></h1>
                    <div class="passoapasso">
                        <h2><span class="font25">3 passos</span> <span class="font15"><strong>para ser</strong></span> <span class="font11"><strong>atendido pelo</strong></span> <span class="font16"><strong>Mande-me</strong></span></h2>
                        <a href="javascript:void(0);" title="Efetue seu Cadastro" class="bt_passos bt_efetue" id="passo1" rel=".expose_passos">
                            <h4 class="t_cadastrar"><span class="font8">Efetue seu</span> <br /> Cadastro</h4>
                        </a>

                        <a href="javascript:void(0);" title="Procure o que deseja" class="bt_passos bt_procure" id="passo2" rel=".expose_passos">
                            <h4 class="t_procura">Procure <br /> <span class="font8">o que deseja</span></h4>
                        </a>
                        <a href="javascript:void(0);" title="Receber em casa o produto" class="bt_passos bt_receber" id="passo3" rel=".expose_passos">
                            <h4 class="t_receba">Receber <br /> <span class="font8">em casa o produto</span></h4>
                        </a>
                    </div>
                    <?php
                    $this->navigation()->menu()->setMinDepth(1)
                            ->setMaxDepth(2)
                            ->setPartial('partial/navigation.phtml');
                    echo $this->navigation()->render();
                    ?>
                    <form action="<?php echo $this->baseUrl(); ?>/buscas" method="get" class="f_busca" id="frmbuscas" name="frmbuscas">
                        <fieldset>							
                            <input type="text" id="cep-busca" name="cep" class="t_busca cep" placeholder="_____-___" value="<?php echo $this->cep; ?>" title="Insira o CEP de entrega" autocomplete="off">
                            <input type="text" id="termo-busca" name="termo" class="t_busca" placeholder="Qual produto você precisa?" value="<?php echo $this->termo; ?>" title="Insira o produto você procura?" autocomplete="off"/>
                            <input type="submit" id="bt_buscar" class="b_buscar sprite"/>                                     
                            <button id="btn_busca_detalhada" title="Busca detalhada">busca detalhada</button>
                            <p>CEP de entrega</p>
                        </fieldset>
                    </form>
                    <div class="login">
                        <?php if (!$this->userSession) { ?>
                            <form action="<?php echo $this->baseUrl(); ?>/login" method="post" class="f_login" >
                                <fieldset>
                                    <input type="text" id="login" name="login" placeholder="login" class="t_login" autocomplete="off"/>
                                    <div>
                                        <input type="password" id="password" name="password" class="t_senha" />
                                        <input type="submit" id="ok" value="ok" class="b_ok" />
                                    </div>
                                    <div>
                                        <a href="<?php echo $this->baseUrl(); ?>/quero-ser-um-usuario" title="Quer se cadastrar?">Quer se cadastrar?</a>
                                        <a href="javascript:void(0);" title="Esqueceu sua senha?" class="bt_esqueceu" rel=".expose_esqueci">Esqueceu sua senha?</a>
                                    </div>
                                </fieldset>
                            </form>
                        <?php } else { ?>
                            <div class="logado">
                                <figure>
                                    <?php
                                    //$dadosusuarioTable = new Model_DadosUsuario();
                                    // $dadosusuarioRowset = $dadosusuarioTable->fetchRow($dadosusuarioTable->select()->from('dados_usuarios', 'foto')->where('id_usuario = ?', $this->userSession->id_usuario));
                                    if (isset($dadosusuarioRowset->foto)) {
//                                        $foto = Model_Media::getThumbnail($dadosusuarioRowset->foto, 'cliente', 'home');
//                                        if (!$foto) {
//                                            $foto = $this->baseUrl() . "/site/img/img_usuario.png";
//                                        }
//                                        
                                        ?>
                                        <img src="<?php echo $foto; ?>" class="usuario_foto">
                                    <?php } else { ?>
                                        <img src="<?php echo $this->baseUrl(); ?>/site/img/img_usuario.png" alt="">
                                    <?php } ?>
                                </figure>
                                <h6>Olá, <br><?php echo $this->userSession->nome; ?></h6>                                

                            </div>
                        <?php } ?>
                    </div>
                    <div class="clear"></div>
                  
                </header><!-- /header -->
                <div class="clear"></div>
                <?php echo $this->layout()->content; ?>
                <div class="clear"></div>

            </div><!-- /container -->
        </div><!-- /wrap -->
        <footer>
            <div class="centraliza">
                <a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'mapa'), 'mapa', true); ?>" title="Mapa do site" class="l_mapa">Mapa do site</a>
                <a href="javascript:void(0);" title="Mande-me Delivery" class="l_mandeme indent">Mande-me Delivery</a>
                <p class="copy">Copyright © <?php echo date('Y'); ?> Mande-me.  Todos os direitos reservados.</p>
                <ul class="l_footer">
                    <li><a href="javascript:void(0);" rel=".expose_condicoes" title="Condições de Uso" class="l_condicoes">Condições de Uso</a></li>
                    <li class="sb"><a href="javascript:void(0);" rel=".expose_politica" title="Política de Privacidade" class="bt_politica">Política de Privacidade</a></li>
                </ul>
            </div>
        </footer>
        <script data-main="<?php echo $this->baseUrl(); ?>/site/js/main" src="<?php echo $this->baseUrl(); ?>/site/js/libs/require-jquery.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/site/js/libs/modernizr.js"></script>        
        <script src="<?php echo $this->baseUrl(); ?>/site/js/libs/jquery-ui.js"></script>
        <div class="expose_condicoes none">
            <a href="javascript:void(0);" title="Fechar" class="bt_fechar sprite indent close">Fechar</a>
            <h2>Condições de Uso</h2>
            <div class="text_condicoes" id="text_uso">
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
            </div>
        </div> <!-- /expose_condicoes -->
        <div class="expose_politica none">
            <a href="javascript:void(0);" title="Fechar" class="bt_fechar sprite indent close">Fechar</a>
            <h2>Políticas de privacidade</h2>
            <div class="text_condicoes" id="text_privacidade">
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
                <p>Aqui vai o texto condições de uso, que aparecerar ao clicar no link na barra inferior do INDEX Mande-me Delivery. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.</p>
            </div>
        </div> <!-- /expose_politica -->
        <div class="expose_esqueci none">
            <a href="javascript:void(0);" title="Fechar" class="bt_fechar sprite indent close">Fechar</a>
            <h2>ESQUEÇEU SUA SENHA?</h2>
            <form action="" method="">
                <fieldset>
                    <p>Preencha os campos abaixo para receber em seu e-mail de cadastro sua senha: </p>
                    <label for="">E-mail cadastrado</label>
                    <input type="text" id="" name="" class="text_email" />
                    <input type="submit" id="" name="" class="bt_enviar" value="Enviar" />
                </fieldset>
            </form>
        </div>  <!-- /expose_esqueci -->
        <div class="expose_passos none">
            <a href="javascript:void(0);" title="Fechar" class="bt_fechar sprite indent close">Fechar</a>
            <h2><span>3 passos</span> para vocë ser atendido pelo mande-me</h2>
            <a href="quero-ser-um-usuario" title="Cadastre-se" class="bt_cadastre"> Cadastre-se</a>
            <div class="bloco_passos">
                <div class="navi">
                    <a href="#efetue" class="active">1</a>
                    <a href="#procure">2</a>
                    <a href="#receba">3</a>
                </div>
                <a href="javascript:void(0);" class="next_passos sprite indent" title="Próximo">Próximo</a>
                <a href="javascript:void(0);" class="prev_passos sprite indent" title="Anterior">Anterior</a>
                <div class="scroll_passos">
                    <div class="items">
                        <div class="passo">
                            <div class="tit_efetue">
                                <span class="ico_cadastro sprite"></span>
                                <h1>Efetue seu <span>cadastro</span></h1>
                            </div>
                            <p>O Mande-me é uma empresa que preza pela segurança dos seus clientes, garantindo que a relação entre ofertante e demandante de produtos e serviços ocorra de forma segura, ou seja, que os nossos clientes saibam quem irá atendê-los e que os nossos fornecedores saibam a quem irá entregar os seus produtos e/ou serviços.</p>
                            <p>Para poder usufruir dos serviços de aproximação entre ofertantes e demandantes se faz necessário que os clientes se cadastrem e tenham seus cadastros validados pela equipe do Mande-me.</p>
                        </div>

                        <div class="passo">
                            <div class="tit_efetue">
                                <span class="ico_procure sprite"></span>
                                <h1> <span>Procure</span> <br /> o QUE DESEJA</h1>
                            </div>
                            <p>Os clientes cadastrados deverão fazer sua busca utilizando a Busca Simples na barra de busca do Mande-me ou escolher a opção Busca Detalhada.
                                Busca Simples – Digite o profissional ou o produto que deseja encontrar. Ex.: Pintor < Click em Mande-me >.</p>
                            <p>Irão ser listados todos os profissionais disponíveis para atendê-lo. <br /> Busca Detalhada – Click na opção Busca Detalhada e escolha o profissional ou classe de produto que você deseja consumir. Ex.: Produtos</p>
                        </div>

                        <div class="passo">
                            <div class="tit_efetue">
                                <span class="ico_receber sprite"></span>
                                <h1> <span>Receber</span> <br /> em casa o produto</h1>
                            </div>
                            <p>Os usuários cadastrados ao demandarem os produtos e/ou serviços irão recebe-los no endereço constante no cadastro Mande-me, o pagamento deverá ser efetuado na entrega do produto e/ou após a conclusão do serviço executado, conforme a modalidade de pagamento escolhida na solicitação.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /expose_passos -->
        <?php
        echo $this->headScript();
        ?>
    </body>
</html>
