<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Luvminder</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/site/css/style.less" type="text/less" media="screen" />
	<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/site/css/padrao.css" type="text/less" media="screen" />
	<?php if(strpos($_SERVER['HTTP_USER_AGENT'],'iPad')): ?>
	<meta name="viewport" content="width=1248">
<?php else: ?>
	<meta name="viewport" content="width=device-width">
<?php endif; ?>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<script src="http://vjs.zencdn.net/4.2/video.js"></script>
<link href="http://vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
<script src="<?php echo $this->baseUrl(); ?>/site/js/libs/modernizr.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/site/js/libs/less.js"></script>
</head>

<body rel="home">
	<div id="wrap">
		<div id="container">
			<div class="overlay"></div>
			<header id="header">
				<div id="entrar">
					<header>
						<h2>Entrar</h2>
						<button class="fechar icon-cancel"></button>
					</header>
					<div class="delimitador">
						<div class="espacamento">
							<div class="login-redes">
								<h3>Faça login com sua rede social favorita:</h3>
								<ul class="redes">
									<li><a href="javascript:void(0)" class="icon-facebook fb-bt">Entrar com Facebook</a></li>
									<li><a href="javascript:void(0)" class="icon-twitter tw-bt">Entrar com Twitter</a></li>
									<li><a href="javascript:void(0)" class="icon-google-plus gp-bt">Entrar com Google+</a></li>
								</ul>
							</div>
							<div class="formulario-container">
								<h3>Ou entre com seu login e senha:</h3>
								<form action="login" method="POST" name="login" id="loginform">
									<fieldset>
										<input type="email" id="email" name="email" placeholder="E-mail" />
									</fieldset>
									<fieldset>
										<input type="password" id="senha" name="password" placeholder="Senha" />
									</fieldset>
									<fieldset>
										<button type="submit" id="btn-login">Fazer login</button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="delimitador">
					<h1><a href="index.php" title="Luvminder" class="logo indent"></a></h1>
					<a href="javascript:void(0)" class="criar-conta" title="Criar conta">Criar conta</a>
					<a href="javascript:void(0)" class="entrar" title="Entrar">Entrar</a>
				</div>
			</header><!-- /header -->

			<?php echo $this->layout()->content; ?>

		</div><!-- /container -->	
	</div><!-- /wrap -->
	<footer id="footer">
		<div class="delimitador">
			<a href="javascript:void(0)" class="voltar-topo">voltar pro topo</a>
			<div class="criado">criado e oferecido por:</div>
			<img class="sopa-quali" src="<?php echo $this->baseUrl(); ?>/site/imagens/300/sopa-qualitare.png" alt="Sopa e Qualitare" />
		</div>
	</footer>
	<script data-main="<?php echo $this->baseUrl(); ?>/site/js/main" src="<?php echo $this->baseUrl(); ?>/site/js/libs/require-jquery.js"></script>
</body>
</html>