<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-BR"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Luvminder</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/video/video-js.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/jquery.fancybox.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/luvminder/css/style.less" type="text/less" media="screen" />

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/luvminder/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">

        <link href="<?php echo $this->baseUrl(); ?>/luvminder/css/prettyCheckable.css" rel="stylesheet" type="text/css">

        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/modernizr.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/less.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/video.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/jstz.js"></script>
        <script>
            videojs.options.flash.swf = "<?php echo $this->baseUrl(); ?>/luvminder/js/video-js.swf";
            var base_url = '<?php echo $this->baseUrl(); ?>';
        </script>

    </head>

    <body rel="home">

        <div id="wrap">
            <div id="container">
                <header>
                    <div class="header-content">
                        <h1><a href="<?php echo $this->baseUrl(); ?>/index" title="">Luvminder</a></h1>
                        <div class="box-login">
                            <a href="#create-account" title="" class="open-popout">Criar conta</a>
                            <button href="#login" type="button" class="open-popout">Entrar</button>
                        </div>
                        <?php /*
                          <div class="box-logged">
                          <ul>
                          <li class="btn-account"><a href="" title="" class="ativo">Olá, Rodrigo</a></li>
                          <li class="btn-painel"><a href="" title="">Painel de Datas</a></li>
                          <li class="btn-logout"><a href="" title="">Sair</a></li>
                          </ul>
                          </div>
                         */ ?>
                    </div>
                </header><!-- /header -->

                <?php echo $this->layout()->content; ?>

            </div><!-- /container -->
            <?php /* 	
              <div class="depoimentos">

              <div class="centraliza">

              <div class="depoimento">
              <h2>"Lorem Ipsum. Dolor Sit."</h2>
              <p><strong>Bill gates - Microsoft</strong>, blogueiro de tecnologia da globo.com</p>

              <figure>
              <img src="imagens/apagar/foto-bill.jpg" alt="" />
              </figure>
              </div>

              </div>

              </div>
             */ ?>

        </div><!-- /wrap -->
        <footer>

            <div class="centraliza">
                <a href="#wrap" id="roll" title="voltar pro topo" class="btn-back-top">voltar pro topo</a>
                <div class="assinatura">
                    <h2>criado e idealizado por:</h2>
                    <ul>
                        <li class="logo-qualitare"><a href="" title="Qualitare - Agência de Internet">Qualitare - Agência de Internet</a></li>
                        <li>+</li>
                        <li class="logo-sopa-club"><a href="" title="Sopa Club">Sopa Club</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <div id="login" class="modal-enter">
            <div class="header">
                <h2>Entrar</h2>
            </div>
            <div class="content">

                <div class="opcoes-acesso">

                    <div class="opcao-redes">
                        <p>Faça login com sua rede social favorita:</p>
                        <ul>
                            <li class="btn-entrar-facebook">
                                <a href="login/authenticatewith/facebook" title="Logar com Facebook"><span class="icon-facebook"></span> Entrar com Facebook</a>
                            </li>
                            <li class="btn-entrar-twitter">
                                <a href="login/authenticatewith/twitter" title="Logar com Twitter"><span class="icon-twitter"></span> Entrar com Twitter</a>
                            </li>
                            <li class="btn-entrar-googleplus">
                                <a href="login/authenticatewith/google" title="Logar com Google+"><span class="icon-googleplus"></span> Entrar com Google+</a>
                            </li>
                        </ul>
                    </div>

                    <div class="opcao-form">
                        <p>Ou entre com seu login e senha:</p>
                        <form action="login" method="POST" name="login" id="loginform">
                            <fieldset>
                                <span class="field">
                                    <label for="fld-login" class="ico-login"></label>
                                    <input type="text" name="email" id="fld-email-login" class="focused" placeholder="E-mail" />
                                </span>
                                <span class="field">
                                    <label for="fld-senha" class="ico-password"></label>
                                    <input type="password" name="password" id="fld-senha-login" placeholder="Senha" />
                                </span>                                 
                                <span class="btns">
                                    <button type="submit" id="btn-login">Fazer Login</button>
                                </span>

                                <em id="result-login"></em>

                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div id="create-account" class="modal-enter">
            <div class="header">
                <h2>Criar Conta</h2>
            </div>
            <div class="content">

                <div class="opcoes-acesso">

                    <div class="opcao-redes">
                        <p>Use os dados da sua rede social favorita para criar sua conta.</p>
                        <ul>
                            <li class="btn-entrar-facebook">
                                <a href="login/authenticatewith/facebook" title="Logar com Facebook"><span class="icon-facebook"></span> Criar com Facebook</a>
                            </li>
                            <li class="btn-entrar-twitter">
                                <a href="login/authenticatewith/twitter" title="Logar com Twitter"><span class="icon-twitter"></span> Criar com Twitter</a>
                            </li>
                            <li class="btn-entrar-googleplus">
                                <a href="login/authenticatewith/google" title="Logar com Google+"><span class="icon-googleplus"></span> Criar com Google+</a>
                            </li>
                        </ul>
                    </div>

                    <div class="opcao-form">
                        <p>Ou preencha os dados abaixo para realizar seu cadastro:</p>
                        <form action="signin" method="POST" id="createform">
                            <input type="hidden" name="timezone" id="timezone" value=''>
                            <fieldset>
                                <span class="field">
                                    <label for="fld-email" class="ico-login"></label>
                                    <input type="text" name="email" id="fld-email-signin" class="focused" placeholder="E-mail" />
                                </span>
                                <span class="field">
                                    <label for="fld-senha" class="ico-password"></label>
                                    <input type="password" name="password" id="fld-senha-signin" placeholder="Senha" />
                                </span>
                                <span class="btns">
                                    <button type="submit" id="btn-create">Criar Conta</button>
                                </span>
                                <em id="result-create"></em>
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <script data-main="<?php echo $this->baseUrl(); ?>/luvminder/js/main" src="<?php echo $this->baseUrl(); ?>/luvminder/js/libs/require-jquery.js"></script>

    </body>
</html>