<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Luvminder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="noindex,nofollow">

        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
        <link href="<?php echo $this->baseUrl(); ?>/site/css/united/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="<?php echo $this->baseUrl(); ?>/site/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="<?php echo $this->baseUrl(); ?>/assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/assets/ico/favicon.png">
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="<?php echo $this->baseUrl(); ?>">Luvminder</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">                              
                            <li><a href="#about">Sobre</a></li>
                            <li><a href="#contact">Contato</a></li>
                            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->

                        </ul>
                        <ul class="nav pull-right">
                            <li class="active"><a href="<?php echo $this->baseUrl(); ?>/signin">Criar Conta</a></li>
                            <li><a href="<?php echo $this->baseUrl(); ?>/login">Logar</a></li>                                                                      
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <?php echo $this->layout()->content; ?>
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<?php echo $this->baseUrl(); ?>/assets/js/jquery.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/js/bootstrap.min.js"></script>
<!--        <script src="../assets/js/user-application.js"></script>-->


    </body>
</html>
