<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Contato</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Nome de Exibição:</b></td>
                <td><?php echo $this->row->display_name; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Nome:</b></td>
                <td><?php echo $this->row->first_name; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Sobrenome:</b></td>
                <td><?php echo $this->row->last_name; ?></td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td><?php echo $this->row->email; ?></td>
            </tr>          
            <tr>
                <td><b>Foto:</b></td>
                <td><img src="<?php echo $this->row->photo_url; ?>" class="img-polaroid" />  </td>
            </tr>          

            <tr>
                <td><b>Perfil:</b></td>
                <td><a href="<?php echo $this->row->profile_url; ?>" target="_blank"><img src="<?php echo $this->baseUrl() ?>/public/assets/img/<?php echo $this->row->provider; ?>_square.png" class="img-polaroid" /></a></td>
            </tr>
         
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-contact').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>