<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<script type="text/javascript">
    function getActions(resource) {
        var role = jQuery('#id_role').val();
        jQuery.ajax({
            url: '<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "actions"), NULL, true); ?>',
            type: 'POST',
            data: {resource:resource,role:role},
            success: function(data, textStatus, xhr) {
                $('#action').attr('disabled', false).html(data);
            }
        });                   	  
    }

    function getPermissions(role) {
        var role = jQuery('#id_role').val();
        jQuery.ajax({
            url: '<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "permissions"), NULL, true); ?>',
            type: 'POST',
            data: {role:role},
            success: function(data, textStatus, xhr) {
                console.log(data);
                $('#id_resource').attr('disabled', false).html(data);
            }
        });                       
    }



    jQuery('document').ready(function(){

        jQuery('#id_role').change(function(){
            if(jQuery(this).val()!=''){
                jQuery('#id_resource').removeAttr('disabled');
            }
        });

        jQuery('#opcao').click(function(){
            if (jQuery(this).is(':checked')){
                jQuery('.actions').attr('checked','checked');
            }
            else{
                jQuery('.actions').removeAttr('checked');
            }
        });
    });
</script>
<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">
        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="role">Role</label>
                            <div class="controls">
                                <select id="id_role" name="id_role" onChange="getPermissions( this.value );">
                                    <option value="">Selecione um Role</option>
                                    <?php foreach ($this->roles as $role) : ?>
                                        <option value="<?php echo $role->id_role ?>"><?php echo $role->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_resource">Resource</label>
                            <div class="controls">
                                <select id="id_resource" name="id_resource" onChange="getActions( this.value );" disabled="disabled">
                                    <option value="">Selecione um Resource</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="action">Permissões</label>
                            <div class="controls">
                                <div id="options" class="span5 offset1">
                                    <label class="checkbox inline"><input id="opcao" type="checkbox" name="opcao" value="1"/>Todos</label>
                                </div>
                                <div id="action" class="span5">
                                    
                                </div>
                                
                            </div>
                        </div>
                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
