<?php //$this->messages = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');       ?>
<?php $messages = $this->mensagens; ?>
<?php if (isset($messages['sucesso'])): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Sucesso!</h4>
                <?php foreach ($messages as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if (isset($messages['error'])): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Ocorreu um erro!!</h4>
                <?php foreach ($messages as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if (isset($messages['info'])): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Atenção!!</h4>
                <?php foreach ($messages as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>