<?php

function checkMenu($name) {

    switch ($name) {
        case 'Mapa':
            return true;
            break;

        case 'Esqueci a Senha':
            return true;
            break;
        case 'Busca':
            return true;
            break;

        case 'Empresa':
            return true;
            break;

        default:
            return false;
            break;
    }
}
?>
<nav class="menu">
    <ul>
        <?php
        foreach ($this->container as $page) {
            if (!$page->isVisible() || !$this->navigation()->accept($page)) {
                continue;
            }
            $isActive = $page->isActive();

            $oQueVoceDesejaClass = $page->getLabel() == "O que você deseja" ? " menu-first-item" : "";
            $liClass = $isActive ? 'ativo' . $oQueVoceDesejaClass  : '';
            if (!checkMenu($page->getLabel())) {
                ?>
                <li><a class="<?php echo $liClass; echo $oQueVoceDesejaClass?>" href="<?php echo $page->getHref(); ?>" title="<?php echo $page->getTitle(); ?>"><?php echo $page->getLabel(); ?></a></li>
            <?php
            }
        }
        ?>
    </ul>
</nav>