<form class="form-horizontal well frm-dates-pane hide" action="<?php echo $this->url(array('module' => 'user', 'controller' => 'dates-pane', 'action' => 'new'), NULL, true); ?>" name="painel_data_new"  id="painel_data_new" method="post" enctype="multipart/form-data">
    <div id="result_new">
        <div class="row">
            <div class="span9">
                <div class="alert hide">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <fieldset>
        <div class="control-group">   
            <label class="control-label" for="titulo">Título:</label>
            <div class="controls">
                <input type="text" class="span4" id="titulo" name="titulo" placeholder="Título" >                            
            </div>
        </div>                    
        <div class="control-group">
            <label class="control-label" for="name">Relacionamento com:</label>
            <div class="control-group">                           
                <div class="controls controls-row">
                    <select id="genero" name="genero" class="span1">
                        <option value="f">F</option>                              
                        <option value="m">M</option>                                
                    </select>
                    <input type="text" class="span3" id="com" name="com" placeholder="Qual o nome da parceira?">                            
                </div>
            </div>    
        </div>    

        <div class="control-group">
            <label class="control-label" for="tipo">Tipo:</label>
            <div class="controls">
                <select id="tipo" name="tipo" class="span2">
                    <?php foreach ($this->tipos as $tipo) { ?>
                        <option value="<?php echo $tipo; ?>" ><?php echo $tipo; ?></option>       
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="data_inicio">Data Início:</label>
            <div class="controls">
                <div class="input-append date" data-date-format="dd-mm-yyyy">
                    <input type="text" class="input-small" id="data_inicio" name="data_inicio">   
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>     


    </fieldset>
    <fieldset>
        <legend>Lembretes</legend>
        <div id="result-delete_new">
            <div class="alert hide">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4></h4>
                <p></p>
            </div>
        </div>

        <div class="control-group reminder-list"  id="remindes_new">
            <label class="control-label" for="intervalo">Intervalo:</label>
            <div class="controls controls-row">
                <input type="text" class="span1" id="intervalo" name="intervalo[]" >   
                <input type="hidden" id="reminder_id" name="reminder_id[]" >   
                <select id="repeticao" name="repeticao[]" class="span1">
                    <option value="d">dia</option>
                    <option value="s">semana</option>
                    <option value="m">mês</option>
                    <option value="a">ano</option>
                </select>

                <select id="a_d" name="a_d[]" class="span1">
                    <option value="a">antes</option>
                    <option value="d">depois</option>
                </select>
                <div class="span1">
                    <a href="#" rel="<?php echo $this->url(array('module' => 'user', 'controller' => 'reminder', 'action' => 'delete'), NULL, true); ?>" data-reminder-id="new" data-relationship-id="new" class="btn bt-delete" role="button" data-toggle="modal" data-target="#deleteConfirm" style="margin-left: 10px"><i class="icon-trash"></i> </a>
                </div>

            </div>
        </div>

        <div class="control-group"> <div class="controls"><a href="#" class="btn-add-reminder">+ adicionar mais lembretes</a></div></div>

        <div class="control-group">
            <label class="control-label" for="notifications">Onde deseja receber os lembretes?</label>
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" id="notification_email" name="notification_email" value="1">
                    email
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" id="notification_facebook" name="notification_facebook"  value="1">
                    facebook
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" id="notification_twitter" name="notification_twitter" value="1">
                    twitter
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" id="notification_gplus" name="notification_gplus" value="1">
                    Google Plus
                </label>
            </div>
        </div>

    </fieldset>
    <div class="form-actions">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </div> 
</form>
