<form class="frm-lembrete frm-dates-pane none" action="<?php echo $this->url(array('module' => 'user', 'controller' => 'dates-pane', 'action' => 'new'), NULL, true); ?>" name="painel_data_new"  id="painel_data_new" method="post" enctype="multipart/form-data">

    <button class="btn-remove-lembrete">Apagar data <i class="icon-trash"></i></button>

    <span class="field fld-titulo">
        <label for="titulo" class="none">Título</label>
        <input type="text" name="titulo" id="titulo_new" />
    </span>

    <span class="field fld-relacionamento">
        <label for="genero">Relacionamento com</label>
        <div>
            <select name="genero" id="genero_new" class="customSelectGenero">
                <option value="m" data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-mas.png" class="ico-masculino">M</option>
                <option value="f" data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-fem.png" class="ico-feminino">F</option>
            </select>
            <input type="text" name="com" id="com_new" placeholder="Qual o nome da parceira?" />
        </div>
    </span>

    <span class="field fld-tipo">
        <label for="tipo">Tipo de Relacionamento</label>
        <select id="tipo_new" name="tipo" class="customSelectTipo">
            <?php foreach ($this->tipos as $tipo) { ?>
                <option value="<?php echo $tipo; ?>" ><?php echo $tipo; ?></option>       
            <?php } ?>      
        </select>
    </span>

    <span class="field fld-data">
        <label for="data_inicio">Data de início</label>
        <i class="icon icon-calendar"></i>
        <input type="text" name="data_inicio" id="data_inicio_new" class="datepicker" />
    </span>

    <h3>Lembretes</h3>
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>

    <div class="lembretes">

        <span class="field_group">
            <label class="none">Intervalo</label>
            <input type="text" name="intervalo[]" class="txt_interval" id="intervalo_new"/>
            <input type="hidden" id="reminder_id_new" name="reminder_id[]">   
            <label class="none">Repetição</label>
            <select name="repeticao[]" class="customSelectRepeticao" id="repeticao_new">
                <option value="d">dia</option>
                <option value="s">semana</option>
                <option value="m">mês</option>
                <option value="a">ano</option>
            </select>

            <label class="none">Antes/Depois</label>
            <select name="a_d[]" class="customSelectAD" id="a_d_new">
                <option value="a">antes</option>
                <option value="d">depois</option>
            </select>

            <button type="button" rel="<?php echo $this->url(array('module' => 'user', 'controller' => 'reminder', 'action' => 'delete'), NULL, true); ?>" class="btn-lembrete-delete" title="Remover lembrete"><i class="icon-trash"></i></button>
        </span>

        <a href="javascript: void(0);" title="+ adicionar mais lembretes" class="btn-mais-lembrete">+ adicionar mais lembretes</a>

    </div>

    <span class="field_group">

        <label>Onde deseja receber os lembretes?</label>

        <label for="notification_email" class="checkbox inline">
            <input type="checkbox" id="notification_email" name="notification_email" value="1" class="customCheck" />
            <i class="icon-mail"></i>
            email
        </label>

    </span>

    <span class="buttons">
        <button type="submit" class="btn-salvar"><i class="icon icon-disk"></i> Salvar</button>
    </span>

</form>