<?php $this->messages = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');  ?>
<?php if ($this->messages->setNamespace('sucesso')->hasMessages()): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Sucesso!</h4>
                <?php foreach ($this->messages->getMessages() as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if ($this->messages->setNamespace('error')->hasMessages()): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Ocorreu um erro!!</h4>
                <?php foreach ($this->messages->getMessages() as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if ($this->messages->setNamespace('info')->hasMessages()): ?>
    <div class="row">
        <div class="span10">
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Atenção!!</h4>
                <?php foreach ($this->messages->getMessages() as $msg): ?>
                    <p><?php echo $msg ?></p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>