<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1><?php echo $this->controller; ?><small> &raquo; <?php echo $this->action; ?></small></h1>
		</div>
	</div>
</div>