<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Administração - LuvMinder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Qualitare">

        <!-- Le styles -->
        <?php
        echo $this->headLink()->appendStylesheet($this->baseUrl() . '/assets/css/bootstrap.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/bootstrap-responsive.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/xcharts.min.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/daterangepicker.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/custom.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/bootstrap-fileupload.min.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/bootstrap-wysihtml5.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/jquery-jvectormap-1.2.2.css')
                ->appendStylesheet($this->baseUrl() . '/assets/css/style.css');
        ?>     

        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

        <script src="<?php echo $this->baseUrl(); ?>/assets/js/jquery.js"></script>
        <script src="<?php echo $this->baseUrl() . '/assets/js/modernizr-2.6.2.js'; ?>"></script>        

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">

        <script type="text/javascript"> var base_url = '<?php echo $this->baseUrl(); ?>';</script>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner -inverse">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'dashboard', 'action' => 'index'), NULL, true); ?>">Luvminder <sup>beta</sup></a>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'usuario', 'action' => 'edit', 'id' => $this->userSession->id_usuario), NULL, true); ?>"><?php echo $this->userSession->nome; ?><small style="display: block">Editar perfil</small></a></li>
                            <li class="divider"></li>
                            <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'auth', 'action' => 'logout'), NULL, true); ?>">Sair</a></li>
                        </ul>
                    </div>
                    <div class="nav-collapse">
                        <?php
                        $this->navigation()->menu()->setMinDepth(1)
                                ->setMaxDepth(2)
                                ->setPartial('partial/navigation.phtml');
                        echo $this->navigation()->render();
                        ?>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <?php echo $this->layout()->content; ?>

        </div> <!-- /container -->

        <div id="deleteConfirm" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Confirmar Exlusão!!</h3>
            </div>
            <div class="modal-body">

                <p>Você tem certeza que deseja excluir este item?</p>

            </div>
            <div class="modal-footer">
                <a href="javascript: void(0);" onClick="javascript: $('#deleteConfirm').modal('hide');" class="btn" data-dismiss="modal" >Cancelar</a>
                <a href="javascript: void(0);" class="btn btn-primary bt-confirmar">Confirmar</a>
            </div>
        </div>

        <div id="modalConfirmation" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Confirmar Operação!!</h3>
            </div>
            <div class="modal-body">

                <p>Você tem certeza que deseja salvar este item?</p>

            </div>
            <div class="modal-footer">
                <a href="javascript: void(0);" onClick="javascript: $('#deleteConfirm').modal('hide');" class="btn" data-dismiss="modal" >Cancelar</a>
                <a href="javascript: void(0);" class="btn btn-primary bt-confirmar">Confirmar</a>
            </div>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


        <?php
        echo $this->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap.js")
//                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.form.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.maskedinput-1.3.1.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.maskMoney.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.validate.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-datepicker.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-datepicker.pt-BR.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-fileupload.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/daterangepicker.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/sugar.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/xcharts.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/Chart.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery-jvectormap-1.2.2.min.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery-jvectormap-world-mill-en.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/wysihtml5-0.3.0.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-wysihtml5.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-wysihtml5.pt-BR.js")
                ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/bootstrap-limit.js")
                ->headScript()->appendFile($this->baseUrl() . "/assets/js/application.js");
        ?>
       
    </body>
</html>
