@CHARSET "UTF-8";
html {  width: 400px; height: auto; }
/*body{ font-family: Arial, Tahoma, sans-serif; font-size: 11px; padding:0; margin:0 auto;background: #fff;overflow: scroll;}*/
a {text-decoration: none; color:#555;}

.navbar-brand .logo{
    margin-right: 8px;
    margin-bottom: 2px;
}

/* buttons
----------------------------------------------------------------------------- */
.nav-pills .nav-item {
    margin: 0 5px;
}
.dropdown-toggle{
    border: 1px solid;
}
.main-content{
    margin: 8px 0;
}
/*input[type=button],
input[type=submit],
#bar a.button {color:#444;text-decoration: none;display: block; padding:0 17px;font-weight: bold; line-height: 28px;
               border-radius:3px;
               background: #ffffff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#EAEAEA));
               border: 1px solid #eee;
               box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
               float:left;
               border:1px solid #ddd;
               position: relative;
               cursor: pointer;
}
input[type=button].primary{
     Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,4096ee+100;Blue+Flat+%232 
    background: #4096ee;  Old browsers 
    background: -moz-linear-gradient(top, #4096ee 0%, #4096ee 100%);  FF3.6-15 
    background: -webkit-linear-gradient(top, #4096ee 0%,#4096ee 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom, #4096ee 0%,#4096ee 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 );  IE6-9 
}
#bar a.button:active {top:1px;}

input[type=button]:hover,
input[type=submit]:hover,
#bar .button:hover { color:#555;}

p.buttons {padding: 1em 2em!important; overflow:hidden;}
.cancel {float:right!important;}
#button-remove-all, #button-remove {color:#a90329;}*/

/* forms and inputs
----------------------------------------------------------------------------- */

/*input[type=text] {	border: solid 1px #D6D6BE;	background-color: #fcfff4;	padding:3px 5px; width: 96%; font-size: 16px; -webkit-border-radius:2px; margin: 0 auto; display:block;}
input[type=text]:focus {	border: solid 1px #fff286;	background-color: #fff;}
input[type=checkbox]{ float: right;}

.form {overflow-y: auto;}
.form label {	display: block;	font-weight: bold;text-align: left; font-size: 16px;}
.form label small { font-size: 10px !important;}
.form label.chekcbox { font-size: 10px !important;}*/


/* content
----------------------------------------------------------------------------- */
#task-list .no-task p{
    margin: 0;
}
/*#content {	overflow: hidden; text-align: center!important;}
#content p {	margin: 0;	padding: 5px 3px 0 3px;}*/
.list-group{
    margin: 8px 0;
}
.list-actions{
    display: inline-block;
    margin: 6px 0;
}
/* item
----------------------------------------------------------------------------- */
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #f3f9ff;
}
.list-group-item-action:focus .badge, .list-group-item-action:hover .badge{
    border: 1px solid transparent;
    border-color: #323a45;
    color: #323a45;
    background-color: transparent;
    text-decoration: none;
}
.task-title-url{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 268px;
    display: inline-block !important
}
.badge-light{
    background-color:#eaeff5;
}
.badge-outlined{
    border: 1px solid transparent;
}

.badge.badge-outlined {
    background-color: transparent
}

.badge.badge-outlined.badge-default {
    border-color: #B0BEC5;
    color: #B0BEC5
}

.badge.badge-outlined.badge-primary {
    border-color: #2196F3;
    color: #2196F3
}

.badge.badge-outlined.badge-secondary,.badge.badge-outlined.badge-light {
    border-color: #323a45;
    color: #323a45
}

.badge.badge-outlined.badge-success {
    border-color: #64DD17;
    color: #64DD17
}

.badge.badge-outlined.badge-warning {
    border-color: #FFD600;
    color: #FFD600
}

.badge.badge-outlined.badge-info {
    border-color: #29B6F6;
    color: #29B6F6
}

.badge.badge-outlined.badge-danger {
    border-color: #ef1c1c;
    color: #ef1c1c
}
/*.item {text-align: left;border-bottom: solid 1px #ccc; padding: 14px 12px!important; position: relative; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#efefef)); display:block; overflow:hidden;}*/
/*.power {background: url(../img/play.png) 0 0 no-repeat; 	display: block; position: absolute;	right: 3px; width: 32px;height: 32px; bottom: 14px;right: 10px;}*/
/*.running {background: url(../img/pause.png) 0 0 no-repeat;}*/
/*.timer{	position: absolute;	right: 50px;	top: 23px; font-size: 17px;}*/
/*.running {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));}*/

/* other elements
----------------------------------------------------------------------------- */

/*p.notask label {text-align: center;}
a.update:hover {color:#006e2e;}
a.remove:hover {color:#a90329;}

p.remove-confirm {color:#a90329; font-weight: bold;line-height: 1.2em;margin: 0; padding:1em 0!important;font-style: italic;font-size: 13px;}
p.remove-confirm strong {color:#333;}

#form-create {margin: 0 5px;}*/

/* footer
----------------------------------------------------------------------------- */

#footer {background:#fefefe;color:#bbb;margin:0; padding:5px; border-top: 1px solid #eee;}
#footer a {color:#bbb;}
#footer a:hover {color:#333;}
