/* ========== STICKY FOOTER  ========== */
html, body {
  height: 100%;
} // html, body

#wrap {
  min-height: 100%;
} // #wrap



/* ========== CENTER DO GRID ========== */
.center(@width: 1300px, @margin: 0 auto) {
	width: @width;
	margin: @margin;
} // .center




/* ========== CSS ========== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
} // .clearfix:before e after

.clearfix:after {
    clear: both;
} // .clearfix:after

.clearfix {
    *zoom: 1;
} // .clearfix

.background-size-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} // .background-size-cover

.alinhar-vertical {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
} // .alinhar-vertical

.alinhar-horizontal {
	margin: 0 auto;
	display: block;
} // .alinhar-horizontal

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
} // .transition

.outline-none {
	outline: none;
	-moz-appearance:none;
} // .outline-none


// Fontes & estilos
.today {
font-family: 'today-shop';
}
.today-bold {
font-family: 'today-shop-bold';
}
.today-light {
font-family: 'today-shop-light';
}
.bold{
    font-weight:700;
}

.black{
    font-weight:900;
}
.upper{
    text-transform:uppercase;
}