
<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
        )
    );
    ?>

    <?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
    <?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

    <div class="row">
        <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

        <div class="span10">
            <?php
            echo $this->partial('partial/messages.phtml');
            ?>
            <div class="row">
                <div class="span10">
                    <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="6%">Cód.</th>
                                <th>Nome</th>
                                <th>Título</th>
                                <th>Com</th>
                                <th>Tipo</th>
                                <th>Data</th>
                                <th>Antecedência</th>
                                <th>Período</th>
                                <th>Repetição</th>
                                <th>Repetir?</th>
                                <th>Data Disparo</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                            <tr>
                                <td><?php echo $row->id; ?></td>
                                <td><?php echo $row->first_name; ?></td>
                                <td><?php echo $row->titulo; ?></td>
                                <td><?php echo $row->com; ?></td>
                                <td><?php echo $row->tipo; ?></td>
                                <td><?php echo $row->data_inicio; ?></td>
                                <td><?php echo $row->antecedencia; ?></td>
                                <td>
                                    <?php
                                    switch ($row->periodo_tempo) {
                                        case 'd': echo "dia";
                                        break;
                                        case 's': echo "semana";
                                        break;
                                        case 'm': echo "mes";
                                        break;
                                        case 'a': echo "ano";
                                        break;
                                        default:
                                        break;
                                    }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    switch ($row->repeticao) {
                                        case 'd': echo "diária";
                                        break;
                                        case 's': echo "semanal";
                                        break;
                                        case 'm': echo "mensal";
                                        break;
                                        case 'a': echo "anual";
                                        break;
                                        default:
                                        break;
                                    }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $row->repetir?'<span class="icon-ok"></span>':'<span class="icon-remove"></span>';
                                    ?>
                                </td>  
                                <td>
                                    <?php
                                    echo $row->data_dia_notification;
                                    if($row->data_mes_notification){echo "-".$row->data_mes_notification;}else{echo "-todo";}
                                    if($row->data_ano_notification){echo "-".$row->data_ano_notification;}else{echo "-todo";}
                                    ?>
                                </td>

                            
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                    <?php } ?>
                </div>
            </div>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>

        </div>
        <div id="view-contact" class="modal hide fade">
        </div>
    </div>
