<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
        )
    );
    ?>

    <?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
    <?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

    <div class="row">
        <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

        <div class="span10">

            <div class="row">
                <div class="span10">
                    <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="antecedencia">Antecedência</label>
                                <div class="controls">
                                    <input type="text" id="antecedencia" name="antecedencia" value="<?php echo $this->row->antecedencia; ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="periodo_tempo">Período de Tempo</label>
                                <div class="controls">
                                    <select id="periodo_tempo" name="periodo_tempo">
                                        <option value="d" <?php echo $this->row->periodo_tempo == 'd' ? 'selected' : ""; ?>>dia</option>
                                        <option value="s" <?php echo $this->row->periodo_tempo == 's' ? 'selected' : ""; ?>>semana</option>
                                        <option value="m" <?php echo $this->row->periodo_tempo == 'm' ? 'selected' : ""; ?>>mês</option>
                                        <option value="a" <?php echo $this->row->periodo_tempo == 'a' ? 'selected' : ""; ?>>ano</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="repetir">Repetir</label>
                                <div class="controls">
                                    <select id="repetir" name="repetir">
                                        <option value="1" <?php echo $this->row->repetir ==1 ? 'selected' : ""; ?>>sim</option>
                                        <option value="0" <?php echo $this->row->repetir ==0? 'selected' : ""; ?>>n&atilde;o</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="repeticao">Repetição</label>
                                <div class="controls">
                                    <select id="repeticao" name="repeticao" <?php echo !$this->repetir?"disabled='disabled'":""?>>
                                        <option value="m" <?php echo $this->row->repeticao == 'm' ? 'selected' : ""; ?>>mensal</option>
                                        <option value="a" <?php echo $this->row->repeticao == 'a' ? 'selected' : ""; ?>>anual</option>
                                    </select>
                                </div>
                            </div>


                            <?php echo $this->partial('partial/form_actions.phtml'); ?>
                        </fieldset>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
    $("#repetir").change(function(){
        console.log($(this).val());
        if($(this).val()==0){
            $("#repeticao").prop("disabled", 'disabled');
            $("#repeticao option[value='a']").attr('selected', 'selected');
        }else{
            $("#repeticao").prop("disabled", false);
        }
    })

    </script>
