
<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
        )
    );
    ?>

    <?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
    <?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

    <div class="row">
        <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

        <div class="span10">
            <?php
            echo $this->partial('partial/messages.phtml');
            ?>
            <div class="row">
                <div class="span10">
                    <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="6%">Cód.</th>
                                <th>Antecedência</th>
                                <th>Período</th>
                                <th>Repetição</th>
                                <th>Repetir?</th>
                                <th width="25%" class="tc">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                            <tr>
                                <td><?php echo $row->id; ?></td>
                                <td><?php echo $row->antecedencia; ?></td>
                                <td>
                                    <?php
                                    switch ($row->periodo_tempo) {
                                        case 'd': echo "dia";
                                        break;
                                        case 's': echo "semana";
                                        break;
                                        case 'm': echo "mes";
                                        break;
                                        case 'a': echo "ano";
                                        break;
                                        default:
                                        break;
                                    }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    switch ($row->repeticao) {
                                        case 'd': echo "diária";
                                        break;
                                        case 's': echo "semanal";
                                        break;
                                        case 'm': echo "mensal";
                                        break;
                                        case 'a': echo "anual";
                                        break;
                                        default:
                                        break;
                                    }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $row->repetir?'<span class="icon-ok"></span>':'<span class="icon-remove"></span>';
                                    ?>
                                </td>

                                <td class="tc">
                                    <div class="btn-group">
                                        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row->id), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-contact"><span class="icon-eye-open"></span></a>
                                        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row->id), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a>
                                        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row->id), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ban' : 'ok'); ?>-circle"></span></a>
                                        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row->id), NULL, true); ?>" class="btn bt-delete" data-toggle="modal" title="Excluir"><span class="icon-trash"></span></a>
                                    </div>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                    <?php } ?>
                </div>
            </div>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>

        </div>
        <div id="view-contact" class="modal hide fade">
        </div>
    </div>
<!--<fieldset>
    <legend>Contatos</legend>
    <img src="http://lorempixel.com/150/150/people/" class="img-rounded">
    <img src="http://lorempixel.com/150/150/people/" class="img-circle">
    <img src="http://lorempixel.com/150/150/people/" class="img-polaroid">
</fieldset>-->