<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Lembrete</h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Antecedência:</td>
                <td><?php echo $this->row->antecedencia; ?></td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Período de Tempo:</td>
                <td>
                    <?php
                    switch ($this->row->periodo_tempo) {
                        case 'd': echo "dia";
                        break;
                        case 's': echo "semana";
                        break;
                        case 'm': echo "mes";
                        break;
                        case 'a': echo "ano";
                        break;
                        default:
                        break;
                    }
                    ?>
                </td>
            </tr>
            <tr>
                <td style=" font-weight: bold;">Repetição:</td>
                <td>
                    <?php
                    switch ($this->row->repeticao) {
                        case 'm': echo "mensal";
                        break;
                        case 'a': echo "anual";
                        break;
                        default:
                        break;
                    }
                    ?>
                </td>
            </tr>  
            <tr>
                <td style=" font-weight: bold;">Repetir:</td>
                <td>
                    <?php echo $this->row->repetir?"sim":"não";?>
                </td>
            </tr>


        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-contact').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>