<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>
<?php
$usersModel = new Model_Users();
$dadosProviders = $usersModel->getDadosProviders($this->row->id);
?>
<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id; ?>">
                    <fieldset>
                        <legend>Dados Pessoais</legend>
                        <div class="control-group">
                            <label class="control-label" for="display_name">Nome de exibição</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="display_name" name="display_name" value="<?php echo $this->row->display_name ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="first_name">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="first_name" name="first_name" value="<?php echo $this->row->first_name ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="last_name">Sobrenome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="last_name" name="last_name" value="<?php echo $this->row->last_name ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope"></i></span>
                                    <input type="text" class="input-xlarge {validate:{required:true, email:true, messages:{required:'Campo Obrigatório', email:'Entre com um e-mail válido.'}}}" id="email" name="email" onChange="validateEmail($(this), this.value, <?php echo $this->row->id ?>);" value="<?php echo $this->row->email; ?>">                               
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="password">password</label>
                            <div class="controls">
                                <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="password" name="password"  value="<?php echo $this->row->password ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="data_nascimento">Data Nascimento</label>
                            <?php
                            $dia = '';
                            $mes = '';
                            $ano = '';
                            if (isset($this->row->data_nascimento) && !empty($this->row->data_nascimento))
                                list($ano, $mes, $dia) = explode("-", $this->row->data_nascimento);
                            ?>
                            <div class="controls">
                                <select id="dia" name="dia" class="span1">
                                    <option value="">Dia</option>
                                    <?php
                                    for ($i = 1; $i <= 31; $i++) {
                                        $sel = '';
                                        if ($dia == $i)
                                            $sel = ' selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                                <select id="mes" name="mes" class="span1">
                                    <option value="">Mês</option>
                                    <?php
                                    for ($i = 1; $i <= 12; $i++) {
                                        $sel = '';
                                        if ($mes == $i)
                                            $sel = ' selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                                <select id="ano" name="ano" class="span1">
                                    <option value="">Ano</option>
                                    <?php
                                    for ($i = (int) date("Y") - 15; $i >= 1900; $i--) {
                                        $sel = '';
                                        if ($ano == $i)
                                            $sel = ' selected="selected"';
                                        ?>
                                        <option value="<?php echo $i; ?>"<?php echo $sel; ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="genero">Gênero</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="genero" id="rd-feminino" value="f" <?php echo ($this->row->genero == 'f') ? 'checked' : '' ?>>
                                    Feminino
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="genero" id="rd-masculino" value="m" <?php echo ($this->row->genero == 'm') ? 'checked' : '' ?>>
                                    Masculino
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="idioma">Idioma</label>
                            <div class="controls">
                                <select id="idioma" name="idioma" >
                                    <option value="pt_BR">Português</option>
                                    <option value="en">Inglês</option>                                  
                                </select>                               
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="endereco">Endereço Completo</label>
                            <div class="controls">
                                <input type="text" class="input-xxlarge" id="endereco" name="endereco" value="<?php echo $this->row->endereco; ?>" onChange="//procuraEndereco($(this), this.value, <?php echo $this->row->id ?>);" >
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label" for="numero">Número</label>
                            <div class="controls">
                                <input type="text" class="input" id="numero" name="numero" value="<?php echo $this->row->numero; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="logradouro">Logradouro</label>
                            <div class="controls">
                                <input type="text" class="input" id="logradouro" name="logradouro" value="<?php echo $this->row->logradouro; ?>">
                            </div>
                        </div>                       
                        <div class="control-group">
                            <label class="control-label" for="bairro">Bairro</label>
                            <div class="controls">
                                <input type="text" class="input" id="bairro" name="bairro" value="<?php echo $this->row->bairro; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cidade">Cidade</label>
                            <div class="controls">
                                <input type="text" class="input" id="cidade" name="cidade" value="<?php echo $this->row->cidade; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="estado">Estado</label>
                            <div class="controls">
                                <input type="text" class="input" id="estado" name="estado" value="<?php echo $this->row->estado; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="pais">País</label>
                            <div class="controls">
                                <input type="text" class="input" id="pais" name="pais" value="<?php echo $this->row->pais; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="regiao">Região</label>
                            <div class="controls">
                                <input type="text" class="input" id="regiao" name="regiao" value="<?php echo $this->row->regiao; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="foto">Foto</label>
                            <div class="controls">
                                <div class="fluid">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail">
                                            <?php if ($this->row->media_id) { ?>
                                                <img src="<?php echo Model_Media::getThumbnail($this->row->media_id, $this->controller, 'small'); ?>" id="thumbnail"/>
                                            <?php } else { ?>
                                                <img src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=sem+imagem" />                                        
                                            <?php } ?> 
                                        </div>

                                        <div class="fileupload-preview fileupload-exists thumbnail" data-provides="fileupload" data-name="logo" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                                        <div>
                                            <span class="btn btn-file">
                                                <span class="fileupload-new" >Enviar imagem</span>
                                                <span class="fileupload-exists">Mudar</span>
                                                <input type="file" name="logo" id="logo"/>
                                            </span>
                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                    <h3>Dados de Provedores</h3>
                    <fieldset>                       
                        <?php foreach ($dadosProviders as $dadosProvider) { ?>

                            <legend><?php echo $dadosProvider->provider; ?></legend>

                            <div class="control-group">
                                <label class="control-label" for="provider_uid">ID</label>
                                <div class="controls">
                                    <input type="text" id="provider_uid" name="provider_uid" value="<?php echo $dadosProvider->provider_uid; ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="provider_uid">Email</label>
                                <div class="controls">
                                    <input type="text" id="provider_email" name="provider_email" value="<?php echo $dadosProvider->email; ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="provider_display_name">Nome de Exibição</label>
                                <div class="controls">
                                    <input type="text" id="provider_display_name" name="provider_display_name" value="<?php echo $dadosProvider->display_name; ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="provider_first_name">Nome</label>
                                <div class="controls">
                                    <input type="text" id="provider_first_name" name="provider_first_name" value="<?php echo $dadosProvider->first_name; ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="provider_last_name">Sobrenome</label>
                                <div class="controls">
                                    <input type="text" id="provider_last_name" name="provider_last_name" value="<?php echo $dadosProvider->last_name; ?>">
                                </div>
                            </div>

                        <?php } ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=pt-BR"></script>
<script>
    var autocomplete = new google.maps.places.Autocomplete($("#endereco")[0], {});

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        console.log(place.address_components);
    });
</script>
