<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">
        <?php
        echo $this->partial('partial/messages.phtml');
        ?>
        <div class="row">
            <div class="span10">
                <?php if (count($this->paginator)) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">Código</th>
                                <th>E-mail</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th class="tc">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->paginator as $row) { ?>
                                <tr>
                                    <td><?php echo $row->id; ?></td>
                                    <td><?php echo $row->email; ?></td>
                                    <td><?php echo $row->first_name; ?></td>
                                    <td><?php echo $row->last_name; ?></td>
                                    <td class="tc">
                                        <div class="btn-group">
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'relationship', 'action' => 'index', 'user_id' => $row->id), NULL, true); ?>" class="btn bt-relationship" title="Relacionamentos"><span class="icon-heart"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'reminder', 'action' => 'index', 'user_id' => $row->id), NULL, true); ?>" class="btn bt-reminders" title="Lembretes"><span class="icon-bell"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'contacts', 'action' => 'index', 'user_id' => $row->id), NULL, true); ?>" class="btn bt-contacts" title="Contatos"><span class="icon-list-alt"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'visualizar', 'id' => $row->id), NULL, true); ?>" class="btn bt-view" title="Exibir" data-target="#view-user"><span class="icon-eye-open"></span></a>                                           
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'status', 'id' => $row->id), NULL, true); ?>" class="btn bt-status" title="<?php echo ($row->status == 'ativo' ? 'Desativar' : 'Ativar'); ?>"><span class="icon-<?php echo ($row->status == 'ativo' ? 'ban' : 'ok'); ?>-circle"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit', 'id' => $row->id), NULL, true); ?>" class="btn bt-edit" title="Editar"><span class="icon-pencil"></span></a>
                                            <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'delete', 'id' => $row->id), NULL, true); ?>" class="btn bt-delete" title="Excluir" data-toggle="modal"><span class="icon-trash"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } else { ?>
                    <div class="alert alert-info">
                        <p>Nenhum registro encontrado.</p>
                    </div>
                <?php } ?>
            </div>
        </div>

        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination.phtml', $this->search_params); ?>

    </div>
    <div id="view-user" class="modal hide fade">
    </div>
</div>
