<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>
<?php
$this->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.Jcrop.min.js");
$this->headLink()->appendStylesheet($this->baseUrl() . '/assets/css/jquery.Jcrop.css');
?>  
<?php
$model = new Model_Usuario();
$dadosUsuario = $model->getDados($this->row->id_usuario);
?>

<?php
if ($dadosUsuario->endereco) {
    $enderecoModel = new Model_Enderecos();
    $enderecoRow = $enderecoModel->find($dadosUsuario->endereco)->current();
}
?>
<script type="text/javascript">
    $(function() {
        $("#btn-add-bairro").click(function(){
            apareceCampoBairro();
        })
        $("#btn-remove-bairro").click(function(){
            someCampoBairro();
        })
        
        $("#estado, #cidade, #bairro").change(function(){
            $("#endereco").attr("disabled",true);
        })
        
        window.onload = getCidadesAdmin( '<?php echo $enderecoRow->uf_cod; ?>', '<?php echo $enderecoRow->cidade_id; ?>','<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "cidades"), NULL, true); ?>','#cidade',true );
        window.onload = getBairrosAdmin( '<?php echo $enderecoRow->cidade_id; ?>', '<?php echo $enderecoRow->bairro_id; ?>','<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "bairros"), NULL, true); ?>','#bairro',false);
    });
    function someCampoBairro(){
        $("#bairro_input").attr('disabled', true).hide(); 
        $("#bairro").attr('disabled', false).show();  
        $("#btn-add-bairro").show()
        $("#btn-remove-bairro").hide();
        $("#endereco").attr("disabled",false);
    }
    function apareceCampoBairro(){
        $("#bairro_input").attr('disabled', false).show(); 
        $("#bairro").attr('disabled', false).hide();  
        $("#btn-remove-bairro").show();
        $("#btn-add-bairro").hide();
        $("#endereco").attr("disabled",true);
    }
       
</script>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $this->row->id_usuario; ?>">
                    <fieldset>
                        <legend>Dados do Cliente</legend>
                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="nome" name="nome" value="<?php echo $this->row->nome; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope"></i></span><input type="text" class="input-xlarge" id="email" name="email" value="<?php echo $this->row->email; ?>" onChange="validateDadosAdmin($(this), 'email', this.value);">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="login">Login</label>
                            <div class="controls">
                                <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="login" name="login" onChange="validateDadosAdmin($(this), 'login', this.value);" value="<?php echo $this->row->login; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="apelido">Apelido</label>
                            <div class="controls">
                                <input type="text" class="input {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="apelido" name="apelido" value="<?php echo $dadosUsuario->apelido; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="senha">Nova Senha</label>
                            <div class="controls">
                                <input type="password" class="input-small" id="senha" name="senha" value="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="cpf_cnpj">CPF</label>
                            <div class="controls">
                                <input type="text" class="input-large cpf {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="cpf_cnpj" name="cpf_cnpj" value="<?php echo $dadosUsuario->cpf_cnpj; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="rg">R.G.</label>
                            <div class="controls">
                                <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="rg" name="rg" value="<?php echo $dadosUsuario->rg; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="orgao_expedidor">Órgão Expedidor</label>
                            <div class="controls">
                                <input type="text" class="{validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="orgao_expedidor" name="orgao_expedidor" value="<?php echo $dadosUsuario->orgao_expedidor; ?>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="telefone">Telefone</label>
                            <div class="controls">
                                <input type="text" class="input-medium fone {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="telefone" name="telefone" value="<?php echo $dadosUsuario->telefone; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="celular">Celular</label>
                            <div class="controls">
                                <input type="text" class="input-medium fone" id="celular" name="celular" value="<?php echo $dadosUsuario->celular; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="twitter">Twitter</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="twitter" name="twitter" value="<?php echo $dadosUsuario->twitter; ?>">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="facebook">Facebook</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="facebook" name="facebook" value="<?php echo $dadosUsuario->facebook; ?>">
                            </div>
                        </div>

                        <!--                        <div class="control-group">
                                                    <label class="control-label" for="foto">Foto</label>
                                                    <div class="controls">
                                                        <input type="file" class="input-large" id="foto" name="foto">
                                                    </div>
                                                </div>-->
                        <div class="control-group">
                            <label class="control-label" for="foto">Foto</label>
                            <div class="controls">
                                <div class="fluid">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail">
                                            <?php if ($dadosUsuario->foto) { ?>
                                                <img src="<?php echo Model_Media::getThumbnail($dadosUsuario->foto, $this->controller, 'small'); ?>" id="thumbnail"/>
                                            <?php } else { ?>
                                                <img src="http://www.placehold.it/150x150/EFEFEF/AAAAAA&text=sem+imagem" />                                        
                                            <?php } ?> 
                                        </div>

                                        <div class="fileupload-preview fileupload-exists thumbnail" data-provides="fileupload" data-name="imagem" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                                        <div>
                                            <span class="btn btn-file">
                                                <span class="fileupload-new" >Enviar foto</span>
                                                <span class="fileupload-exists">Mudar</span>
                                                <input type="file" name="foto" id="foto"/>
                                            </span>
                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <?php if ($dadosUsuario->foto) { ?>
                            <div class="control-group">
                                <label class="control-label" for="recortes">Recortes</label>
                                <div class="controls">
                                    <div class="row-fluid">
                                        <ul class="thumbnails">
                                            <li class="span4">
                                                <div class="thumbnail">
                                                    <img src="<?php echo Model_Media::getThumbnail($dadosUsuario->foto, $this->controller, 'home'); ?>" class="img-polaroid" id="home"/>
                                                    <div class="caption">
                                                        <h4>Foto Login</h4>                                                  
                                                        <p><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'media', 'action' => 'image-view', 'id' => $dadosUsuario->foto, 'slug' => 'home', 'controlador' => $this->controller), NULL, true); ?>" class="btn btn-primary bt-view" data-target="#view-cliente-imagem">Recortar</a> </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="control-group">
                                                            <label class="control-label" for="apagar_foto">&nbsp;</label>
                                                            <img src="<?php // echo Model_Media::getThumbnail($dadosUsuario->foto, 'thumbnail'); ?>" />
                                                            <label class="checkbox inline">
                                                                <input type="checkbox" id="apagar_foto" name="apagar_foto" value="apagar_foto"> Marque para excluir esta imagem
                                                            </label>
                                                        </div>		-->
                        <?php } ?>

                        <fieldset>
                            <legend>Dados de Endereço</legend>

                            <div class="control-group">
                                <label class="control-label" for="cep">Cep</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input class="input-small fld_cep cep" id="cep" name="cep" size="16" type="text" value="<?php echo $enderecoRow->cep; ?>">
                                        <button class="btn" type="button" onClick="getCepAdmin($('#cep').val(), '<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller), NULL, true); ?>');"><span class="icon-search"></span>Buscar cep</button>
                                        <button class="btn" type="button" onClick="limparCampos();">Limpar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="estado">Estado</label>
                                <div class="controls">
                                    <select id="estado" name="estado" onChange="getCidadesAdmin(this.value,'','<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "cidades"), NULL, true); ?>','#cidade',false);">
                                        <option value="">Selecione um Estado</option>
                                        <?php
                                        foreach ($this->estados as $estado) {
                                            $sel = '';
                                            if ($estado->id_estado == $enderecoRow->uf_cod) {
                                                $sel = ' SELECTED="SELECTED"';
                                            }
                                            ?>
                                            <option value="<?php echo $estado->id_estado; ?>"<?php echo $sel; ?>><?php echo $estado->nome; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cidade">Cidade</label>
                                <div class="controls">
                                    <select id="cidade" name="cidade" disabled="disabled" onChange="getBairrosAdmin( this.value, '','<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'bairros'), NULL, true); ?>', '#bairro',false );">
                                        <option value="">Selecione uma Cidade</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bairro">Bairro</label>
                                <div class="controls">
                                    <select id="bairro" name="bairro" class="cmb_bairro" disabled="disabled">
                                        <option value="">Selecione um Bairro</option>
                                    </select>                                        
                                    <input type="text" placeholder="Adicione o seu bairro" disabled="disabled" class="hide span3 {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="bairro_input" name="bairro_input" value="">
                                    <button class="btn btn-small" id="btn-add-bairro" type="button" title="Adicionar novo bairro"><i class="icon-plus"></i></button>
                                    <button class="btn btn-small hide" id="btn-remove-bairro" type="button" title="Voltar"><i class="icon-minus"></i></button>
                                </div>
                            </div>                             

                            <div class="control-group">
                                <label class="control-label" for="endereco">Endereço</label>
                                <div class="controls">
                                    <select id="logradouro" name="logradouro" class="span2">
                                        <?php foreach ($this->logradouros as $logradouro) { ?>
                                            <option value="<?php echo $logradouro ?>" <?php echo $enderecoRow->logradouro == $logradouro ? "selected" : "" ?>><?php echo $logradouro ?></option>
                                        <?php } ?>
                                    </select> 
                                    <input type="text" class="span5 {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="endereco_input" name="endereco_input" value="<?php echo $enderecoRow->nomeslog; ?>">
                                    <input type="hidden" id="endereco" name="endereco" value="<?php echo $dadosUsuario->endereco; ?>" >
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="numero">Número</label>
                                <div class="controls">
                                    <input type="text" class="input-mini {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="numero" name="numero" value="<?php echo $dadosUsuario->numero; ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="complemento">Complemento</label>
                                <div class="controls">
                                    <input type="text" class="span5" id="complemento" name="complemento" value="<?php echo $dadosUsuario->complemento; ?>">
                                </div>
                            </div>

                        </fieldset>

                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="view-cliente-imagem" class="modal hide fade">
</div>