<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<script type="text/javascript">
    $(function() {
        $("#btn-add-bairro").click(function(){
            apareceCampoBairro();
        })
        $("#btn-remove-bairro").click(function(){
            someCampoBairro();
        })
        
        $("#estado, #cidade, #bairro").change(function(){
            $("#endereco").attr("disabled",true);
        })
             
    });
    function someCampoBairro(){
        $("#bairro_input").attr('disabled', true).hide(); 
        $("#bairro").attr('disabled', false).show();  
        $("#btn-add-bairro").show()
        $("#btn-remove-bairro").hide();
        $("#endereco").attr("disabled",false);
    }
    function apareceCampoBairro(){
        $("#bairro_input").attr('disabled', false).show(); 
        $("#bairro").attr('disabled', true).hide();  
        $("#btn-remove-bairro").show();
        $("#btn-add-bairro").hide();
        $("#endereco").attr("disabled",true);
    }
</script>
<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Dados do Cliente</legend>
                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="nome" name="nome">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope"></i></span><input type="text" class="input-xlarge {validate:{required:true, email:true, messages:{required:'Campo Obrigatório', email:'Entre com um e-mail válido.'}}}" id="email" name="email">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="login">Login</label>
                            <div class="controls">
                                <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="login" name="login" onChange="validateDadosAdmin($(this), 'login', this.value);">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="senha">Senha</label>
                            <div class="controls">
                                <input type="password" class="input-small" id="senha" name="senha">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="cpf_cnpj">CPF</label>
                            <div class="controls">
                                <input type="text" class="input-large cpf {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="cpf_cnpj" name="cpf_cnpj">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="rg">R.G.</label>
                            <div class="controls">
                                <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="rg" name="rg">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="orgao_expedidor">Órgão Expedidor</label>
                            <div class="controls">
                                <input type="text" class="{validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="orgao_expedidor" name="orgao_expedidor">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="telefone">Telefone</label>
                            <div class="controls">
                                <input type="text" class="input-medium fone {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="telefone" name="telefone">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="celular">Celular</label>
                            <div class="controls">
                                <input type="text" class="input-medium fone" id="celular" name="celular">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="twitter">Twitter</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="twitter" name="twitter">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="facebook">Facebook</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="facebook" name="facebook">
                            </div>
                        </div>

                        <!--                        <div class="control-group">
                                                    <label class="control-label" for="foto">Foto</label>
                                                    <div class="controls">
                                                        <input type="file" class="input-large" id="foto" name="foto">
                                                    </div>
                                                </div>-->
                        <div class="control-group">
                            <label class="control-label" for="foto">Foto</label>
                            <div class="controls">
                                <div class="fluid">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail">
                                            <img src="http://www.placehold.it/150x150/EFEFEF/AAAAAA&text=sem+imagem" />                                        
                                        </div>

                                        <div class="fileupload-preview fileupload-exists thumbnail" data-provides="fileupload" data-name="imagem" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                                        <div>
                                            <span class="btn btn-file">
                                                <span class="fileupload-new" >Enviar foto</span>
                                                <span class="fileupload-exists">Mudar</span>
                                                <input type="file" name="foto" id="foto"/>
                                            </span>
                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <fieldset>
                            <legend>Dados de Endereço</legend>

                            <div class="control-group">
                                <label class="control-label" for="cep">Cep</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input class="input-small fld_cep cep" id="cep" name="cep" size="9" type="text" value="">
                                        <button class="btn" type="button" onClick="getCepAdmin($('#cep').val(), '<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller), NULL, true); ?>');"><span class="icon-search"></span>Buscar cep</button>
                                        <button class="btn" type="button" onClick="limparCampos();">Limpar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="estado">Estado</label>
                                <div class="controls">
                                    <select id="estado" name="estado" onChange="getCidadesAdmin(this.value,'','<?php echo $this->url(array("module" => "admin", "controller" => $this->controller, "action" => "cidades"), NULL, true); ?>','#cidade',true);">
                                        <option value="">Selecione um Estado</option>
                                        <?php
                                        foreach ($this->estados as $estado) {
                                            ?>
                                            <option value="<?php echo $estado->id_estado; ?>"><?php echo $estado->nome; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cidade">Cidade</label>
                                <div class="controls">
                                    <select id="cidade" name="cidade" disabled="disabled" onChange="getBairrosAdmin( this.value, '','<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'bairros'), NULL, true); ?>', '#bairro',true );">
                                        <option value="">Selecione uma Cidade</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bairro">Bairro</label>
                                <div class="controls">
                                    <select id="bairro" name="bairro" class="cmb_bairro" disabled="disabled">
                                        <option value="">Selecione um Bairro</option>
                                    </select>                                        
                                    <input type="text" placeholder="Adicione o seu bairro" disabled="disabled" class="hide span3 {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="bairro_input" name="bairro_input" value="">
                                    <button class="btn btn-small" id="btn-add-bairro" type="button" title="Adicionar novo bairro"><i class="icon-plus"></i></button>
                                    <button class="btn btn-small hide" id="btn-remove-bairro" type="button" title="Voltar"><i class="icon-minus"></i></button>
                                </div>
                            </div>                             

                            <div class="control-group">
                                <label class="control-label" for="endereco">Endereço</label>
                                <div class="controls">
                                    <select id="logradouro" name="logradouro" class="span2">
                                        <?php foreach ($this->logradouros as $logradouro) { ?>
                                            <option value="<?php echo $logradouro ?>"><?php echo $logradouro ?></option>
                                        <?php } ?>
                                    </select> 
                                    <input type="text" class="span5 {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="endereco_input" name="endereco_input" value="">
                                    <input type="hidden" id="endereco" name="endereco" value="" >
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="numero">Número</label>
                                <div class="controls">
                                    <input type="text" class="input-mini {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="numero" name="numero" value="">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="complemento">Complemento</label>
                                <div class="controls">
                                    <input type="text" class="span5" id="complemento" name="complemento" value="">
                                </div>
                            </div>

                        </fieldset>

                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>