<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Cliente</h3>
</div>
<?php
if ($this->rowDadoUsuario->endereco) {
    $enderecoModel = new Model_Enderecos();
    $enderecoRow = $enderecoModel->findWithJoins($this->rowDadoUsuario->endereco, null, null, Zend_Db::FETCH_OBJ);
}
?>
<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" font-weight: bold;">Nome:</b></td>
                <td><?php echo $this->row->nome; ?></td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td><?php echo $this->row->email; ?></td>
            </tr>
            <tr>
                <td><b>Login:</b></td>
                <td><?php echo $this->row->login; ?></td>
            </tr>
            <tr>
                <td><b>CPF:</b></td>
                <td><?php echo $this->rowDadoUsuario->cpf_cnpj; ?></td>
            </tr>
            <tr>
                <td><b>RG:</b></td>
                <td><?php echo $this->rowDadoUsuario->rg; ?></td>
            </tr>
            <tr>
                <td><b>Telefone:</b></td>
                <td><?php echo $this->rowDadoUsuario->telefone; ?></td>
            </tr>
            <tr>
                <td><b>Endereço:</b></td>
                <td><?php echo $enderecoRow->logracompl . " nº" . $this->rowDadoUsuario->numero. "  - " . $this->rowDadoUsuario->complemento; ?></td>
            </tr>
            <tr>
                <td><b>Bairro:</b></td>
                <td><?php echo $enderecoRow->Bairros_nome; ?></td>
            </tr>
            <tr>
                <td><b>Cidade:</b></td>
                <td><?php echo $enderecoRow->Cidades_nome; ?> - <?php echo $enderecoRow->Estados_uf; ?></td>
            </tr>
            <tr>
                <td><b>CEP:</b></td>
                <td><?php echo $enderecoRow->cep; ?></td>
            </tr>  
            <tr>
                <td><b>Twitter:</b></td>
                <td><a href="#"><?php echo $this->rowDadoUsuario->twitter; ?></a></td>
            </tr>
            <tr>
                <td><b>Facebook:</b></td>
                <td><a href="#"><?php echo $this->rowDadoUsuario->facebook; ?></a></td>
            </tr>
            <?php if ($this->rowDadoUsuario->foto): ?>
                <tr>              
                    <td colspan="2" style="text-align: center;">
                        <img src="<?php echo Model_Media::getThumbnail($this->rowDadoUsuario->foto, $this->controller, 'small'); ?>" class="img-polaroid" />                    
                    </td>                   
                </tr>
            <?php endif; ?>           
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-cliente').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>