<section class="relacionamento">
				<a href="javascript:void(0)" class="apagar icon-trash" title="Apagar data">Apagar data</a>
				<form action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" class="frm-lembrete principal" name="painel_data_new" id="painel_data_new"  method="post" enctype="multipart/form-data" >
					<fieldset class="field-data">
						<label>Qual a data Especial?</label>
						<select id="tipo_new" class="select-data-class">
							<?php foreach ($this->tipos as $tipo) { ?>
							<option value="<?php echo $this->escape($tipo); ?>"><?php echo $this->escape($tipo); ?></option>       
							<?php } ?>
						</select>
					</fieldset>
					<fieldset class="field-calendario">
						<span class="icone icon-calendar"></span>
						<label>Quando aconteceu?</label>
						<input type="text" name="data_inicio" id="data_inicio_new" class="input-calendario datepicker" autocomplete="off" value="<?php
						$locale = new Zend_Locale('pt_BR');
						$date = new Zend_Date(date('d-m-Y'), false, $locale);
						print $date->toString("d 'de' MMMM 'de' Y");
						?>"/>
					</fieldset>
					<fieldset>
						<label>Relacionamento com:</label>
						<select id="select-sexo" class="select-sexo-class">
							<option value="m" data-imagesrc="<?php echo $this->baseUrl(); ?>/user/imagens/300/ico-gen-mas.png"></option>
							<option value="f" data-imagesrc="<?php echo $this->baseUrl(); ?>/user/imagens/300/ico-gen-fem.png"></option>
						</select>
						<input type="text" name="com" id="com_new" autocomplete="off"  class="input-sexo" placeholder="Qual o nome do parceiro?" value=""/>
					</fieldset>
					<section class="lembretes">
						<h3>Lembretes</h3>
						<h4>Você pode escolher entre receber o lembrete no dia ou programar a antecedência. Assim, sobra um tempinho para preparar aquela surpresa especial.</h4>
						
						<div class="box-frequencias" id="remindes_new">
							<input type="hidden" id="reminder_id_new" name="reminder_id[]" value="">
							<fieldset>
								<label>Me ajude a lembrar</label>
								<select name="lembrar[]" id="lembrar_new"  class="dia-antecedencia-class">
									<option value="0">no dia</option>
									<option value="1">com antecedência</option>
								</select>
							</fieldset>
							<fieldset class="select-sumir">
								<label>Com qual antecedência?</label>
								<select name="periodo_tempo[]" id="periodo_tempo_new" class="select-antes antes-class">
									<option value="1">1 dia antes</option>
									<option value="2">2 dias antes</option>
									<option value="3">3 dias antes</option>
									<option value="4">4 dias antes</option>
									<option value="5">5 dias antes</option>
									<option value="6">6 dias antes</option>
									<option value="7">1 semana antes</option>
									<option value="8">2 semanas antes</option>
									<option value="9">3 semanas antes</option>
									<option value="10">1 mês antes</option>
								</select>
							</fieldset>
							<fieldset>
								<label>Com que frequência?</label>
								<select id="repeticao_new" name="repeticao[]"  class="frequencia-class">
									<option value="m">mensal</option>
									<option value="a">anual</option>
									<option value="0">nenhuma</option>
								</select>
							</fieldset>
							<a href="javascript:void(0)" class="excluir icon-trash btn-lembrete-delete" data-reminder-id="" data-relationship-id="new" title="Remover lembrete"></a>
						</div>
						<a href="javascript:void(0)" class="mais-lembretes">+ adicionar mais lembretes</a>
					</section>
					<section class="receber-lembretes">
						<div class="coluna-checkes">
							<h5>Onde deseja receber os lembretes?</h5>
							<input id="notification_email_new" type="checkbox" name="notification_email" value="1" checked/>
							<label for="notification_email_new" class="icon-email2">e-mail</label>
						</div>
						<button type="submit" class="salvar icon-disk">Salvar</button>
					</section>
				</form>
			</section>