<section id="dates">
	<div class="content">
		<header>
			<div class="delimitador">
				<h2>Minhas datas</h2>
			</div>
		</header>
		<div class="delimitador">
			<div class="box-la">
				<div class="estamos">+ Adicionar nova data</div>
				<div class="intro">Namoro, bodas de prata ou amizade colorida.<br/>Preencha o formulário do seu relacionamento e não deixe passar nada em branco.</div>
			</div>
			  <div id="loading-new-form">
                <img src="<?php echo $this->baseUrl();?>/user/imagens/loading.gif">
            </div>
			<?php foreach ($this->rows as $row) { ?>
			<section class="relacionamento">
				<a href="javascript:void(0)" class="apagar icon-trash" title="Apagar data">Apagar data</a>
				<form action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'edit'), 'user-dates-pane-edit', true); ?>" class="frm-lembrete principal" name="painel_data_<?php echo $row->id; ?>" id="painel_data_<?php echo $row->id; ?>"  method="post" enctype="multipart/form-data" >
					<input type="hidden" name="id" value="<?php echo $row->id; ?>" class="cod">
					<fieldset class="field-data">
						<label>Qual a data Especial?</label>
						<select id="tipo_<?php echo $row->id; ?>" class="select-data-class">
							<?php foreach ($this->tipos as $tipo) { ?>
							<option value="<?php echo $this->escape($tipo); ?>" <?php echo $tipo == $row->tipo ? 'selected' : ""; ?>><?php echo $this->escape($tipo); ?></option>       
							<?php } ?>
						</select>
					</fieldset>
					<fieldset class="field-calendario">
						<span class="icone icon-calendar"></span>
						<label>Quando aconteceu?</label>
						<input type="text" name="data_inicio" id="data_inicio_<?php echo $row->id; ?>" class="input-calendario datepicker" autocomplete="off" value="<?php
						$locale = new Zend_Locale('pt_BR');
						$date = new Zend_Date($row->data_inicio, false, $locale);
						print $date->toString("d 'de' MMMM 'de' Y");
						?>"/>
					</fieldset>
					<fieldset>
						<label>Relacionamento com:</label>
						<select id="select-sexo" class="select-sexo-class">
							<option value="m" <?php echo ($row->genero == 'm') ? 'selected' : '' ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/user/imagens/300/ico-gen-mas.png"></option>
							<option value="f" <?php echo ($row->genero == 'f') ? 'selected' : '' ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/user/imagens/300/ico-gen-fem.png"></option>
						</select>
						<input type="text" name="com" id="com_<?php echo $row->id; ?>" autocomplete="off"  class="input-sexo" placeholder="Qual o nome do parceiro?" value="<?php echo $this->escape($row->com); ?>"/>
					</fieldset>
					<section class="lembretes">
						<h3>Lembretes</h3>
						<h4>Você pode escolher entre receber o lembrete no dia ou programar a antecedência. Assim, sobra um tempinho para preparar aquela surpresa especial.</h4>
						<?php foreach ($this->getReminders($row->id) as $remind) { ?>
						<div class="box-frequencias" id="remindes_<?php echo $remind->id; ?>">
							<input type="hidden" id="reminder_id_<?php echo $remind->id; ?>" name="reminder_id[]" value="<?php echo $remind->id; ?>">
							<fieldset>
								<label>Me ajude a lembrar</label>
								<select name="lembrar[]" id="lembrar_<?php echo $row->id; ?>"  class="dia-antecedencia-class">
									<option value="0">no dia</option>
									<option value="1" <?php echo $remind->antecedencia ? 'selected' : ""; ?>>com antecedência</option>
								</select>
							</fieldset>
							<fieldset <?php echo $remind->antecedencia ? '' : 'class="select-sumir"'; ?>>
								<label>Com qual antecedência?</label>
								<select name="periodo_tempo[]" id="periodo_tempo_<?php echo $row->id; ?>" class="select-antes antes-class">
									<option value="1" <?php echo ($remind->antecedencia_quantidade == '1' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>1 dia antes</option>
									<option value="2" <?php echo ($remind->antecedencia_quantidade == '2' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>2 dias antes</option>
									<option value="3" <?php echo ($remind->antecedencia_quantidade == '3' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>3 dias antes</option>
									<option value="4" <?php echo ($remind->antecedencia_quantidade == '4' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>4 dias antes</option>
									<option value="5" <?php echo ($remind->antecedencia_quantidade == '5' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>5 dias antes</option>
									<option value="6" <?php echo ($remind->antecedencia_quantidade == '6' && $remind->antecedencia_periodo_tempo == 'd') ? 'selected' : ""; ?>>6 dias antes</option>
									<option value="7" <?php echo ($remind->antecedencia_quantidade == '1' && $remind->antecedencia_periodo_tempo == 's') ? 'selected' : ""; ?>>1 semana antes</option>
									<option value="8" <?php echo ($remind->antecedencia_quantidade == '2' && $remind->antecedencia_periodo_tempo == 's') ? 'selected' : ""; ?>>2 semanas antes</option>
									<option value="9" <?php echo ($remind->antecedencia_quantidade == '3' && $remind->antecedencia_periodo_tempo == 's') ? 'selected' : ""; ?>>3 semanas antes</option>
									<option value="10" <?php echo ($remind->antecedencia_quantidade == '1' && $remind->antecedencia_periodo_tempo == 'm') ? 'selected' : ""; ?>>1 mês antes</option>
								</select>
							</fieldset>
							<fieldset>
								<label>Com que frequência?</label>
								<select id="repeticao_<?php echo $remind->id; ?>" name="repeticao[]"  class="frequencia-class">
									<option value="m" <?php echo $remind->repeticao == 'm' ? 'selected' : ""; ?>>mensal</option>
									<option value="a" <?php echo $remind->repeticao == 'a' ? 'selected' : ""; ?>>anual</option>
									<option value="0" <?php echo !$remind->repetir ? 'selected' : ''; ?>>nenhuma</option>
								</select>
							</fieldset>
							<a href="javascript:void(0)" class="excluir icon-trash btn-lembrete-delete" data-reminder-id="<?php echo $remind->id; ?>" data-relationship-id="<?php echo $row->id; ?>" title="Remover lembrete"></a>
						</div>
						<?php } ?>
						<a href="javascript:void(0)" class="mais-lembretes">+ adicionar mais lembretes</a>
					</section>
					<section class="receber-lembretes">
						<div class="coluna-checkes">
							<h5>Onde deseja receber os lembretes?</h5>
							<input id="notification_email_<?php echo $row->id; ?>" type="checkbox" name="notification_email" value="1" <?php echo $row->notification_email ? 'checked' : ''; ?>/>
							<label for="notification_email_<?php echo $row->id; ?>" class="icon-email2">e-mail</label>
						</div>
						<button type="submit" class="salvar icon-disk">Salvar</button>
					</section>
				</form>
			</section>
			<?php } ?>	
		</div>
	</div>
</section>
<div class="clear"></div>