<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleNew)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleNew)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="name">Role</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name" name="name">
                            </div>
                        </div>
                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>