
// #Font-Face
// ==================================================
//  This is the proper syntax for an @font-face file
//  Just create a "fonts" folder at the root,
//  copy your FontName into code below and remove
//  comment brackets



@font-face {
    font-family: 'today-shop';
    src: url('../fonts/TodaySHOP-Regular-webfont.eot');
    src: url('../fonts/TodaySHOP-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TodaySHOP-Regular-webfont.woff2') format('woff2'),
         url('../fonts/TodaySHOP-Regular-webfont.woff') format('woff'),
         url('../fonts/TodaySHOP-Regular-webfont.ttf') format('truetype'),
         url('../fonts/TodaySHOP-Regular-webfont.svg#Today Shop Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'today-shop-bold';
    src: url('../fonts/TodaySHOP-Medium-webfont.eot');
    src: url('../fonts/TodaySHOP-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TodaySHOP-Medium-webfont.woff2') format('woff2'),
         url('../fonts/TodaySHOP-Medium-webfont.woff') format('woff'),
         url('../fonts/TodaySHOP-Medium-webfont.ttf') format('truetype'),
         url('../fonts/TodaySHOP-Medium-webfont.svg#Today Shop Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
