<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
    <?php echo $this->partial('partial/sub-navigation.phtml'); ?>

    <div class="span10">

        <div class="row">
            <div class="span10">
                <form action="<?php echo $this->url(array('module' => 'admin', 'controller' => $this->controller, 'action' => 'new'), NULL, true); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">                 
                    <input type="hidden" name="advertiser_id" value="<?php echo $this->advertiser_id; ?>">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="titulo">Título</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="titulo" name="titulo" >
                            </div>
                        </div>                        
                        <div class="control-group">
                            <label class="control-label" for="data_inicio">Data Início</label>
                            <div class="controls">
                                <input type="text" class="input-small datepicker" id="data_inicio" name="data_inicio" >
                            </div>
                        </div>                        
                        <div class="control-group">
                            <label class="control-label" for="data_fim">Data Fim</label>
                            <div class="controls">
                                <input type="text" class="input-small datepicker" id="data_fim" name="data_fim" >
                            </div>
                        </div>       
                        <div class="control-group">
                            <label class="control-label" for="texto_email">Texto Email</label>
                            <div class="controls">
                                <textarea id="texto_email" name="texto_email" rows="6" class="editor input-block-level" placeholder="insira o texto ...">
                                    <?php echo $this->row->texto_email ?>
                                </textarea>

                            </div>
                        </div>   
                        <div class="control-group">
                            <label class="control-label" for="texto_facebook">Texto Facebook</label>
                            <div class="controls">

                                <textarea rows="4" id="texto_facebook" name="texto_facebook" ></textarea>
                                <em id="fbCounter">180</em> <em>caracteres restantes</em>
                            </div>
                        </div>   
                        <div class="control-group">
                            <label class="control-label" for="texto_twitter">Texto Twitter</label>
                            <div class="controls">

                                <textarea rows="4" id="texto_twitter" name="texto_twitter" ></textarea>
                                <em id="twitCounter">140</em> <em>caracteres restantes</em>
                            </div>
                        </div>   
                        <div class="control-group">
                            <label class="control-label" for="texto_gcalendar">Texto Google+</label>
                            <div class="controls">

                                <textarea rows="4" id="texto_twitter" name="texto_gcalendar" ></textarea>
                                <em id="gcalendarCounter">140</em> <em>caracteres restantes</em>
                            </div>
                        </div>  
                        <?php echo $this->partial('partial/form_actions.phtml'); ?>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function() {
     
        $('#texto_facebook').limit({
            maxChars: 180,
            counter: "#fbCounter"
        })
    
        $('#texto_twitter').limit({
            maxChars: 140,
            counter: "#twitCounter"
        })
        $('#texto_gcalendar').limit({
            maxChars: 140,
            counter: "#gcalendarCounter"
        })
    })
    
</script>