<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><?php echo $this->pageTitle; ?></h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Titulo:</td>
                <td><?php echo $this->row->titulo; ?></td>
            </tr>            

            <tr>
                <td>Data Início:</td>
                <td> 
                    <?php
                    $date1 = date_create($this->row->data_inicio);
                    echo date_format($date1, 'd-m-Y');
                    ?>
                </td>
            </tr>            
            <tr>
                <td>Data Fim:</td>
                <td>
                    <?php
                    $date2 = date_create($this->row->data_fim);
                    echo date_format($date2, 'd-m-Y');
                    ?>
                </td>
            </tr>  
             <tr>
                <td>Texto Email:</td>
                <td><?php echo $this->row->texto_email; ?></td>
            </tr> 
             <tr>
                <td>Texto Facebook:</td>
                <td><?php echo $this->row->texto_facebook; ?></td>
            </tr> 
             <tr>
                <td>Texto twitter:</td>
                <td><?php echo $this->row->texto_twitter; ?></td>
            </tr> 
             <tr>
                <td>Texto Google Calendar:</td>
                <td><?php echo $this->row->texto_gcalendar; ?></td>
            </tr> 
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-advertiser').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>