/* partials/_main.scss */
body{
	padding-top: 130px;
}

/* partials/_top.scss */
header.top{
	position: fixed;
	z-index: 150;
	top: 0;
	left: 0;
}

form.reserva{
	&.-top{
		height: 5em !important;
		position: fixed;
		top: 60px;
		left: 0;
		z-index: 140;
	}
}

/* partials/_home.scss */
section.home{
	section.destination{
		article{
			a{

			}
			&:hover a{

			}
		}
	}
}

/* partials/_pacotes.scss */
section.pacotes{
	.main{

	}
		aside{
			> ul{
				> li{
					> a{
						@include border-radius(0 4px 4px 0);
					}
				}
			}
		}
}
