<?php 
$session = array(
	array(
		'controller' => $this->controller,
		'label' => $this->pageTitle
	)
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleEdit)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleEdit)); ?>

<div class="row">
	<?php echo $this->partial('partial/sub-navigation.phtml'); ?>

	<div class="span10">
		
		<div class="row">
			<div class="span10">
				<form action="<?php echo $this->url( array('module' => 'admin', 'controller' => $this->controller, 'action' => 'edit'), NULL, true ); ?>" method="post" class="form-horizontal well" enctype="multipart/form-data">
					<input type="hidden" name="id" value="<?php echo $this->row->id_usuario; ?>">
				    <fieldset>
				    <?php /* ?>
				       <div class="control-group">
				        <label class="control-label" for="role">Perfil</label>
				        <div class="controls">
				          <select id="role" name="role" class="{validate:{required:true, messages:{required:'Campo Obrigatório'}}}">
				            <option value="">Selecione um tipo</option>
				        <?php if ($this->userSession->role == 'master') { ?>
				        	<option value="master"<?php echo ($this->row->role == 'master')?' selected="selected"':''; ?>>Master</option>
				        <?php } ?>
				            <option value="administrativo"<?php echo ($this->row->role == 'administrativo')?' selected="selected"':''; ?>>Administrativo</option>
				            <option value="assistencia"<?php echo ($this->row->role == 'assistencia')?' selected="selected"':''; ?>>Assistência Técnica</option>
				            <option value="engenharia"<?php echo ($this->row->role == 'engenharia')?' selected="selected"':''; ?>>Engenharia</option>
				            <option value="financeiro"<?php echo ($this->row->role == 'financeiro')?' selected="selected"':''; ?>>Financeiro</option>
				            <option value="planejamento"<?php echo ($this->row->role == 'planejamento')?' selected="selected"':''; ?>>Planejamento</option>
				          </select>
				        </div>
				      </div>
				     */ ?>
				      <div class="control-group">
				        <label class="control-label" for="nome">Nome</label>
				        <div class="controls">
				          <input type="text" class="input-xlarge" id="nome" name="nome" value="<?php echo $this->row->nome; ?>">
				        </div>
				      </div>
				      <div class="control-group">
				        <label class="control-label" for="email">E-mail</label>
				        <div class="controls">
				        	<div class="input-prepend">
				        		<span class="add-on"><i class="icon-envelope"></i></span><input type="text" class="input-xlarge" id="email" name="email" value="<?php echo $this->row->email; ?>" onChange="validateDadosAdmin($(this), 'email', this.value);">
				        	</div>
				        </div>
				      </div>

				      <div class="control-group">
				        <label class="control-label" for="login">Login</label>
				        <div class="controls">
				          <input type="text" class="input-large {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="login" name="login" onChange="validateDadosAdmin($(this), 'login', this.value);" value="<?php echo $this->row->login; ?>">
				        </div>
				      </div>

				      <div class="control-group">
				        <label class="control-label" for="senha">Nova Senha</label>
				        <div class="controls">
				          <input type="password" class="input-small" id="senha" name="senha" value="">
				        </div>
				      </div>
				      <div class="control-group">
          	<label class="control-label" for="role">Role</label>
	          <div class="controls">
	            <select id="id_role" name="id_role">
	                <option value="">Selecione um Role</option>
	                <?php foreach ($this->roles as $role) :?>
	                    <option value="<?php echo $role->id_role?>" <?=$this->row->id_role==$role->id_role?'selected':'';?> ><?php echo $role->name; ?></option>
	            	  <?php endforeach; ?>
	          	</select>
	          </div>
          </div>
				      <?php echo $this->partial('partial/form_actions.phtml'); ?>
				    </fieldset>
				</form>
			</div>
		</div>

	</div>
</div>
