body { 
    background: #F2E8E6 url(assets/img/bg.jpg) repeat;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, section, aside, footer, address {  
    display: block;  
} 
.wrapper {
  
    margin: 0 auto;
    text-align: center;
    
}



a{ color: #77dff1; text-decoration: none;}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/League_Gothic-webfont.woff') format('woff'),
        url('fonts/League_Gothic-webfont.ttf') format('truetype'),
        url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
