<div class="form-actions">
    <button id="submit_button" type="submit" class="btn<?php echo ( $this->confirm )?' confirmation':''; ?> btn-primary">Salvar</button>
    <button type="button" class="btn bt-cancel" onclick="goBack();">Cancelar</button>
</div>  