<div class="span2">
    <div class="well" style="padding: 8px 0;">

        <?php
        /**
         * @authors   Kanstantsin A Kamkou (2ka.by); Jeroen Herczeg
         */
//        $html = array('<ul class="nav nav-list">');
//
//        foreach ($this->navigation as $page) {
//            // show only the current branch and the visible item
//            if (!$page->isVisible() || ($this->menu()->getOnlyActiveBranch() && !$page->isActive(true))) {
//                continue;
//            }
//
//            // header
//            $html[] = '<li class="nav-header">';
//            $html[] = $page->getLabel();
//            $html[] = "</li>";
//
//            if (!empty($page->pages)) {
//                foreach ($page->pages as $subpage) {
//                    // visibility of the sub-page
//                    if (!$subpage->isVisible()) {
//                        continue;
//                    }
//                    if ($subpage->getLabel() == 'divider') {
//                        $html[] = '<li class="divider"></li>';
//                        continue;
//                    }
//                    $html[] = '<li' . ($subpage->isActive() ? ' class="active"' : '') . '>';
//                    $html[] = '<a href="' . $subpage->getHref() . '">';
//
//                    if ($subpage->get('icon')) {
//                        $html[] = '<i class="icon-' . $subpage->get('icon') . '"></i>';
//                    }
//
//                    $html[] = $subpage->getLabel();
//                    $html[] = "</a>";
//                    $html[] = "</li>";
//                }
//            }
//        }
//
//        $html[] = '</ul>';
//        $html[] = '</div>';
//        $html[] = '</div>';
//        $html[] = '</div>';
//
//        echo join(PHP_EOL, $html);
	echo $this->navigation()
	        ->menu()
	        ->setOnlyActiveBranch(true)
	        ->setMinDepth(1)
	        ->setMaxDepth(4)
	        ->setRenderParents(false)
	        ->setUlClass('nav nav-list');
        ?>
    </div>
</div>

