<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login - Administração - Mande-me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <?php 
    echo $this->headLink()->appendStylesheet($this->baseUrl() .'/assets/css/bootstrap.css')
              ->headLink()->appendStylesheet($this->baseUrl() .'/assets/css/bootstrap-responsive.css'); 
    ?>

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

    <?php 
    echo $this->headScript()->prependFile($this->baseUrl() . "/assets/js/modernizr-2.6.2.js");
    ?>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo $this->baseUrl(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript"> var base_url = '<?php echo $this->baseUrl(); ?>'; </script>
  </head>

  <body>

    <div class="container">

      <form action="<?php echo $this->url( array('module' => 'admin', 'controller' => 'auth', 'action' => 'login'), NULL, true ); ?>" class="form-signin login" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <?php if ( isset($this->messages[0]['error']) ) { ?>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <p><?php echo $this->messages[0]['error']; ?></p>
        </div>
        <?php } ?>
        <input type="text" class="input-block-level {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="login" name="login" placeholder="Login">
        <input type="password" class="input-block-level {validate:{required:true, messages:{required:'Campo Obrigatório'}}}" id="senha" name="senha" placeholder="Senha">
        <button class="btn btn-large btn-primary" type="submit">Entrar</button>
      </form>

    </div> <!-- /container -->

    <?php 
////    echo $this->headScript()->appendFile($this->baseUrl() .'/assets/js/jquery.js')
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-transition.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-alert.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-modal.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-dropdown.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-tab.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-tooltip.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-popover.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-button.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-collapse.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-carousel.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/bootstrap-typeahead.js")
//       ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.metadata.js")
//       ->headScript()->appendFile($this->baseUrl() . "/js/mylibs/jquery.validate.min.js")
//       ->headScript()->appendFile($this->baseUrl() . "/assets/js/application.js");
    ?>
<!--    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>-->

  </body>
</html>
