<?php
$session = array(
    array(
        'controller' => $this->controller,
        'label' => $this->pageTitle
    )
);
?>

<?php echo $this->partial('partial/pageheader.phtml', array('controller' => $this->pageTitle, 'action' => $this->pageTitleList)); ?>
<?php echo $this->partial('partial/breadcrumb.phtml', array('session' => $session, 'action' => $this->pageTitleList)); ?>

<div class="row">

    <div class="span12">     
        <div class="well well-small">
            <h3>Novos Luvers</h3>
        </div>
        <?php if (count($this->paginator_luvers)) { ?>
            <table class="table table-striped">             
                <thead>
                    <tr>
                        <th width="6%">Cód.</th>
                        <th>Foto</th>
                        <th>Nome de exibição</th>
                        <th>Nome</th>
                        <th width="30%">E-mail</th>                               
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->paginator_luvers as $row) { ?>

                    <td><?php echo $row->id; ?></td>
                    <?php if ($row->media_id) { ?>
                        <td colspan="2" style="text-align: center;">
                            <img src="<?php echo Model_Media::getThumbnail($row->media_id, 'user', 'site'); ?>" id="small" class="img-circle" width="60" height="60"/>
                        </td>                   
                    <?php } else if ($row->foto_url) { ?>
                        <td colspan="2" style="text-align: center;">
                            <img src="<?php echo $row->foto_url; ?>" id="small" class="img-circle" width="60" height="60"/>
                        </td>                   
                    <?php } else { ?>
                        <td colspan="2" style="text-align: center;">
                            <img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=sem+imagem" class="img-circle" width="60" height="60"/>      
                        </td>                   
                    <?php } ?>    
                    <td><?php echo $row->display_name; ?></td>
                    <td><?php echo $row->display_name; ?></td>
                    <td><?php echo $row->first_name . " " . $row->last_name; ?></td>                            
                    <td><?php echo $row->email; ?></td>                                   
                    </tr>
                <?php } ?>
                </tbody>
            </table>
        <?php } else { ?>
            <div class="alert alert-info">
                <p>Nenhum registro encontrado.</p>
            </div>
        <?php } ?>       
    </div>   
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="well well-small">
            <h3>Quantidade de Luvers</h3>
        </div>
        <form class="form-horizontal"
              <fieldset>
                <div class="input-prepend"><span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="range" id="range" /></div>
            </fieldset>
        </form>
        <div id="placeholder">

            <figure id="chart"></figure>

        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="well well-small">
            <h3>Gênero Luver</h3>
        </div>

        <canvas id="genero-users" style="margin: 0 25%;" height="300" width="300"></canvas>
    </div>
    <div class="span6">
        <div class="well well-small">
            <h3>Gênero Parceiro</h3>
        </div>
        <canvas id="genero-com" style="margin: 0 25%;" height="300" width="300"></canvas>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="well well-small">
            <h3>Idade</h3>
        </div>

        <canvas id="users-age" style="margin: 0 25%;" height="300" width="300"></canvas>
    </div>
    <div class="span6">
        <div class="well well-small">
            <h3>Demografia</h3>
        </div>
        <div id="world-map" style="width: 570px; height: 400px"></div>
    </div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.js"></script>
<script type="text/javascript">
    $(function() {


        // Set the default dates
        var startDate = new Date("June 01, 2013 00:00:00"), //Date.create().addDays(-6), // 7 days ago
                endDate = Date.create(); // today

        var range = $('#range');
        // Show the dates in the range input
        range.val(startDate.format('{MM}/{dd}/{yyyy}') + ' - ' + endDate.format('{MM}/{dd}/{yyyy}'));
        // Load chart
        ajaxLoadChart(startDate, endDate);
        range.daterangepicker({
            startDate: startDate,
            endDate: endDate,
            ranges: {
                'Hoje': ['today', 'today'],
                'Ontem': ['yesterday', 'yesterday'],
                'Últimos 7 Dias': [Date.create().addDays(-6), 'today'],
                'Últimos 30 Dias': [Date.create().addDays(-29), 'today'],
                'Todos': [new Date("June 01, 2013 00:00:00"), 'today']
            }
        }, function(start, end) {

            ajaxLoadChart(start, end);
        });
        // The tooltip shown over the chart
        var tt = $('<div class="ex-tooltip">').appendTo('body'),
                topOffset = -32;
        var data = {
            "xScale": "time",
            "yScale": "linear",
            "main": [{
                    className: ".stats",
                    "data": []
                }]
        };
        var opts = {
            paddingLeft: 20,
            paddingTop: 20,
            paddingRight: 10,
            axisPaddingLeft: 25,
            tickHintX: 9, // How many ticks to show horizontally

            dataFormatX: function(x) {

                // This turns converts the timestamps coming from
                // ajax.php into a proper JavaScript Date object

                return Date.create(x);
            },
            tickFormatX: function(x) {

                // Provide formatting for the x-axis tick labels.
                // This uses sugar's format method of the date object. 

                return x.format('{MM}/{dd}');
            },
            "mouseover": function(d, i) {
                var pos = $(this).offset();
                tt.text(d.x.format('{Month} {ord}') + ': ' + d.y).css({
                    top: topOffset + pos.top,
                    left: pos.left

                }).show();
            },
            "mouseout": function(x) {
                tt.hide();
            }
        };
        // Create a new xChart instance, passing the type
        // of chart a data set and the options object

        var chart = new xChart('line-dotted', data, '#chart', opts);
        // Function for loading data via AJAX and showing it on the chart
        function ajaxLoadChart(startDate, endDate) {

            // If no data is passed (the chart was cleared)

            if (!startDate || !endDate) {
                chart.setData({
                    "xScale": "time",
                    "yScale": "linear",
                    "main": [{
                            className: ".stats",
                            data: []
                        }]
                });
                return;
            }

            // Otherwise, issue an AJAX request

            $.getJSON(base_url + '/admin/dashboard/num-users/', {
                start: startDate.format('{yyyy}-{MM}-{dd}'),
                end: endDate.format('{yyyy}-{MM}-{dd}')

            }, function(data) {

                var set = [];
                $.each(data, function() {
                    set.push({
                        x: this.label,
                        y: parseInt(this.value, 10)
                    });
                });
                chart.setData({
                    "xScale": "time",
                    "yScale": "linear",
                    "main": [{
                            className: ".stats",
                            data: set
                        }]
                });
            });
        }
        // Function for loading data via AJAX and showing it on the chart
        //pie genero

        ajaxLoadChartGender();
        function ajaxLoadChartGender() {

            // Otherwise, issue an AJAX request

            $.getJSON(base_url + '/admin/dashboard/num-gender/', function(data) {

                var total = parseInt(data.f) + parseInt(data.m) + parseInt(data.ni);
                var percentFeminino = parseInt(data.f) / total * 100;
                var percentMasculino = parseInt(data.m) / total * 100;
                var percentNaoInoformado = parseInt(data.ni) / total * 100;
                var pieData = [
                    {
                        value: parseInt(data.f),
                        color: "#DB9A9D",
                        label: 'Feminino: ' + parseFloat(percentFeminino).toFixed(1) + '%',
                        labelColor: 'white',
                        labelFontSize: '1.2em',
                        labelAlign: 'center'
                    },
                    {
                        value: parseInt(data.m),
                        color: "#099AD2",
                        label: "Masculino: " + parseFloat(percentMasculino).toFixed(1) + '%',
                        labelColor: '#444',
                        labelFontSize: '1.2em',
                        labelAlign: 'center'
                    },
                    {
                        value: parseInt(data.ni),
                        color: "#EFEFEF",
                        label: 'Não Infomado' + parseFloat(percentNaoInoformado).toFixed(1) + '%',
                        labelColor: '#111',
                        labelFontSize: '1em',
                        labelAlign: 'center'
                    }

                ];
                var myChart = new Chart(document.getElementById("genero-users").getContext("2d"));
                var myPie = myChart.Pie(pieData, {
                    animationSteps: 100,
                    animationEasing: 'easeOutBounce'
                });
//                var myPie = new Chart(document.getElementById("genero-users").getContext("2d")).Pie(pieData,null);

            });
        }
        ajaxLoadChartGenderCom();
        function ajaxLoadChartGenderCom() {

            // Otherwise, issue an AJAX request

            $.getJSON(base_url + '/admin/dashboard/num-gender-com/', function(data) {

                var total = parseInt(data.f) + parseInt(data.m);
                var percentFeminino = parseInt(data.f) / total * 100;
                var percentMasculino = parseInt(data.m) / total * 100;
                var pieData = [
                    {
                        value: parseInt(data.f),
                        color: "#DB9A9D",
                        label: 'Feminino: ' + parseFloat(percentFeminino).toFixed(1) + '%',
                        labelColor: 'white',
                        labelFontSize: '1.2em',
                        labelAlign: 'center'
                    },
                    {
                        value: parseInt(data.m),
                        color: "#099AD2",
                        label: "Masculino: " + parseFloat(percentMasculino).toFixed(1) + '%',
                        labelColor: '#444',
                        labelFontSize: '1.2em',
                        labelAlign: 'center'
                    }

                ];
                var myChart = new Chart(document.getElementById("genero-com").getContext("2d"));
                var myPie = myChart.Pie(pieData, {
                    animationSteps: 100,
                    animationEasing: 'easeOutBounce'
                });
            });
        }
        //fim pie genero


        //MAPA
        ajaxLoadChartUserByCountry();
        function ajaxLoadChartUserByCountry() {

            // Otherwise, issue an AJAX request

            $.getJSON(base_url + '/admin/dashboard/num-user-by-country/', function(data) {

                var gdpData = data;

                $('#world-map').vectorMap({
                    map: 'world_mill_en',
                    onRegionLabelShow: function(e, el, code) {
                        el.html(el.html() + '(' + gdpData[code] + ')');
                    }
                });
            });
        }
        // fim mapa
        //
//IDADE
        ajaxLoadChartUserAge();
        function ajaxLoadChartUserAge() {

            $.getJSON(base_url + '/admin/dashboard/num-users-by-age/', function(data) {

                var pieData = data;
               
                var myChart = new Chart(document.getElementById("users-age").getContext("2d"));
                var myDoughnut = myChart.Pie(pieData, {
                    animationSteps: 100,
                    animationEasing: 'easeOutBounce'
                });
            });
        }

    });

</script>
