<section id="reminder">
    <div class="page-header">
        <h1>Painel de Datas</h1>
    </div>

    <div class="row">
        <div class="span10 offset1">     
            <?php
            echo $this->partial('partial/messages.phtml');
            ?>
            <div class="well" id="btn-add">
                <h4>Adicionar uma nova data importante</h4>
            </div>
            <div id="loader" align="center" class="hide"><img src="../public/assets/img/loader.gif"></div>
            <div id="result-delete">
                <div class="row">
                    <div class="span9">
                        <div class="alert hide">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <?php foreach ($this->rows as $row) { ?>

                <form class="form-horizontal well frm-dates-pane" action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'edit'), 'user-dates-pane-edit', true); ?>" name="painel_data_<?php echo $row->id; ?>" id="painel_data_<?php echo $row->id; ?>"  method="post" enctype="multipart/form-data">
                    <div id="result_<?php echo $row->id; ?>">
                        <div class="row">
                            <div class="span9">
                                <div class="alert hide">
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                    <h4></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $row->id; ?>" class="cod">
                    <fieldset>
                        <div class="control-group">   
                            <label class="control-label" for="titulo_<?php echo $row->id; ?>">Título:</label>
                            <div class="controls">
                                <input type="text" class="span4" id="titulo_<?php echo $row->id; ?>" name="titulo" placeholder="Título" value="<?php echo $row->titulo; ?>">                            
                            </div>
                        </div>                    
                        <div class="control-group">
                            <label class="control-label" for="com_<?php echo $row->id; ?>">Relacionamento com:</label>
                            <div class="control-group">                           
                                <div class="controls controls-row">
                                    <select id="genero" name="genero" class="span1">
                                        <option value="f" <?php echo ($row->genero == 'f') ? 'selected' : '' ?>>F</option>                              
                                        <option value="m" <?php echo ($row->genero == 'm') ? 'selected' : '' ?>>M</option>                                
                                    </select>
                                    <input type="text" class="parceiro" id="com_<?php echo $row->id; ?>" name="com" placeholder="Qual o nome da parceira?" value="<?php echo $row->com; ?>">                            
                                </div>
                            </div>    
                        </div>    

                        <div class="control-group">
                            <label class="control-label" for="tipo_<?php echo $row->id; ?>">Tipo:</label>
                            <div class="controls">
                                <select id="tipo_<?php echo $row->id; ?>" name="tipo_<?php echo $row->id; ?>" class="span2">
                                    <?php foreach ($this->tipos as $tipo) { ?>
                                        <option value="<?php echo $tipo; ?>" <?php echo $tipo == $row->tipo ? 'selected' : ""; ?>><?php echo $tipo; ?></option>       
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="data_inicio_<?php echo $row->id; ?>">Data Início:</label>
                            <div class="controls">
                                <div class="input-append date" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="input-small" id="data_inicio_<?php echo $row->id; ?>" name="data_inicio" value="<?php
                                    $locale = new Zend_Locale('pt_BR');
                                    $date = new Zend_Date($row->data_inicio, false, $locale);
                                    print $date->toString("dd/MM/YYYY");
                                    ?>">   
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>     


                    </fieldset>
                    <fieldset>
                        <legend>Lembretes</legend>
                        <div id="result-delete_<?php echo $row->id; ?>">
                            <div class="alert hide">
                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                <h4></h4>
                                <p></p>
                            </div>
                        </div>
                        <?php foreach ($this->getReminders($row->id) as $remind) { ?>
                            <div class="control-group reminder-list"  id="remindes_<?php echo $remind->id ?>">
                                <label class="control-label" for="intervalo_<?php echo $row->id; ?>">Intervalo:</label>
                                <div class="controls controls-row">
                                    <input type="text" class="span1" id="intervalo_<?php echo $row->id; ?>" name="intervalo[]" value="<?php echo $remind->intervalo ?>">   
                                    <input type="hidden" id="reminder_id_<?php echo $row->id; ?>" name="reminder_id[]" value="<?php echo $remind->id; ?>">   
                                    <select id="repeticao" name="repeticao[]" class="span1">
                                        <option value="d" <?php echo $remind->repeticao == 'd' ? 'selected' : ""; ?>>dia</option>
                                        <option value="s" <?php echo $remind->repeticao == 's' ? 'selected' : ""; ?>>semana</option>
                                        <option value="m" <?php echo $remind->repeticao == 'm' ? 'selected' : ""; ?>>mês</option>
                                        <option value="a" <?php echo $remind->repeticao == 'a' ? 'selected' : ""; ?>>ano</option>
                                    </select>

                                    <select id="a_d_<?php echo $row->id; ?>" name="a_d[]" class="span1">
                                        <option value="a" <?php echo $remind->a_d == 'a' ? 'selected' : ""; ?>>antes</option>
                                        <option value="d" <?php echo $remind->a_d == 'd' ? 'selected' : ""; ?>>depois</option>
                                    </select>
                                    <div class="span1">
                                        <a href="#" rel="<?php echo $this->url(array('module' => 'user', 'controller' => 'reminder', 'action' => 'delete'), NULL, true); ?>" data-reminder-id="<?php echo $remind->id; ?>" data-relationship-id="<?php echo $row->id; ?>" class="btn bt-delete-reminder" role="button" data-toggle="modal" data-target="#deleteConfirm" style="margin-left: 10px"><i class="icon-trash"></i> </a>
                                    </div>

                                </div>
                            </div>
                        <?php } ?>
                        <div class="control-group"> <div class="controls"><a href="#" class="btn-add-reminder">+ adicionar mais lembretes</a></div></div>

                        <div class="control-group">
                            <label class="control-label" for="notifications">Onde deseja receber os lembretes?</label>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="notification_email_<?php echo $row->id; ?>" name="notification_email" value="1" <?php echo $row->notification_email ? 'checked' : ''; ?>>
                                    email
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" id="notification_facebook_<?php echo $row->id; ?>" name="notification_facebook"  value="1" <?php echo $row->notification_facebook ? 'checked' : ''; ?>>
                                    facebook 
                                </label>                              
                                <!--                                <label class="checkbox inline">
                                
                                                                    <input type="checkbox" id="notification_gcalendar" name="notification_gcalendar" value="1" <?php // echo $row->notification_gcalendar ? 'checked' : '';  ?>>                                    
                                                                    Google Calendar <?php // if (!$this->connectadoGoogle) {  ?><small>Você ainda não se cadastrou<a class = '' href = '<?php // echo $this->url(array('module' => 'user', 'controller' => 'settings', 'action' => 'index'), NULL, true);  ?>'>Cadstre-se</a></small><?php // }  ?>
                                                                </label>-->
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-actions">
                        <a class="btn btn-info btn-delete-dates-pane" href="#" rel="<?php echo $this->url(array('module' => 'user', 'controller' => 'dates-pane', 'action' => 'delete'), 'user-dates-pane-delete', true); ?>" data-dates-pane-id="<?php echo $row->id; ?>" role="button" data-toggle="modal" data-target="#deleteConfirm"><i class="icon-trash icon-white"></i> Excluir</a>                          

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                    </div> 
                </form>
            <?php } ?>

        </div>
    </div>

</section>
<!-- modal de confirmação-->
<div id="deleteConfirm" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirmar Exlusão!!</h3>
    </div>
    <div class="modal-body">

        <p>Você tem certeza que deseja excluir este item?</p>

    </div>
    <div class="modal-footer">
        <a href="#"  class="btn" data-dismiss="modal" aria-hidden="true" >Cancelar</a>
        <a href="#" class="btn btn-primary bt-confirmar">Confirmar</a>
    </div>
</div>
<!-- /modal de confirmação -->