<div class="content">

    <section id="painel" class="page interna">

        <div class="header-page">
            <h2>Painel das Datas</h2>				
        </div>

        <div class="content-page">


            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>

            <blockquote id="btn-add-data">
                <h2>+ Adicionar uma nova data importante</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </blockquote>

            <!-- <form action="<?php // echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'edit'), 'user-dates-pane-edit', true);    ?>" class="frm-lembrete" name="painel_data_" id="painel_data_"  method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="" class="cod">
                <button class="btn-remove-lembrete">Apagar data <i class="icon-trash"></i></button>
                <span class="field fld-titulo">
                    <label for="titulo" class="none">Título</label>
                    <input type="text" name="titulo" id="titulo_" />
                </span>

                <span class="field fld-relacionamento">
                    <label for="genero">Relacionamento com</label>
                    <div>
                        <select name="genero" id="genero_" class="selectOnlyImage">
                            <option value="m" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/facebook-icon-32.png" class="ico-masculino">M</option>
                            <option value="f" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/twitter-icon-32.png" class="ico-feminino">F</option>
                        </select>
                        <input type="text" name="com" id="com_" placeholder="Qual o nome da parceira?" />
                    </div>
                </span>

                <span class="field fld-tipo">
                    <label for="tipo_">Tipo de Relacionamento</label>
                    <select id="tipo_" name="tipo" class="customSelectTipo">
            <?php // foreach ($this->tipos as $tipo) { ?>
                                                            <option value="<?php // echo $this->escape($tipo);    ?>"><?php // echo $this->escape($tipo);    ?></option>       
            <?php // } ?>
                    </select>
                </span>

                <span class="field fld-data">
                    <label for="data_inicio_">Data de início</label>
                    <i class="icon icon-calendar"></i>
                    <input type="text" name="data_inicio" id="data_inicio_" class="datepicker" />
                </span>

                <h3>Lembretes</h3>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>

                <div class="lembretes">
                    <span class="field_group" id="remindes_">
                        <label class="none">Intervalo</label>
                        <input type="text" name="intervalo[]" class="txt_interval" />
                        <input type="hidden" id="reminder_id_" name="reminder_id[]" />   
                        <label class="none">Repetição</label>
                        <select name="repeticao[]" class="customSelectRepeticao">
                            <option value="d">dia</option>
                            <option value="s">semana</option>
                            <option value="m">mês</option>
                            <option value="a">ano</option>
                        </select>

                        <label class="none">Antes/Depois</label>
                        <select name="a_d[]" id="a_d_" class="customSelectAD">
                            <option value="a">antes</option>
                            <option value="d">depois</option>
                        </select>

                        <button type="button" class="btn-lembrete-delete" data-reminder-id="" data-relationship-id="" ><i class="icon-trash"></i></button>
                    </span>

                    <span class="field_group" id="remindes_">
                        <label class="none">Intervalo</label>
                        <input type="text" name="intervalo[]" class="txt_interval" />
                        <input type="hidden" id="reminder_id_" name="reminder_id[]" />   
                        <label class="none">Repetição</label>
                        <select name="repeticao[]" class="customSelectRepeticao">
                            <option value="d">dia</option>
                            <option value="s">semana</option>
                            <option value="m">mês</option>
                            <option value="a">ano</option>
                        </select>

                        <label class="none">Antes/Depois</label>
                        <select name="a_d[]" id="a_d_" class="customSelectAD">
                            <option value="a">antes</option>
                            <option value="d">depois</option>
                        </select>

                        <button type="button" class="btn-lembrete-delete" data-reminder-id="" data-relationship-id="" ><i class="icon-trash"></i></button>
                    </span>
                    
                    <a href="javascript: void(0);" title="+ adicionar mais lembretes" class="btn-mais-lembrete">+ adicionar mais lembretes</a>

                </div>

                <span class="field_group">

                    <label>Onde deseja receber os lembretes?</label>

                    <label for="notification_email" class="checkbox inline">
                        <input type="checkbox" id="notification_email_" name="notification_email" value="1" class="customCheck"/>
                        <i class="icon-mail"></i>
                        email
                    </label>

                </span>

                <span class="buttons">
                    <button type="submit" class="btn-salvar"><i class="icon icon-disk"></i> Salvar</button>
                </span>

            </form> -->

            <?php foreach ($this->rows as $row) { ?>
                <form action="<?php echo $this->url(array('module' => 'user', 'controller' => $this->controller, 'action' => 'edit'), 'user-dates-pane-edit', true); ?>" class="frm-lembrete" name="painel_data_<?php echo $row->id; ?>" id="painel_data_<?php echo $row->id; ?>"  method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?php echo $row->id; ?>" class="cod">
                    <!--<button class="btn-delete-date-pane" rel="<?php // echo $this->url(array('module' => 'user', 'controller' => 'dates-pane', 'action' => 'delete'), 'user-dates-pane-delete', true);   ?>" data-dates-pane-id="<?php echo $row->id; ?>" title="Apagar data" type="button"><i class="icon-trash"></i></button>-->
                    <button class="btn-delete-date-pane" href="#modal-delete" rel="<?php echo $this->url(array('module' => 'user', 'controller' => 'dates-pane', 'action' => 'delete'), 'user-dates-pane-delete', true); ?>" data-dates-pane-id="<?php echo $row->id; ?>" title="Apagar data" type="button"><i class="icon-trash"></i></button>

                    <button class="btn-open-edition" title="Editar data" type="button"><i class="icon-edit"><img src='<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-edit.png'/></i></button>
                    <span class="field fld-preview">
                        <p class="date-pane-text-titulo"><?php echo $this->escape($row->titulo); ?></p>                          
                        <p class="date-pane-text-com ico-<?php echo ($row->genero == 'm') ? 'masculino' : 'feminino' ?>" ><?php echo $this->escape($row->com); ?></p>
                    </span>
                    <div class="edition none">
                        <span class="field fld-titulo">
                            <label for="titulo">Título</label>                           
                            <input type="text" name="titulo" id="titulo_<?php echo $row->id; ?>" value="<?php echo $this->escape($row->titulo); ?>" class="date-pane-inp-titulo" autocomplete="off"/>
                            
                            
                        </span>

                        <span class="field fld-relacionamento">
                            <label for="genero">Relacionamento com</label>

                            <div class="date-pane-inp-com">
                                <select name="genero" class='customSelectGenero' id="genero_<?php echo $row->id; ?>" class="selectOnlyImage">
                                    <option value="m" <?php echo ($row->genero == 'm') ? 'selected' : '' ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-mas.png" class="ico-masculino">M</option>
                                    <option value="f" <?php echo ($row->genero == 'f') ? 'selected' : '' ?> data-imagesrc="<?php echo $this->baseUrl(); ?>/luvminder/imagens/ico-gen-fem.png" class="ico-feminino">F</option>
                                </select>
                                <input type="text" name="com" id="com_<?php echo $row->id; ?>" autocomplete="off" placeholder="Qual o nome da parceira?"  value="<?php echo $this->escape($row->com); ?>"/>
                            </div>
   
                        </span>
                        <span class="field fld-tipo">
                            <label for="tipo_<?php echo $row->id; ?>">Tipo de Relacionamento</label>
                            <select id="tipo_<?php echo $row->id; ?>" name="tipo" class="customSelectTipo">
                                <?php foreach ($this->tipos as $tipo) { ?>
                                    <option value="<?php echo $this->escape($tipo); ?>" <?php echo $tipo == $row->tipo ? 'selected' : ""; ?>><?php echo $this->escape($tipo); ?></option>       
                                <?php } ?>

                                <!--                            <option value="Esquema">Esquema</option>       
                                                            <option value="Pega">Pega</option>       
                                                            <option value="Namoro">Namoro</option>       
                                                            <option value="Noivado">Noivado</option>       
                                                            <option value="Casamento">Casamento</option>       
                                                            <option value="Bodas">Bodas</option>      -->

                            </select>
                        </span>

                        <span class="field fld-data">
                            <label for="data_inicio_<?php echo $row->id; ?>">Data de início</label>
                            <i class="icon icon-calendar"></i>
                            <input type="text" name="data_inicio" id="data_inicio_<?php echo $row->id; ?>" class="datepicker" autocomplete="off" value="<?php
                            $locale = new Zend_Locale('pt_BR');
                            $date = new Zend_Date($row->data_inicio, false, $locale);
                            print $date->toString("d 'de' MMMM 'de' Y");
                            ?>"/>
                        </span>

                        <h3>Lembretes</h3>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>

                        <div class="lembretes">
                            <?php foreach ($this->getReminders($row->id) as $remind) { ?>
                                <input type="hidden" id="reminder_id_<?php echo $row->id; ?>" name="reminder_id[]" value="<?php echo $remind->id; ?>">   
                                <span class="field_group" id="remindes_<?php echo $remind->id ?>">
                                    <label class="none">Intervalo</label>
                                    <input type="text" name="intervalo[]" class="txt_interval" autocomplete="off" value="<?php echo $remind->intervalo ?>"/>                                
                                    <label class="none">Repetição</label>
                                    <select name="repeticao[]" id="repeticao_<?php echo $row->id; ?>" class="customSelectRepeticao">
                                        <option value="d" <?php echo $remind->repeticao == 'd' ? 'selected' : ""; ?>>dia</option>
                                        <option value="s" <?php echo $remind->repeticao == 's' ? 'selected' : ""; ?>>semana</option>
                                        <option value="m" <?php echo $remind->repeticao == 'm' ? 'selected' : ""; ?>>mês</option>
                                        <option value="a" <?php echo $remind->repeticao == 'a' ? 'selected' : ""; ?>>ano</option>
                                    </select>

                                    <label class="none">Antes/Depois</label>
                                    <select name="a_d[]" id="a_d_<?php echo $row->id; ?>" class="customSelectAD">
                                        <option value="a" <?php echo $remind->a_d == 'a' ? 'selected' : ""; ?>>antes</option>
                                        <option value="d" <?php echo $remind->a_d == 'd' ? 'selected' : ""; ?>>depois</option>
                                    </select>

                                    <button type="button" class="btn-lembrete-delete" href="#modal-delete" data-reminder-id="<?php echo $remind->id; ?>" data-relationship-id="<?php echo $row->id; ?>" ><i class="icon-trash"></i></button>
                                </span>
                            <?php } ?>
                            <a href="javascript: void(0);" title="+ adicionar mais lembretes" class="btn-mais-lembrete">+ adicionar mais lembretes</a>

                        </div>

                        <span class="field_group">

                            <label>Onde deseja receber os lembretes?</label>

                            <label for="notification_email" class="checkbox inline">
                                <input type="checkbox" id="notification_email_<?php echo $row->id; ?>" name="notification_email" value="1" class="customCheck" <?php echo $row->notification_email ? 'checked' : ''; ?>/>
                                <i class="icon-mail"></i>
                                email
                            </label>

                        </span>

                        <span class="buttons">
                            <button type="submit" class="btn-salvar"><i class="icon icon-disk"></i> Salvar</button>
                        </span>
                    </div>
                </form>
            <?php } ?>	

        </div>

    </section>

</div>

<div id="modal-delete" class="modal-enter modal-delete">
    <div class="header">
        <h2>Excluir</h2>
    </div>
    <div class="content">

        <div class="opcoes-delete">

            <div class="opcao-resposta">
                <p>Deseja realmente excluir essa data?</p>
                <ul>
                    <li class="btn-cancelar-delete">
                        <a href="javascript:parent.$.fancybox.close();" class="btn-salvar" title="Cancelar">Cancelar</a>
                    </li>
                    <li class="btn-confirmar-delete">
                        <a href="javascript:void(0);" title="Confirmar"></span>Confimar</a>
                    </li>                  
                </ul>
            </div>   

        </div>

    </div>
</div>