<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><?php echo $this->pageTitle; ?></h3>
</div>

<div class="modal-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="150"></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nome:</td>
                <td><?php echo $this->row->nome; ?></td>
            </tr>            
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="javascript: void(0);" onClick="javascript: $('#view-advertiser').modal('hide');" class="btn" data-dismiss="modal" >Voltar</a>
</div>